@import url(../css/fonts.css);
.section {
  padding: 15px 0;
  height: 100%;
  width: 100%;
}

.container {
  min-width: 1210px;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  position: relative;
}

.container_1160 {
  max-width: 1160px;
}

.white-text {
  color: #ffffff;
}

.light-gray-text {
  color: #6e6e6e;
}

.dark-gray-text {
  color: #616161;
}

.green-text {
  color: #1c9d22;
}

.button {
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.button_green {
  background: #1c9d22;
  transition: all 0.3s ease;
}
.button_green:hover {
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.button_blue {
  background: #5b6a91;
  transition: all 0.3s ease;
}
.button_blue:hover {
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.button_empty {
  background: transparent;
}
.button_empty:hover {
  background-color: #1c9d22;
}

.tac {
  text-align: center;
}

.italic {
  font-family: "PT Serif Italic", sans-serif;
  font-style: italic;
}

.medium-title {
  font-family: "Gotham Pro Medium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.light-title {
  font-family: "Gotham Pro Light", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.read-more {
  text-decoration: underline;
}
.read-more:hover {
  text-decoration: none;
}

.lts2 {
  letter-spacing: 2px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz14 {
  font-size: 14px;
}

.fz12 {
  font-size: 12px;
}

.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr30 {
  margin-right: 30px;
}

.pt10 {
  padding-top: 10px;
}

.grid {
  display: -ms-flexbox;
  display: flex;
}

.grid_4-items {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_4-items .grid__item {
  width: 22%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.grid_2-items {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_2-items .grid__item_large-article {
  width: 65%;
}
.grid_2-items .grid__item_small-article {
  width: 25%;
}

.up-case {
  text-transform: uppercase;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.search__loupe {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -495px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 21px;
}

.selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow:after {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -12px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}
.selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow:before {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}

.facebook {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -269px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.google {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -339px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.instagram {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -409px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.twitter {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -846px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.vkontakte {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -916px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.vkontakte-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -881px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.twitter-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -811px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.instagram-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -374px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.google-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -304px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.facebook-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -234px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.logo-footer {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -444px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 43px;
}

.checkbox .jq-checkbox {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -536px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 9px;
}
.checkbox .jq-checkbox.checked {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -522px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 9px;
}

.resume {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -550px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.target {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -655px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.cooperation {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.dream-work {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 93px;
}

.section {
  padding: 15px 0;
  height: 100%;
  width: 100%;
}

.container {
  min-width: 1210px;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  position: relative;
}

.container_1160 {
  max-width: 1160px;
}

.white-text {
  color: #ffffff;
}

.light-gray-text {
  color: #6e6e6e;
}

.dark-gray-text {
  color: #616161;
}

.green-text {
  color: #1c9d22;
}

.button {
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.button_green {
  background: #1c9d22;
  transition: all 0.3s ease;
}
.button_green:hover {
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.button_blue {
  background: #5b6a91;
  transition: all 0.3s ease;
}
.button_blue:hover {
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.button_empty {
  background: transparent;
}
.button_empty:hover {
  background-color: #1c9d22;
}

.tac {
  text-align: center;
}

.italic {
  font-family: "PT Serif Italic", sans-serif;
  font-style: italic;
}

.medium-title {
  font-family: "Gotham Pro Medium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.light-title {
  font-family: "Gotham Pro Light", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.read-more {
  text-decoration: underline;
}
.read-more:hover {
  text-decoration: none;
}

.lts2 {
  letter-spacing: 2px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz14 {
  font-size: 14px;
}

.fz12 {
  font-size: 12px;
}

.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr30 {
  margin-right: 30px;
}

.pt10 {
  padding-top: 10px;
}

.grid {
  display: -ms-flexbox;
  display: flex;
}

.grid_4-items {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_4-items .grid__item {
  width: 22%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.grid_2-items {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_2-items .grid__item_large-article {
  width: 65%;
}
.grid_2-items .grid__item_small-article {
  width: 25%;
}

.up-case {
  text-transform: uppercase;
}

.section__header {
  padding: 10px 0 0;
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-menu {
  font-family: "Gotham Pro Medium", sans-serif;
  text-transform: uppercase;
  width: 445px;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  line-height: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-menu__item {
  position: relative;
  letter-spacing: 0px;
}
.main-menu__item:after {
  position: absolute;
  content: "/";
  top: 0;
  right: -25px;
}
.main-menu__item:last-child {
  margin-right: 0;
}
.main-menu__item:last-child:after {
  display: none;
}

.logo {
  -ms-flex-preferred-size: 43px;
  flex-basis: 43px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  height: 35px;
  max-width: 600px;
  width: 100%;
}

.input__header {
  height: 35px;
  max-width: 300px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.input__header input {
  width: 100%;
  border: 1px solid #1c9d22;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0 10px;
}
.input__header input:hover {
  box-shadow: inset 0 0 1px #1c9d22;
}

.selectbox__header .jq-selectbox {
  width: 115px;
  border: 1px solid #1c9d22;
  border-left: none;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
}
.selectbox__header .jq-selectbox__select {
  height: 100%;
  padding: 6px 25px 6px 10px;
}
.selectbox__header .jq-selectbox__select:hover {
  box-shadow: inset 0 0 1px #1c9d22;
}
.selectbox__header .jq-selectbox__dropdown {
  top: 33px;
  left: -1px;
  background: #fff;
  border: 1px solid #1c9d22;
  padding: 10px;
}
.selectbox__header .jq-selectbox__select-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selectbox__header .jq-selectbox li {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.selectbox__header .jq-selectbox li:hover {
  color: #1c9d22;
}
.selectbox__header .jq-selectbox li:last-child {
  margin-bottom: 0;
}
.selectbox__header .jq-selectbox li.selected {
  color: #1c9d22;
  text-decoration: underline;
}
.selectbox__header .jq-selectbox__trigger .jq-selectbox__trigger-arrow:after {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -12px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
  z-index: 0;
  position: absolute;
  content: "";
  top: 7px;
  right: 5px;
}
.selectbox__header .jq-selectbox__trigger .jq-selectbox__trigger-arrow:before {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
  z-index: 0;
  position: absolute;
  content: "";
  top: 19px;
  right: 5px;
}

.login {
  position: relative;
}

.search__button {
  height: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

.search__loupe {
  margin: auto;
}

.search__advanced-search {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 6px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.header-login-form {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-login__form {
  background: #ffffff;
  padding: 30px 7px;
  width: 200px;
  margin-left: -90px;
  top: 97px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0px 15px #8e8e8e;
}
.header-login__form:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 135px;
  width: 15px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
  box-shadow: -5px -5px 10px -1px rgba(0, 0, 0, 0.2);
}

.header-login-form__input {
  position: relative;
  border-radius: 15px;
  border: 1px solid #616161;
  width: 160px;
  padding: 1px 10px;
}
.header-login-form__input:hover {
  box-shadow: inset 0 0 1px black;
}

.header__button-login {
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header-login-form__button {
  font-size: 14px;
  border: 1px solid #1c9d22;
  border-radius: 15px;
  padding: 2px 25px;
  color: #1c9d22;
  cursor: pointer;
  transition: all 0.1s ease;
}
.header-login-form__button:hover {
  color: #ffffff;
}

.section_main-banner {
  height: 1080px;
  width: 100%;
  background: url("../images/main-bg.jpg") no-repeat top;
  -o-box-shadow: inset 0px -250px 100px 0px #fff;
  box-shadow: inset 0px -250px 100px 0px #fff;
  background-size: contain;
  position: absolute;
  z-index: 1;
}

.dashboard {
  width: 100%;
  margin: 230px 0 0px 170px;
}

.dashboard__title {
  font-family: "Gotham Pro Medium", sans-serif;
  font-size: 30px;
  color: #e7ecf0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
  text-transform: uppercase;
  letter-spacing: 0.65px;
}

.dashboard__subtitle {
  font-size: 30px;
  color: #e7ecf0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
  letter-spacing: 0.85px;
  margin-bottom: 30px;
}

.dashboard__buttons {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}

.dashboard__button {
  font-family: "Gotham Pro Light", sans-serif;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  margin-right: 70px;
  color: #ffffff;
  font-size: 18px;
}

.dashboard__form-wrapper {
  position: relative;
  margin-left: 100px;
  height: 350px;
  width: 355px;
}
.dashboard__form-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-left: 70px solid #449a37;
}

.dashboard__form-header {
  width: 285px;
  height: 70px;
  background: linear-gradient(135deg, #73b260 0%, #51a843 100%);
}

.dashboard-form__body {
  width: 355px;
  height: 285px;
  padding: 10px 70px;
  background: linear-gradient(135deg, #6fb05c 0%, #229e25 100%);
}

.dashboard-form__title {
  padding-top: 40px;
  text-align: right;
  color: #ffffff;
}

.dashboard-form__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.dashboard-form__input {
  display: inline-block;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 215px;
  padding: 1px 10px;
}

.dashboard-form__button {
  font-size: 14px;
  color: #ffffff;
  display: block;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 15px;
  height: 30px;
  padding: 1px 10px;
}

.dashboard-form__remember-me {
  margin-left: 20px;
}

.checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox .jq-checkbox {
  cursor: pointer;
  line-height: 1;
}

.checkbox__label {
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  line-height: 1;
}

.remember-me__forgot-pass {
  color: #ffffff;
  font-size: 12px;
  margin-left: 13px;
  line-height: 1;
  text-decoration: underline;
}
.remember-me__forgot-pass:hover {
  text-decoration: none;
}

.section_main-content {
  background: linear-gradient(to bottom, #ffffff 0%, #9f9fa0 100%);
}

.main-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-content__banner {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 16.3%;
}

.main-content__image {
  border: 1px solid #1c9d22;
  width: 100%;
}

.main-content__content {
  position: relative;
  padding: 10px 125px 0;
  width: 100%;
}

.main-features {
  width: 100%;
  margin-bottom: 80px;
}
.main-features:after {
  margin-top: 50px;
  left: calc(50% - 25%);
  width: 50%;
  height: auto;
  content: "";
  position: absolute;
  border-bottom: 1px solid #000;
}

.feautures-item__title {
  font-family: "Gotham Pro Light";
  font-size: 14px;
  text-transform: uppercase;
}

.feautures-item__descr {
  text-align: justify;
  color: #616161;
}

.main-articles {
  width: 100%;
}

.main-articles-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.main-articles-grid__item-large {
  width: 61%;
  padding-bottom: 30px;
}

.main-articles-grid__item-small {
  width: 35%;
  height: 200px;
  padding-bottom: 30px;
}

.main-article {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.main-article:hover .main-article__text {
  max-height: 135px;
}

.main-article__wrap {
  position: absolute;
  z-index: 1;
}

.main-article__descr {
  color: #fff;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(91, 106, 145, 0.85);
  overflow: hidden;
  bottom: 3px;
  padding: 0 10px;
}

.main-article__title {
  padding-top: 10px;
  max-height: 70px;
  overflow: hidden;
}

.main-article__text {
  padding-bottom: 10px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
}

.main-article__image-wrap {
  position: relative;
  width: 100%;
}

.main-article__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.section_footer {
  background: #f7f7f7;
}

.footer-head {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 80px;
}
.footer-head:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 45px;
}

.footer-head__logo {
  width: 15%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.footer-head__logo-text {
  text-transform: uppercase;
}

.footer-head__nav {
  width: 50%;
}

.footer-head__site {
  width: 10%;
}

.footer-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-nav__item {
  text-transform: uppercase;
  list-style-type: none;
}

.footer-head__site {
  text-transform: uppercase;
}

.footer-bottom {
  padding: 0 10px;
}

.footer-bottom-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mb10 {
  margin-bottom: 10px;
}

html, body {
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong, b {
  font-weight: normal;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

select {
  display: none;
}
select:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

@media screen and (max-width: 1500px) {
  .grid_4-items {
    margin-bottom: -30px;
  }
  .grid_4-items .grid__item {
    padding-bottom: 30px;
    width: 45%;
  }
}
