.fri {
  display: inline-block;
  vertical-align: middle;
}

.search__loupe {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -669px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 21px;
}

.selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow:after {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -12px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}
.selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow:before {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}

.facebook {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -352px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.google {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -422px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.instagram {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -492px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.twitter {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -1020px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.vkontakte {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -1143px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.vkontakte-green {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -1108px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.twitter-green {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -985px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.instagram-green {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -457px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.google-green {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -387px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.facebook-green {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -317px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.logo-footer {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -527px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 43px;
}

.logo-new {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -578px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.logo-text {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -631px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 170px;
}

.jq-checkbox {
  font-size: 0;
  line-height: 0;
}

.checkbox .jq-checkbox__div {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: relative;
}
.checkbox .jq-checkbox__div:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}
.checkbox input:checked + .jq-checkbox__div:after {
  opacity: 1;
}

.resume {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -724px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.target {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -829px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.cooperation {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -107px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.dream-work {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -212px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 93px;
}

.user-avatar {
  background-image: url('../images/icons-s366eef5293.png');
  background-position: 0 -1055px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}
