.section {
  padding: 15px 0;
  height: 100%;
  width: 100%;
}

.container {
  min-width: 1210px;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  position: relative;
}

.container_1160 {
  max-width: 1160px;
}

.white-text {
  color: #ffffff;
}

.light-gray-text {
  color: #6e6e6e;
}

.dark-gray-text {
  color: #616161;
}

.green-text {
  color: #1c9d22;
}

.button {
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.button_green {
  background: #1c9d22;
  transition: all 0.3s ease;
}
.button_green:hover {
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.button_blue {
  background: #5b6a91;
  transition: all 0.3s ease;
}
.button_blue:hover {
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.button_empty {
  background: transparent;
}
.button_empty:hover {
  background-color: #1c9d22;
}

.tac {
  text-align: center;
}

.italic {
  font-family: "PT Serif Italic", sans-serif;
  font-style: italic;
}

.medium-title {
  font-family: "Gotham Pro Medium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.light-title {
  font-family: "Gotham Pro Light", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.read-more {
  text-decoration: underline;
}
.read-more:hover {
  text-decoration: none;
}

.lts2 {
  letter-spacing: 2px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz14 {
  font-size: 14px;
}

.fz12 {
  font-size: 12px;
}

.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr30 {
  margin-right: 30px;
}

.pt10 {
  padding-top: 10px;
}

.grid {
  display: -ms-flexbox;
  display: flex;
}

.grid_4-items {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_4-items .grid__item {
  width: 22%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.grid_2-items {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_2-items .grid__item_large-article {
  width: 65%;
}
.grid_2-items .grid__item_small-article {
  width: 25%;
}

.up-case {
  text-transform: uppercase;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.search__loupe {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -495px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 21px;
}

.selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow:after {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -12px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}
.selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow:before {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}

.facebook {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -269px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.google {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -339px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.instagram {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -409px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.twitter {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -846px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.vkontakte {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -916px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.vkontakte-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -881px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.twitter-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -811px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.instagram-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -374px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.google-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -304px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.facebook-green {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -234px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.logo-footer {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -444px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 43px;
}

.checkbox .jq-checkbox {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -536px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 9px;
}
.checkbox .jq-checkbox.checked {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -522px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 9px;
}

.resume {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -550px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.target {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -655px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.cooperation {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.dream-work {
  background-image: url('../images/icons-se35a2843af.png');
  background-position: 0 -129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 93px;
}
