.fri {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.fri_search-button-loupe {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1012px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 21px;
}

.inputs-header__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow:after {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}
.inputs-header__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow:before {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -90px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}

.fri_facebook {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -642px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_google {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -765px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_instagram {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -835px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_twitter {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1779px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_vkontakte {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1933px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_vkontakte-green {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1898px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_twitter-green {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1744px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_instagram-green {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -800px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_google-green {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -730px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_facebook-green {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -607px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_logo-footer {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -870px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 43px;
}

.fri_logo-new {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -921px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.fri_logo-text {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -974px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 170px;
}

.jq-checkbox {
  font-size: 0;
  line-height: 0;
}

.checkbox .jq-checkbox__div {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: relative;
}
.checkbox .jq-checkbox__div:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}
.checkbox input:checked + .jq-checkbox__div:after {
  opacity: 1;
}

.fri_resume {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1430px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.fri_target {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1588px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.fri_cooperation {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -304px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.fri_dream-work {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -409px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 93px;
}

.fri_avatar {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1814px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.auth-slider .owl-prev, .auth-slider .owl-next {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  width: 44px;
}
.auth-slider .owl-prev {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  width: 44px;
}
.auth-slider .owl-next {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  width: 44px;
}

.announce_backing::before {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}
.announce_backing::after {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}

.auth-slider__second-slide-announce-backing::after {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}
.auth-slider__second-slide-announce-backing::before {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}

.announce__content::before {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -559px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 19px;
}

.fri_announce-content-close {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -70px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}

.fri_non-cash-credit-card {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1116px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 36px;
}

.fri_non-cash-man {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 57px;
}

.fri_non-cash-terminal {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1235px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 64px;
}

.fri_visa {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1867px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 72px;
}

.fri_american-express {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 112px;
}

.fri_master-card {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1063px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 81px;
}

.fri_filter-remove-input {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -712px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 12px;
}

.fri_filter-add-input {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -677px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
}

.fri_print {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1349px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 22px;
}

.fri_calendar {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -258px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 22px;
}

.fri_place {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1318px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 18px;
}

.fri_sex {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1535px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 24px;
}

.fri_marital-status {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1039px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 25px;
}

.fri_email {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -536px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 26px;
}

.fri_phone {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1292px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 18px;
}

.fri_education {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -514px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 23px;
}

.fri_experience {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -583px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 23px;
}

.fri_skills {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1566px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 19px;
}

.fri_additional {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.fri_probation {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -1374px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 23px;
}

.fri_checked {
  background-image: url('../images/icons-s9cf2352ff5.png');
  background-position: 0 -287px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
}
