.fri {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.fri_search-button-loupe {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1248px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 21px;
}

.fri_search-button-loupe-17x18 {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1275px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 17px;
}

.inputs-header__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow:after {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}
.inputs-header__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow:before {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -90px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 15px;
}

.fri_facebook, .settings-network-facebook {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -857px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.fri_facebook.active, .settings-network-facebook.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -822px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_google, .settings-network-google {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -980px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.fri_google.active, .settings-network-google.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -945px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_instagram, .settings-network-instagram {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1050px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.fri_instagram.active, .settings-network-instagram.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1015px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_twitter, .settings-network-twitter {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2882px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.fri_twitter.active, .settings-network-twitter.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2847px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_vkontakte, .settings-network-vkontakte {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -3054px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.fri_vkontakte.active, .settings-network-vkontakte.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -3019px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_vkontakte-green {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -3019px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_twitter-green {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2847px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_instagram-green {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1015px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_google-green {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -945px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_facebook-green {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -822px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.settings-network-facebook {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2285px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.settings-network-facebook:hover {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -822px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.settings-network-google {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2320px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.settings-network-google:hover, .settings-network-google.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -945px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.settings-network-instagram {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2355px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.settings-network-instagram:hover, .settings-network-instagram.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1015px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.settings-network-twitter {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2390px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.settings-network-twitter:hover, .settings-network-twitter.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2847px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.settings-network-vkontakte {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2425px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.settings-network-vkontakte:hover, .settings-network-vkontakte.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -3019px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.settings-network-facebook:hover, .settings-network-facebook.active {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -822px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_logo-footer {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1106px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 43px;
}

.fri_logo-new {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1157px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.fri_logo-text {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1210px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 170px;
}

.jq-checkbox {
  font-size: 0;
  line-height: 0;
}

.checkbox .jq-checkbox__div {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: relative;
}
.checkbox .jq-checkbox__div:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.checkbox input:checked + .jq-checkbox__div:after {
  opacity: 1;
}

.fri_resume {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2180px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.fri_target {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2659px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.fri_cooperation {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -353px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.fri_dream-work {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -501px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 93px;
}

.fri_avatar {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2917px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.auth-slider .owl-prev, .auth-slider .owl-next {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -210px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  width: 44px;
}
.auth-slider .owl-prev {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -210px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  width: 44px;
}
.auth-slider .owl-next {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -210px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  width: 44px;
}

.announce_backing::before {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -149px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}
.announce_backing::after {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -149px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}

.auth-slider__second-slide-announce-backing::after {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -149px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}
.auth-slider__second-slide-announce-backing::before {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -149px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 79px;
}

.announce__content::before {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -774px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 19px;
}

.fri_exclamation-green {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -750px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 19px;
}

.fri_announce-content-close {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -70px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}

.fri_non-cash-credit-card {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1489px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 36px;
}

.fri_non-cash-man {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1652px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 57px;
}

.fri_non-cash-terminal {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1769px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 64px;
}

.fri_non-cash-credit-card-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1430px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 36px;
}

.fri_non-cash-man-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1592px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 57px;
}

.fri_non-cash-terminal-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1712px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 64px;
}

.fri_visa {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2988px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 79px;
}

.fri_american-express {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 112px;
}

.fri_master-card {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1322px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 81px;
}

.fri_filter-remove-input {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -927px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 12px;
}

.fri_filter-add-input {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -892px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
}

.fri_print {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2063px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 22px;
}

.fri_calendar {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -293px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 22px;
}

.fri_place {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1976px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 18px;
}

.fri_place-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1929px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}

.fri_sex {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2460px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 24px;
}

.fri_marital-status {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1298px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 25px;
}

.fri_email {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -727px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 26px;
}

.fri_email-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -649px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 41px;
}

.fri_phone {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1903px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 18px;
}

.fri_phone-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1826px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 41px;
}

.fri_education {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -627px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 23px;
}

.fri_experience {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -798px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 23px;
}

.fri_skills {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2491px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 19px;
}

.fri_additional {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.fri_probation {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2088px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 23px;
}

.fri_checked {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -336px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
}

.fri_thrash {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2815px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 11px;
}

.fri_views {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2970px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 21px;
}

.fri_message {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1375px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.fri_website-on-pdf {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -3145px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}

.fri_email-on-pdf {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -695px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 26px;
}

.fri_phone-on-pdf {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1872px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}

.fri_back-to {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.fri_statistic {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2513px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 101px;
  width: 143px;
}

.fri_invitations {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1085px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 22px;
}

.fri_required {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2165px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 9px;
}

.fri_edit {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -606px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 17px;
}

.fri_remove {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2144px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 11px;
}

.checkbox-switcher .jq-checkbox {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2619px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 30px;
}
.checkbox-switcher .checked {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2639px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 30px;
}

.fri_practice {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2035px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 40px;
}

.tab-bar__item_blue:hover .fri_practice {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2007px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 40px;
}
.tab-bar__item_blue.active .fri_practice {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2007px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 40px;
}

.fri_credit-card-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -458px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 43px;
}

.fri_non-cash-gray {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -1548px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 45px;
}

.green-checkbox .checked .jq-checkbox__div {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -322px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 9px;
}

.fri_warning {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -3089px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 55px;
}

.custom-checkbox-switcher .custom-checkbox__div {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2619px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 30px;
}
.custom-checkbox-switcher input[type=checkbox]:checked + .custom-checkbox__div {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2639px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 30px;
}

.static-checkbox-switcher-on {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2639px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 30px;
}

.static-checkbox-switcher-off {
  background-image: url('../images/icons-sa7a51ed212.png');
  background-position: 0 -2619px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 30px;
}

/*# sourceMappingURL=icons.css.map */
