.section__cv-finder
	background: linear-gradient(to bottom, #fefefe 0%, #e5e5e5 95%, #bdbdbe 100%)
	padding: 50px 0 110px

.cv-finder__title
	padding-left: 30px

.cv-finder-grid
	display: flex

.cv-finder-grid__left
	max-width: 200px
	width: 100%
	margin-right: 20px
	flex-shrink: 0

.cv-finder-grid__right
	flex-grow: 1
	flex-shrink: 1
	display: flex
	max-width: 620px
	align-items: center

.cv-finder-grid__currency
	display: flex
	flex-grow: 1

.cv-finder-grid__salary
	display: flex

.cv-finder-grid__salary-input
	max-width: 120px

.cv-finder-grid__salary-label
	align-self: center

.cv-finder__line
	width: 100%

.cv-finder-grid__salary-from, .cv-finder-grid__salary-to
	display: flex
	align-items: center
	flex-wrap: wrap

.cv-finder__button
	height: 36px
	width: 180px
	padding: 10px 0