.section_footer
	background: #f7f7f7

.footer-head
	position: relative
	display: flex
	align-items: center
	justify-content: space-between
	padding: 45px 10px
	//margin-bottom: 80px
	&:after
		position: absolute
		content: ''
		width: 100%
		height: 1px
		background-color: #000000
		bottom: 0
		left: 0

.footer-head__logo
	display: flex
	justify-content: space-between
	align-items: center
	white-space: nowrap
	margin-right: 20px

.footer-head__logo-text
	text-transform: uppercase

.footer-head__nav
	flex-grow: 1
	max-width: 450px

.footer-head__site
	margin-left: 20px

.footer-nav
	display: flex
	justify-content: space-between

.footer-nav__item
	text-transform: uppercase
	list-style-type: none

.footer-head__site
	text-transform: uppercase

.footer-bottom
	padding: 0 10px

.footer-bottom-grid
	display: flex
	justify-content: space-between

.footer-social
	display: flex
	justify-content: space-between

.footer-social__item
	+transition()
	&:hover
		opacity: 0.7