.lnh0
	line-height: 0

.lts1
	letter-spacing: 1px

.lts2
	letter-spacing: 2px

.lts3
	letter-spacing: 3px

.fz72
	font-size: 72px

.fz36
	font-size: 36px

.fz32
	font-size: 32px

.fz30
	font-size: 30px

.fz25
	font-size: 25px

.fz24
	font-size: 24px

.fz20
	font-size: 20px

.fz22
	font-size: 22px

.fz19
	font-size: 19px

.fz18
	font-size: 18px

.fz16
	font-size: 16px

.fz15
	font-size: 15px

.fz14
	font-size: 14px

.fz13
	font-size: 13px

.fz12
	font-size: 12px

.fz10
	font-size: 10px

.mt3
	margin-top: 3px

.mt7
	margin-top: 7px

.mt17
	margin-top: 17px

.mb0
	margin-bottom: 0

.mb5
	margin-bottom: 5px

.mb7
	margin-bottom: 7px

.mb10
	margin-bottom: 10px

.mb15
	margin-bottom: 15px

.mb17
	margin-bottom: 17px

.mb20
	margin-bottom: 20px

.mb25
	margin-bottom: 25px

.mb30
	margin-bottom: 30px

.mb35
	margin-bottom: 35px

.mb40
	margin-bottom: 40px

.mb45
	margin-bottom: 45px

.mb50
	margin-bottom: 50px

.mb55
	margin-bottom: 55px

.mb60
	margin-bottom: 60px

.mb65
	margin-bottom: 65px

.mb70
	margin-bottom: 70px

.mb75
	margin-bottom: 75px

.mb80
	margin-bottom: 80px

.mb85
	margin-bottom: 85px

.mb90
	margin-bottom: 90px

.mr5
	margin-right: 5px

.mr10
	margin-right: 10px

.mr15
	margin-right: 15px

.mr20
	margin-right: 20px

.mr25
	margin-right: 25px

.mr30
	margin-right: 30px

.mr35
	margin-right: 35px

.mr45
	margin-right: 45px

.mr55
	margin-right: 55px

.mr60
	margin-right: 60px

.mr90
	margin-right: 90px

.mr130
	margin-right: 130px

.pt0
	padding-top: 0

.pt5
	padding-top: 5px

.pt10
	padding-top: 10px

.pt15
	padding-top: 15px

.pt20
	padding-top: 20px

.pt40
	padding-top: 40px

.pt50
	padding-top: 50px

.pt55
	padding-top: 55px

.pt60
	padding-top: 60px

.pt75
	padding-top: 75px

.pt80
	padding-top: 80px

.pt90
	padding-top: 90px

.pb0
	padding-bottom: 0

.pb15
	padding-bottom: 15px

.pb20
	padding-bottom: 20px

.pb30
	padding-bottom: 30px

.pb45
	padding-bottom: 45px

.pb50
	padding-bottom: 50px

.pb55
	padding-bottom: 55px

.pb65
	padding-bottom: 65px

.pb80
	padding-bottom: 80px

.pb110
	padding-bottom: 110px

.pb120
	padding-bottom: 120px

.pb195
	padding-bottom: 195px

.pl10
	padding-left: 10px

.pl15
	padding-left: 15px

.pl20
	padding-left: 20px

.pl25
	padding-left: 25px

.pl30
	padding-left: 30px

.pl35
	padding-left: 35px

.pl40
	padding-left: 40px

.pl50
	padding-left: 50px

.pl70
	padding-left: 70px

.pl75
	padding-left: 75px

.pl90
	padding-left: 90px

.pl100
	padding-left: 100px

.pl110
	padding-left: 110px

.pl150
	padding-left: 150px

.pl160
	padding-left: 160px

.pl240
	padding-left: 240px

.pl265
	padding-left: 265px

.pr25
	padding-right: 25px

.pr40
	padding-right: 40px

.pr50
	padding-right: 50px

.pr90
	padding-right: 90px

.hidden
	display: none

.line-height
	line-height: 2

.line-height0
	line-height: 0

.cursor-pointer
	cursor: pointer

.clearfix
	&:after
		content: ''
		display: block
		clear: both