.section
	padding: 15px 0

.container
	min-width: 1210px
	max-width: 1960px
	margin: 0 auto
	padding: 0 20px
	width: 100%

.gray-text
	color: #6e6e6e

.green-text
	color: #1c9d22

.button
	font-family: "Gotham Pro", sans-serif
	text-transform: uppercase
	cursor: pointer

.button_green
	background: #1c9d22
	transition: all 0.3s ease
	&:hover
		box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5)

.button_blue
	background: #5b6a91
	transition: all 0.3s ease
	&:hover
		box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5)

.button_empty
	background: transparent
	&:hover
		background-color: #1c9d22

.tac
	text-align: center

.italic
	font-family: "PT Serif Italic", sans-serif
	font-style: italic

.mb0
	margin-bottom: 0

.mb5
	margin-bottom: 5px

.mb10
	margin-bottom: 10px

.mb15
	margin-bottom: 15px

.mb20
	margin-bottom: 20px

.mb25
	margin-bottom: 25px

.mb30
	margin-bottom: 30px

.mr5
	margin-right: 5px

.mr10
	margin-right: 10px

.mr30
	margin-right: 30px

.grid
	display: flex

.grid_4-items
	justify-content: space-between
	.grid__item
		width: 19%
		display: flex
		flex-direction: column
		align-items: center