.header
	position: relative

.section__header
	padding: 10px 0 0

.header-inner
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	position: relative

.header-inner__left
	display: flex
	align-items: center
	flex-grow: 1

.header-inner__right
	display: flex
	align-items: center
	justify-content: space-between
	flex-grow: 1

.desktop-main-menu
	flex-basis: 445px

.main-menu
	font-family: "Gotham Pro Medium", sans-serif
	text-transform: uppercase
	list-style-type: none
	line-height: 1
	display: flex

.main-menu__item
	position: relative
	letter-spacing: 0
	margin-right: 15px
	padding-right: 20px
	&::after
		position: absolute
		content: "/"
		top: 0
		right: 0
	&:last-child
		margin-right: 0
		padding-right: 0
		&::after
			content: none

.logo
	flex-grow: 1

.logo__link
	display: inline-block
	
.header-search
	display: flex
	align-items: center
	flex-grow: 1

.header-search__left
	margin-right: 15px
	flex-grow: 1

.header-search__right
	flex-grow: 1
	flex-shrink: 0

.inputs-header
	display: flex
	align-items: center

.inputs-header__input
	flex-grow: 1
	height: 34px
	font-size: 14px
	border: 1px solid $forest-green
	border-bottom-left-radius: 25px
	border-top-left-radius: 25px
	padding: 0 25px
	&:hover
		box-shadow: inset 0 0 1px rgba(28, 157, 34, 1)
	+placeholder
		color: $dull-gray

.inputs-header__select, .mobile-search-form__select
	height: 34px
	z-index: 10

	.jq-selectbox
		border: 1px solid $forest-green
		border-left: none
		cursor: pointer
		font-size: 14px
		height: 100%
		width: 100%
		&:hover
			box-shadow: inset 0 0 1px rgba(28, 157, 34, 1)

	.jq-selectbox__select
		padding: 6px 25px 6px 10px

	.jq-selectbox__dropdown
		top: 32px
		left: -1px
		background: $white
		border: 1px solid $forest-green
		padding: 10px

	.jq-selectbox__select-text
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis

	.jq-selectbox li
		width: 100%
		margin-bottom: 10px
		cursor: pointer
		&:hover
			color: $forest-green
		&:last-child
			margin-bottom: 0

	.jq-selectbox li.selected
		color: $forest-green
		text-decoration: underline

	.jq-selectbox__trigger

		.jq-selectbox__trigger-arrow

			&::after
				z-index: 0
				position: absolute
				content: ''
				top: 7px
				right: 5px

			&::before
				z-index: 0
				position: absolute
				content: ''
				top: 19px
				right: 5px

.login
	position: relative

.inputs-header__search-button, .mobile-search-form__button
	display: flex
	flex-shrink: 0
	width: 45px
	height: 34px
	border-bottom-left-radius: 0
	border-top-left-radius: 0

.fri_search-button-loupe
	margin: auto

.header-login-form
	position: absolute
	display: flex
	flex-direction: column

.header-login__dropdown
	position: absolute
	top: calc(100% + 15px)
	margin-top: 100px
	margin-left: -90px
	visibility: hidden
	opacity: 0
	+transition(all 0.3s ease)
	&.opened
		margin-top: 0
		visibility: visible
		opacity: 1

.header-login__form
	position: relative
	background: $white
	padding: 30px 15px
	width: 200px
	text-align: center
	border-radius: 5px
	box-shadow: 0 0 15px $telegray
	&::after
		content: ''
		position: absolute
		top: -5px
		left: 135px
		width: 15px
		height: 15px
		background: $white
		transform: rotate(45deg)
		box-shadow: -5px -5px 10px -1px rgba(0, 0, 0, 0.2)

.header-login-form__input
	position: relative
	border-radius: 15px
	border: 1px solid $dark-dull-gray
	width: 100%
	padding: 1px 10px
	color: $light-gray
	+placeholder
		color: $light-gray
	&:hover
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 1)

.header-login__button-login
	padding: 0 20px
	height: 34px
	width: 100px
	display: flex
	align-items: center

.header-login-form__button
	font-size: 14px
	height: 22px
	width: 94px

.header-avatar
	position: relative
	margin-right: 25px
	cursor: pointer
	display: inline-block
	&::after
		position: absolute
		content: ''
		bottom: 13px
		right: -20px
		width: 0
		height: 0
		border-style: solid
		border-width: 7px 7.5px 0 7.5px
		border-color: $dark-dull-gray transparent transparent transparent
		opacity: 1
		+transition(all 0.2 ease)
	&::before
		position: absolute
		content: ''
		bottom: 13px
		right: -20px
		width: 0
		height: 0
		border-style: solid
		border-width: 0 7.5px 7px 7.5px
		border-color: transparent transparent $dark-dull-gray transparent
		opacity: 0

.header-avatar__wrapper
	width: 48px
	height: 48px
	border-radius: 50%
	border: 2px solid $forest-green
	object-fit: cover
	overflow: hidden

.header-avatar__image
	height: 48px

.header-avatar__count
	box-sizing: border-box
	position: absolute
	top: 0
	right: -10px
	text-align: center
	font-size: 12px
	font-family: "Gotham Pro Medium", sans-serif
	padding: 1px 4px
	min-width: 20px
	height: 20px
	background-color: $forest-green
	border: 2px solid $white
	border-radius: 50%
	color: $white

.user-menu
	padding: 20px 19px 5px
	width: 180px
	background: $white
	border: 1px solid $forest-green

.user-menu__dropdown
	position: absolute
	top: calc(100% + 20px)
	right: 5px
	visibility: hidden
	opacity: 0
	margin-top: -20px
	z-index: 101
	+transition(all 0.3s ease)
	&.opened
		margin-top: 0
		visibility: visible
		opacity: 1

.user-menu__item
	position: relative
	list-style-type: none
	padding-bottom: 10px
	margin-bottom: 7.5px
	word-wrap: break-word
	&:hover
		color: $forest-green
		.user-menu__item-statistic
			opacity: 0.8
	&::after
		position: absolute
		content: ''
		bottom: 0
		left: 20px
		width: 70%
		border-bottom: 1px solid #9e9e9e
	&:last-child::after
		content: none

.user-menu__item-statistic
	display: inline-block
	margin-left: 15px
	background: $forest-green
	border-radius: 50%
	min-width: 20px
	padding: 4px 4px 0
	text-align: center
	height: 20px
	color: $white
	font-size: 11px
	font-family: "Gotham Pro Medium", sans-serif
	font-style: normal
	&a
		&:hover
			text-decoration: none

.main-header__menu-button
	flex-basis: 180px
	text-align: right
	display: none

.button-hamburger
	width: 50px
	height: 40px
	position: relative
	cursor: pointer
	display: inline-block
	vertical-align: middle
	outline: none
	background-color: $forest-green
	+transition()
	&.active
		height: 50px
		.button-hamburger__line
			opacity: 0
			height: 4px
			top: 50%
			margin-top: -2px
			&:first-child
				transform: rotate(45deg)
				opacity: 1
			&:last-child
				transform: rotate(-45deg)
				opacity: 1

.button-hamburger__line
	position: absolute
	height: 2px
	background-color: #fff
	right: 8px
	left: 8px
	top: 50%
	margin-top: -1px
	+transition()
	&:first-child
		top: 8px
		margin-top: 0
	&:last-child
		top: auto
		margin-top: 0
		bottom: 8px