.section__order-employer-header
	padding: 62px 0 25px 0
	background: linear-gradient(to bottom, #d9d9d9 0%, #fafafa 20%, #f0f0f0 90%, #e4e4e4 100%)

.announce_backing
	margin-left: 355px
	padding-left: 65px
	padding-bottom: 9px
	position: relative
	&::before
		position: absolute
		content: ''
		top: 9px
		bottom: 0
		left: 0

.announce__content
	display: inline-block
	padding: 19px 11px 19px 60px
	position: relative
	background: $pigeon-blue
	width: 810px
	&::before
		position: absolute
		content: ''
		top: auto
		bottom: auto
		left: 28px

.announce__content-close
	position: absolute
	top: -5px
	right: -5px
	cursor: pointer
	&:hover
		-webkit-filter: brightness(110%)

.announce__text
	padding-top: 4px
	letter-spacing: 0.4px

.section__order-employer-content
	background: linear-gradient(to bottom, #fefefe 0%, #e5e5e5 95%, #bdbdbe 100%)
	padding: 92px 0 195px

.order-employer-content-grid
	display: flex
	justify-content: space-between

.order-employer-content-grid__item
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	border: 1px solid $pigeon-blue
	background: $white
	border-radius: 25px
	padding: 25px 25px
	width: 400px
	box-shadow: 0 10px 10px -10px $black

.order-employer-content-grid__item-title
	font-family: "Gotham Pro Medium", sans-serif
	text-transform: uppercase
	color: $pigeon-blue
	text-align: center
	font-size: 20px
	font-weight: 800
	letter-spacing: 0.5px

.order-employer-content-inner-grid
	display: flex
	justify-content: space-between

.order-employer-content-inner-grid__item
	&:last-child
		margin-right: 0