.section__content-search
	padding: 60px 0
	background: linear-gradient(to bottom, #d9d9d9 0%, #fafafa 20%, #f0f0f0 90%, #e4e4e4 100%)

.banner
	margin-right: 0
	margin-left: auto
	max-width: 760px
	img
		width: 100%

.search-vacancies
	display: flex
	justify-content: space-between
	padding-bottom: 40px

.filter
	padding: 20px 10px
	border: 1px solid $forest-green
	width: 240px
	flex-shrink: 0
	background-color: $smoke-white
	margin-bottom: -15px
	align-self: flex-start

.filter__input
	display: inline-block
	width: 100%
	border: 1px solid #9f9f9f
	border-radius: 10px
	padding: 1px 15px
	font-size: 14px
	color: $dark-dull-gray

.filter__input_salary
	width: 70px
	padding: 1px 7px

.filter__select-currency
	margin-right: 10px
	.jq-selectbox__select
		width: auto
		min-width: 100%

	.jq-selectbox__dropdown
		margin-top: -24px
		padding-top: 2px
		width: auto
		min-width: 100%

	.jq-selectbox__trigger
		margin-left: 5px

	li
		margin-bottom: 5px

.filter__line
	display: flex
	align-items: center
	flex-wrap: wrap

.filter__line_currency
	display: inline-flex
	flex-wrap: nowrap
	.fri_filter-add-input
		width: 20px

.filter-input__item
	display: inline-block
	font-size: 14px
	font-family: "PT Serif Italic", sans-serif
	color: $dark-dull-gray
	margin-right: 10px
	flex-wrap: nowrap
	margin-top: 5px

.fri_filter-remove-input
	cursor: pointer
	margin-left: 5px

.fri_filter-add-input
	cursor: pointer

.filter__add
	padding-left: 17px

.filter__line_justify-start
	justify-content: flex-start

.filter__line_align-baseline
	align-items: baseline

.fri_filter-show-input
	width: 0
	height: 0
	border-style: solid
	border-width: 5px 5px 0 5px
	border-color: $light-gray transparent transparent transparent
	cursor: pointer

.filter__search-button
	width: 100%

.search-vacancies__filter-button
	width: 100%
	display: none

.results
	padding-top: 23px
	flex-shrink: 0
	flex-grow: 1

.search__results
	padding-left: 187px
	letter-spacing: 0.5px

.search-wrapper
	position: relative
	padding-bottom: 55px
	width: 100%
	&::after
		position: absolute
		content: ''
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		border-bottom: 1px solid $dark-dull-gray
		max-width: 500px
		width: 100%

.search-grid
	position: relative
	display: flex
	justify-content: space-between
	padding: 3px 21px 3px 5px
	border: 2px solid transparent
	&:hover
		.round-thumbnail
			box-shadow: 0 0 10px 0 rgba(#000000, 0.5)
		.search-description__name
			text-decoration: underline
		.search-grid__item-salary
			text-decoration: underline

.search-grid__item-image
	position: relative
	display: inline-block
	width: 125px
	height: 125px
	flex-shrink: 0
	margin-right: 40px

.search-grid__item-description
	padding: 15px 0
	max-width: calc(100% - 165px)
	width: 100%
	margin-right: 15px

.search-description
	display: flex
	flex-direction: column
	align-content: space-between

.search-description__name
	font-weight: 800
	letter-spacing: 0.7px
	+transition()

.search-description__description
	letter-spacing: 0.4px
	line-height: 1.3

.search-grid__item-salary
	padding: 15px 0
	max-width: 310px
	width: 100%
	text-align: right

.interesting
	padding-bottom: 45px

.interesting__grid
	width: 100%
	margin-bottom: -15px

.interesting-grid
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.interesting-grid__item
	width: 240px
	padding-bottom: 15px