.gray-text
	color: #6e6e6e !important

.green-text
	color: #1c9d22 !important

.italic
	font-family: "PT Serif Italic", sans-serif

.mb10
	margin-bottom: 10px

.mb15
	margin-bottom: 15px

.mr10
	margin-right: 10px

.mr20
	margin-right: 20px

.mr30
	margin-right: 30px

.mr45
	margin-right: 45px