{% extends "layouts/app.twig" %}

{% block pageTitle %}Статистика соискателя{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section">
        <div class="statistic-banner statistic-banner_employer">
            <div class="container container1140">
                <div class="statistic-banner__content statistic-banner-content">
                    <div class="statistic-banner-content__top">
                        <img src="images/statistic-diagram.png" alt="">
                    </div>
                    <div class="statistic-banner-content__middle">
                        <p class="statistic-banner-content__title text-medium text-uppercase fz36 text-white text-center mb10">Статистика просмотров и откликов вакансий</p>
                        <p class="statistic-banner-content__subtitle text-italic fz30 text-white text-center">Каждый день на Lab labor</p>
                    </div>
                    <div class="statistic-banner-content__bottom">
                        <div class="statistic-banner-grid">
                            <div class="statistic-banner-grid__item">
                                <span class="text-light fz18 text-white text-uppercase mb5">Публикуется</span>
                                <span class="text-light fz72 text-white text-uppercase mb10">366</span>
                                <span class="text-light fz18 text-white text-uppercase">Вакансий</span>
                            </div>
                            <div class="statistic-banner-grid__item">
                                <span class="text-light fz18 text-white text-uppercase mb5">Приглашается</span>
                                <span class="text-light fz72 text-white text-uppercase mb10">215</span>
                                <span class="text-light fz18 text-white text-uppercase">Человек на собеседование</span>
                            </div>
                            <div class="statistic-banner-grid__item">
                                <span class="text-light fz18 text-white text-uppercase mb5">Откликается</span>
                                <span class="text-light fz72 text-white text-uppercase mb10">548</span>
                                <span class="text-light fz18 text-white text-uppercase">Соискателей</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section__applicant-stat">
        <div class="container container_1140">
            <ul class="breadcrumbs mb20">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Статистика</a>
                </li>
            </ul>
            <div class="statistic">
                <div class="statistic__left">
                    <div class="statistic__vacancy-grid statistic-vacancy-grid mb25">
                        <div class="statistic-vacancy-grid__name mr15">
                            <span class="text-medium fz14 text-uppercase text-signal-black">Название вакансии</span>
                        </div>
                        <div class="statistic-vacancy-grid__salary mr15">
                            <span class="text-light fz14 text-uppercase text-signal-black">200.000 ТГ.</span>
                        </div>
                        <div class="statistic-vacansy-grid__open-close">
                            <span class="js-open-statistic-tables text-italic fz14 text-dark-dull-gray">Показать данные</span>
                        </div>
                    </div>
                    <div class="statistic-tables js-hidden">
                        <div class="statistic-vacancy-table mb30">
                            <table class="statistic-vacancy-table__table">
                                <tr class="statistic-vacancy-table__row">
                                    <th class="statistic-vacancy-table__icon">
                                        <i class="fri fri_views"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__title" colspan="1">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Просмотров: 2</span>
                                    </th>
                                    <th class="statistic-vacancy-table__thrash">
                                        <i class="fri fri_thrash"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Дата</span>
                                    </th>
                                    <th class="statistic-vacancy-table__message">

                                    </th>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="statistic-vacancy-table mb40">
                            <table class="statistic-vacancy-table__table">
                                <tr class="statistic-vacancy-table__row">
                                    <th class="statistic-vacancy-table__icon">
                                        <i class="fri fri_invitations"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__title" colspan="1">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Приглашений: 2</span>
                                    </th>
                                    <th class="statistic-vacancy-table__thrash">
                                        <i class="fri fri_thrash"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Дата</span>
                                    </th>
                                    <th class="statistic-vacancy-table__message">

                                    </th>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="statistic__vacancy-grid statistic-vacancy-grid mb25">
                        <div class="statistic-vacancy-grid__name mr15">
                            <span class="text-medium fz14 text-uppercase text-signal-black">Название вакансии</span>
                        </div>
                        <div class="statistic-vacancy-grid__salary mr15">
                            <span class="text-light fz14 text-uppercase text-signal-black">200.000 ТГ.</span>
                        </div>
                        <div class="statistic-vacansy-grid__open-close">
                            <span class="js-open-statistic-tables text-italic fz14 text-dark-dull-gray">Показать данные</span>
                        </div>
                    </div>
                    <div class="statistic-tables js-hidden">
                        <div class="statistic-vacancy-table mb30">
                            <table class="statistic-vacancy-table__table">
                                <tr class="statistic-vacancy-table__row">
                                    <th class="statistic-vacancy-table__icon">
                                        <i class="fri fri_views"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__title" colspan="1">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Просмотров: 2</span>
                                    </th>
                                    <th class="statistic-vacancy-table__thrash">
                                        <i class="fri fri_thrash"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Дата</span>
                                    </th>
                                    <th class="statistic-vacancy-table__message">

                                    </th>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="statistic-vacancy-table mb40">
                            <table class="statistic-vacancy-table__table">
                                <tr class="statistic-vacancy-table__row">
                                    <th class="statistic-vacancy-table__icon">
                                        <i class="fri fri_invitations"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__title" colspan="1">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Приглашений: 2</span>
                                    </th>
                                    <th class="statistic-vacancy-table__thrash">
                                        <i class="fri fri_thrash"></i>
                                    </th>
                                    <th class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-uppercase text-signal-black">Дата</span>
                                    </th>
                                    <th class="statistic-vacancy-table__message">

                                    </th>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                                <tr class="statistic-vacancy-table__row">
                                    <td class="statistic-vacancy-table__image">
                                        <div class="thumbnail thumbnail__round thumbnail_45">
                                            <img class="thumbnail__image_45" src="images/default-logo.png" alt="">
                                        </div>
                                    </td>
                                    <td class="statistic-vacancy-table__name"><a href="#" class="text-without-underline text-uppercase">Название компании</a></td>
                                    <td class="statistic-vacancy-table__thrash"></td>
                                    <td class="statistic-vacancy-table__date">
                                        <span class="text-light fz14 text-italic text-uppercase text-signal-black">21.02.2017</span>
                                    </td>
                                    <td class="statistic-vacancy-table__message">
                                        <a class="statistic-vacancy__sent-message js-open-popup" href="#" data-open-popup="company-preview"><i class="fri fri_message"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="statistic__right">
                    <div class="statistic__report pl40 pr40 pt20 pb20 mb25">
                        <div class="statistic__report-title text-light fz14 mb20 text-uppercase">Общая статистика</div>
                        <div class="statistic__report-grid mb10">
                            <div class="statistic__report-item statistic__report-item_rates-left mr10">
                                <span class="text-italic fz14 text-signal-black">Вакансий опубликовано</span>
                            </div>
                            <div class="statistic__report-item statistic__report-item_rates-right">
                                <span class="text-italic fz14 text-signal-black text-uppercase">4</span>
                            </div>
                        </div>
                        <div class="statistic__report-grid mb10">
                            <div class="statistic__report-item statistic__report-item_rates-left mr10">
                                <span class="text-italic fz14 text-signal-black">Активные вакансии</span>
                            </div>
                            <div class="statistic__report-item statistic__report-item_rates-right">
                                <span class="text-italic fz14 text-signal-black text-uppercase">2</span>
                            </div>
                        </div>
                        <div class="statistic__report-grid mb10">
                            <div class="statistic__report-item statistic__report-item_rates-left mr10">
                                <span class="text-italic fz14 text-signal-black">Неактивные вакансии</span>
                            </div>
                            <div class="statistic__report-item statistic__report-item_rates-right">
                                <span class="text-italic fz14 text-signal-black text-uppercase">2</span>
                            </div>
                        </div>
                        <div class="statistic__report-grid mb10">
                            <div class="statistic__report-item statistic__report-history statistic__report-item_total mr5 js-open-popup" data-open-popup="views-for-week">
                                <span class="text-italic fz14 text-signal-black">Просмотры за неделю</span>
                            </div>
                            <div class="views-for-week js-popup js-small-popup" data-popup="views-for-week">
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Программист</div>
                                    <div class="views-for-week-grid__count text-italic fz14">4</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                            </div>
                        </div>
                        <div class="statistic__report-grid mb10">
                            <div class="statistic__report-item statistic__report-history statistic__report-item_total js-open-popup mr5" data-open-popup="responsives-for-week">
                                <span class="text-italic fz14 text-signal-black">Приглашения за неделю</span>
                            </div>
                            <div class="statistic__report-triangle">
                                <div class="triangle"></div>
                            </div>
                            <div class="views-for-week js-popup js-small-popup" data-popup="responsives-for-week">
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Программист</div>
                                    <div class="views-for-week-grid__count text-italic fz14">4</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                            </div>
                        </div>
                        <div class="statistic__report-grid mb10" >
                            <div class="statistic__report-item statistic__report-history statistic__report-item_total mr5 js-open-popup" data-open-popup="views-for-month">
                                <span class="text-italic fz14 text-signal-black">Просмотры за месяц</span>
                            </div>
                            <div class="statistic__report-triangle">
                                <div class="triangle"></div>
                            </div>
                            <div class="views-for-week js-popup js-small-popup" data-popup="views-for-month">
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Программист</div>
                                    <div class="views-for-week-grid__count text-italic fz14">4</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                            </div>
                        </div>
                        <div class="statistic__report-grid mb10">
                            <div class="statistic__report-item statistic__report-history statistic__report-item_total js-open-popup mr5" data-open-popup="responsives-for-month">
                                <span class="text-italic fz14 text-signal-black">Приглашения за месяц</span>
                            </div>
                            <div class="statistic__report-triangle">
                                <div class="triangle"></div>
                            </div>
                            <div class="views-for-week js-popup js-small-popup" data-popup="responsives-for-month">
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Программист</div>
                                    <div class="views-for-week-grid__count text-italic fz14">4</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Технолог</div>
                                    <div class="views-for-week-grid__count text-italic fz14">25</div>
                                </a>
                                <a class="views-for-week__grid views-for-week-grid" href="#">
                                    <div class="views-for-week-grid__name text-italic fz14 text-green text-underline">Официант</div>
                                    <div class="views-for-week-grid__count text-italic fz14">41</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="statistic__right-banner pl25 pr25 pt20 pb20">
                        <p class="fz14 text-uppercase text-center text-white mb20">Хотите улучшить статистику?</p>
                        <i class="fri fri_statistic mb30"></i>
                        <p class="fz14 text-light text-uppercase text-center text-white mb15">Воспользуйтесь услугой "Выделить резюме"</p>
                        <a href="#" class="statistic__button button button_empty-white text-center fz24">Приобрести</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}