{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет работодателя | Общин сведения{% endblock %}

{% set auth = 'true' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы начать поиск кадров вам необходимо заполнить профиль вашей компании
                    </div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar">
                <li class="tab-bar__item active">Общие сведения</li>
                <li class="tab-bar__item">Вакансии</li>
                <li class="tab-bar__item">Оплата</li>
                <li class="tab-bar__item tab-tab__item_small tab-bar__item_blue"><i class="fri fri_practice"></i></li>
            </ul>
        </div>
    </div>

    <div class="section section__body-with-subheader pt75 pb55">
        <div class="container container_1140">
            <form class="cabinet-employer-main">
                <div class="cabinet-employer-main__left">
                    <div class="cabinet-employer-main-logo">
                        <div class="cabinet-employer-main__image-wrapper thumbnail thumbnail_200">
                            <img class="thumbnail__image thumbnail__image_200" src="images/vacancy-view.jpg">
                            <div class="cabinet-employer-main__image-controls">
                                <p class="fz14 text-white text-italic text-underline mb5 js-open-popup" data-open-popup="upload-logo">Загрузить фото</p>
                                <p class="fz14 text-white text-italic text-underline">Удалить фото</p>
                            </div>
                        </div>
                        <div class="upload-popup js-popup js-small-popup" data-popup="upload-logo">
                            <div class="cabinet-employer-vacancy_close-button js-close-popup"></div>
                            <div class="grid grid_column">
                                <label class="grid file-upload mb10">
                                    <div class="file-upload__label-wrapper mr10">
                                        <span class="file-upload__label js-file-upload__label">Загрузите фотографию с компьютера</span>
                                    </div>
                                    <span class="file-upload__overview-button button button_empty-green">Обзор</span>
                                    <input class="js-destroy-form-styler" type="file">
                                </label>
                                <div class="grid flex-centered">
                                    <span class="file-upload__upload-button button button_green mr30">Загрузить</span>
                                    <i class="fri fri_exclamation-green mr10"></i>
                                    <span class="text-italic fz12 text-dark-dull-gray">Вы можете загрузить изображение не более 200х200 пикселей и не более 100 кб</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cabinet-employer-main__right">
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left"><span
                                    class="text-italic fz14 text-dark-dull-gray mr5">Название</span><i
                                    class="fri fri_required"></i></div>
                        <div class="cabinet-employer-main-grid__right">
                            <select class="select cabinet-employer-main__select-small select_hover-green mr10">
                                <option disabled selected>Пр-во</option>
                                <option>Пункт 1</option>
                                <option>Пункт 2</option>
                                <option>Пункт 3</option>
                            </select>
                            <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                   type="text" placeholder="Наименование компании/ИП">
                        </div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left"><p class="text-italic fz14 text-dark-dull-gray">
                                Реквизиты</p></div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">БИН/ИИН</p></div>
                        <input class="input js-open-hint-small cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                               type="text" placeholder="Двенадцатизначный код">
                        <div class="hint-small js-hint-small">
                            <i class="fri fri_exclamation-green mr10"></i>
                            <p class="text-italic fz14 text-dark-dull-gray">Введенные вами данные будут содержаться в Акте выполненных работ и счете-фактуре.</p>
                        </div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">Город</p></div>
                        <select class="select">
                            <option disabled selected>Выберите ваш город из списка</option>
                            <option>Пункт 1</option>
                            <option>Пункт 2</option>
                            <option>Пункт 3</option>
                        </select>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">Адрес регистрации</p></div>
                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                               type="text" placeholder="Например: ул. Абая, д. 50, кв. 11">
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">Расчетный счет</p></div>
                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                               type="text" placeholder="Двенадцатизначный код">
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">Наименование банка</p></div>
                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                               type="text" placeholder="Выберите из списка">
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">БИК банка</p></div>
                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                               type="text">
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left"><span
                                    class="text-italic fz14 text-dark-dull-gray mr5">Ответственное лицо</span><i
                                    class="fri fri_required"></i></div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">ФИО</p></div>
                        <div class="cabinet-employer-main-grid__right">
                            <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                   type="text" placeholder="Иванов Иван Иванович">
                        </div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">Телефон</p></div>
                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                               type="text"
                               placeholder="гор телефон (+7(код города)ХХХ-ХХ-ХХ) моб телефон (+77ХХХХХХХХХ)">
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25"><p
                                    class="text-italic fz14 text-dark-dull-gray">Email</p></div>
                        <div class="cabinet-employer-main-grid__right">
                            <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                   type="text" placeholder="ivanov@mail.ru">
                        </div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left"><span
                                    class="text-italic fz14 text-dark-dull-gray mr5">Вид деятельности</span><i
                                    class="fri fri_required"></i></div>
                        <div class="cabinet-employer-main-grid__right">
                            <select class="select select_hover-green">
                                <option disabled selected>Выберите из списка</option>
                                <option>Пункт 1</option>
                                <option>Пункт 2</option>
                                <option>Пункт 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="cabinet-employer-main-grid mb25">
                        <div class="cabinet-employer-main-grid__left"><p class="text-italic fz14 text-dark-dull-gray">
                                Веб-сайт</p></div>
                        <div class="cabinet-employer-main-grid__right">
                            <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                   type="text" placeholder="moyafirma.kz">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}