{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет работодателя | Оплата{% endblock %}

{% set auth = 'true' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы начать поиск кадров вам
                        необходимо заполнить профиль вашей компании
                    </div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar">
                <li class="tab-bar__item">Общие сведения</li>
                <li class="tab-bar__item">Вакансии</li>
                <li class="tab-bar__item active">Оплата</li>
                <li class="tab-bar__item tab-tab__item_small tab-bar__item_blue"><i class="fri fri_practice"></i></li>
            </ul>
        </div>
    </div>

    <div class="section section__body-with-subheader pt40 pb55">
        <div class="container container_1140">
            <div class="cabinet-employer-payment">
                <div class="grid mb35">

                    <ul class="cabinet-employer-payment-types unmarkered-list" data-switcher="{target: 'payment-types'}">
                        <li class="cabinet-employer-payment-type mb10">
                            <i class="fri fri_non-cash-gray"></i>
                        </li>
                        <li class="cabinet-employer-payment-type">
                            <i class="fri fri_credit-card-gray"></i>
                        </li>
                    </ul>

                    <ul class="cabinet-employer-payment-types-descr unmarkered-list" data-switcher-target="payment-types">
                        <li class="grid grid_column">
                            <p class="text-center text-uppercase fz16 text-dark-dull-gray text-medium mb15">Безналичный расчет</p>
                            <div class="grid centered mb15">
                                <i class="fri fri_non-cash-man-gray mr30"></i>
                                <i class="fri fri_non-cash-terminal-gray mr30"></i>
                                <i class="fri fri_non-cash-credit-card-gray"></i>
                            </div>
                            <p class="text-center text-uppercase fz16 text-dark-dull-gray text-medium">Генерация счета на оплату на сайте lablabor.kz</p>
                        </li>
                        <li class="grid grid_column">
                            <p class="text-center text-uppercase fz16 text-dark-dull-gray text-medium mb30">Банковской картой</p>
                            <div class="grid flex-centered">
                                <i class="fri fri_visa mr90 "></i>
                                <i class="fri fri_american-express mr90"></i>
                                <i class="fri fri_master-card"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="subscriber-package">
                    <div class="subscriber-package__descr mr30">
                        <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет «Basic»</p>
                        <p class="fz18 text-signal-black">
                            <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать от</span>
                            <span class="text-medium text-uppercase">1 </span>
                            <span class="text-italic">до </span>
                            <span class="text-medium text-uppercase">20 </span>
                            <span class="text-italic">вакансий сроком на </span>
                            <span class="text-medium">30 </span>
                            <span class="text-italic">(тридцать) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                        </p>
                    </div>
                    <div class="subscriber-package__box">
                        <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                        <div class="subscriber-package__price mb25">20000 тг.</div>
                        <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                    </div>
                </div>
                <div class="subscriber-package">
                    <div class="subscriber-package__box mr30">
                        <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                        <div class="subscriber-package__price mb25">40000 тг.</div>
                        <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                    </div>
                    <div class="subscriber-package__descr">
                        <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет «Standard»</p>
                        <p class="fz18 text-signal-black">
                            <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать от</span>
                            <span class="text-medium text-uppercase">1 </span>
                            <span class="text-italic">до </span>
                            <span class="text-medium text-uppercase">40 </span>
                            <span class="text-italic">вакансий сроком на </span>
                            <span class="text-medium">30 </span>
                            <span class="text-italic">(тридцать) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                        </p>
                    </div>
                </div>
                <div class="subscriber-package">
                    <div class="subscriber-package__descr mr30">
                        <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет «Expert»</p>
                        <p class="fz18 text-signal-black">
                            <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать от</span>
                            <span class="text-medium text-uppercase">1 </span>
                            <span class="text-italic">до </span>
                            <span class="text-medium text-uppercase">60 </span>
                            <span class="text-italic">вакансий сроком на </span>
                            <span class="text-medium">30 </span>
                            <span class="text-italic">(тридцать) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                        </p>
                    </div>
                    <div class="subscriber-package__box">
                        <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                        <div class="subscriber-package__price mb25">60000 тг.</div>
                        <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                    </div>
                </div>
                <div class="subscriber-package">
                    <div class="subscriber-package__box mr30">
                        <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                        <div class="subscriber-package__price mb25">40000 тг.</div>
                        <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                    </div>
                    <div class="subscriber-package__descr">
                        <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет «Premium»</p>
                        <p class="fz18 text-signal-black">
                            <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать </span>
                            <span class="text-medium text-uppercase">неограниченное </span>
                            <span class="text-italic">вакансий сроком на </span>
                            <span class="text-medium">90 </span>
                            <span class="text-italic">(девяносто) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}