{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет | Работодатель{% endblock %}

{% set auth = 'true' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы начать поиск кадров вам необходимо заполнить профиль вашей компании</div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar">
                <li class="tab-bar__item">Общие сведения</li>
                <li class="tab-bar__item">Вакансии</li>
                <li class="tab-bar__item">Оплата</li>
            </ul>
        </div>
    </div>

    <div class="section section__body-with-subheader pt75 pb55">
        <div class="container container_1140">
            <div class="cabinet-employer">
                <div class="cabinet-employer__left">
                    <div class="cabinet-employer__image-wrapper thumbnail thumbnail_200">
                        <img class="thumbnail__image thumbnail__image_200" src="images/vacancy-view.jpg">
                        <div class="cabinet-employer__image-controls">
                            <p class="fz14 text-white text-italic text-underline mb5">Загрузить фото</p>
                            <p class="fz14 text-white text-italic text-underline">Удалить фото</p>
                        </div>
                    </div>
                </div>
                <div class="cabinet-employer__right">
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left"><span class="text-italic fz14 text-dark-dull-gray mr5">Название</span><i class="fri fri_required"></i></div>
                        <div class="cabinet-employer-grid__right">
                            <select class="select cabinet-employer__select-small select_hover-green mr10">
                                <option disabled selected>Пр-во</option>
                                <option>Пункт 1</option>
                                <option>Пункт 2</option>
                                <option>Пункт 3</option>
                            </select>
                            <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Наименование компании/ИП">
                        </div>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left"><p class="text-italic fz14 text-dark-dull-gray">Реквизиты</p></div>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">БИН/ИИН</p></div>
                        <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Двенадцатизначный код">
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">Город</p></div>
                        <select class="select select_hover-green">
                            <option disabled selected>Выберите ваш город из списка</option>
                            <option>Пункт 1</option>
                            <option>Пункт 2</option>
                            <option>Пункт 3</option>
                        </select>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">Адрес регистрации</p></div>
                        <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: ул. Абая, д. 50, кв. 11">
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">Расчетный счет</p></div>
                        <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Двенадцатизначный код">
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">Наименование банка</p></div>
                        <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Выберите из списка">
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">БИК банка</p></div>
                        <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text">
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left"><span class="text-italic fz14 text-dark-dull-gray mr5">Ответственное лицо</span><i class="fri fri_required"></i></div>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">ФИО</p></div>
                        <div class="cabinet-employer-grid__right">
                            <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Иванов Иван Иванович">
                        </div>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">Телефон</p></div>
                        <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="гор телефон (+7(код города)ХХХ-ХХ-ХХ) моб телефон (+77ХХХХХХХХХ)">
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left cabinet-employer-grid__left_pl25"><p class="text-italic fz14 text-dark-dull-gray">Email</p></div>
                        <div class="cabinet-employer-grid__right">
                            <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="ivanov@mail.ru">
                        </div>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left"><span class="text-italic fz14 text-dark-dull-gray mr5">Вид деятельности</span><i class="fri fri_required"></i></div>
                        <div class="cabinet-employer-grid__right">
                            <select class="select select_hover-green">
                                <option disabled selected>Выберите из списка</option>
                                <option>Пункт 1</option>
                                <option>Пункт 2</option>
                                <option>Пункт 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="cabinet-employer-grid mb25">
                        <div class="cabinet-employer-grid__left"><p class="text-italic fz14 text-dark-dull-gray">Веб-сайт</p></div>
                        <div class="cabinet-employer-grid__right">
                            <input class="input cabinet-employer__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="moyafirma.kz">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}