{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет соискателя | Портфолио{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'false' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы ваш профиль посмотрело больше работодателей, вам следует его заполнить</div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar">
                <li class="tab-bar__item">Общие сведения</li>
                <li class="tab-bar__item">Образование</li>
                <li class="tab-bar__item">Опыт работы</li>
                <li class="tab-bar__item">Доп/спец навыки</li>
                <li class="tab-bar__item active">Портфолио</li>
                <li class="tab-bar__item">Вакансии</li>
            </ul>
        </div>
    </div>

    <div class="section section__body-cabinet pt75 pb55">
        <div class="container container_1140">
            <form class="cabinet-applicant-portfolio">
                <div class="js-current-block-wrapper">
                    <div class="cabinet-box cabinet-box_portfolio mb10 js-current-block" data-block="portfolio">
                        <div class="close-button-gray js-close-box"></div>
                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border fz14 text-signal-black mb25"
                               type="text" placeholder="НАЗВАНИЕ АЛЬБОМА/ПОРТФОЛИО">
                        <textarea class="textarea text-italic text-signal-black mb20" placeholder="Краткое описание Вашей работы"></textarea>
                        <div class="grid">
                            <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                <label class="cursor-pointer">
                                    <input class="js-destroy-form-styler hidden" type="file">
                                    <div class="thumbnail__round thumbnail_112">
                                        <img class="thumbnail__image_112" src="images/upload-image.jpg" alt="">
                                    </div>
                                </label>
                            </div>
                            <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                <div class="close-button-gray"></div>
                                <div class="thumbnail__round thumbnail_112">
                                    <img class="thumbnail__image_112" src="images/upload-image1.jpg" alt="">
                                </div>
                            </div>
                            <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                <div class="close-button-gray"></div>
                                <div class="thumbnail__round thumbnail_112">
                                    <img class="thumbnail__image_112" src="images/upload-image2.jpg" alt="">
                                </div>
                            </div>
                            <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                <div class="close-button-gray"></div>
                                <div class="thumbnail__round thumbnail_112">
                                    <img class="thumbnail__image_112" src="images/upload-image3.jpg" alt="">
                                </div>
                            </div>
                            <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                <div class="close-button-gray"></div>
                                <div class="thumbnail__round thumbnail_112">
                                    <img class="thumbnail__image_112" src="images/upload-image4.jpg" alt="">
                                </div>
                            </div>
                            <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                <div class="close-button-gray"></div>
                                <div class="thumbnail__round thumbnail_112">
                                    <img class="thumbnail__image_112" src="images/upload-image5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid flex-centered mb30">
                    <div class="add-vacancy js-add-new-block" data-block-add="portfolio">
                        <span class="add-vacancy__icon mr20"></span>
                        <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Нужен ещё один альбом?</span>
                    </div>
                </div>
                <p class="text-center mt17 mb17">
                    <button class="button button_green button_save-changes">Сохранить изменения</button>
                </p>
            </form>
        </div>
    </div>


{% endblock %}