{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет соискателя | Общие сведения{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'false' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы начать поиск кадров вам
                        необходимо заполнить профиль вашей компании
                    </div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar" data-switcher="{target: 'applicant-tabs'}">
                <li class="tab-bar__item active">Общие сведения</li>
                <li class="tab-bar__item">Образование</li>
                <li class="tab-bar__item">Опыт работы</li>
                <li class="tab-bar__item">Доп/спец навыки</li>
                <li class="tab-bar__item">Портфолио</li>
                <li class="tab-bar__item">Вакансии</li>
            </ul>
        </div>
    </div>

    <div class="section section__body-cabinet pt75 pb55">
        <ul class="container container_1140 unmarkered-list" data-switcher-target='applicant-tabs'>
            <li class="cabinet-tab">
                <form class="cabinet-employer-main">
                    <div class="cabinet-employer-main__left">
                        <div class="cabinet-employer-main-logo">
                            <div class="cabinet-employer-main__image-wrapper thumbnail thumbnail_200">
                                <img class="thumbnail__image thumbnail__image_200" src="images/default-avatar-man.jpg">
                                <div class="cabinet-employer-main__image-controls">
                                    <p class="fz14 text-white text-italic text-underline mb5 js-open-popup cursor-pointer"
                                       data-open-popup="upload-logo">Загрузить фото</p>
                                    <p class="fz14 text-white text-italic text-underline cursor-pointer">Удалить
                                        фото</p>
                                </div>
                            </div>
                            <div class="upload-popup js-popup js-small-popup" data-popup="upload-logo">
                                <div class="close-button-gray js-close-popup"></div>
                                <div class="grid grid_column">
                                    <label class="grid file-upload mb10">
                                        <div class="file-upload__label-wrapper mr10">
                                            <span class="file-upload__label js-file-upload__label">Загрузите фотографию с компьютера</span>
                                        </div>
                                        <span class="file-upload__overview-button button button_empty-green">Обзор</span>
                                        <input class="js-destroy-form-styler" type="file">
                                    </label>
                                    <div class="grid flex-centered">
                                        <span class="file-upload__upload-button button button_green mr30">Загрузить</span>
                                        <i class="fri fri_exclamation-green mr10"></i>
                                        <span class="text-italic fz12 text-dark-dull-gray">Вы можете загрузить изображение не более 200х200 пикселей и не более 100 кб</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet-employer-main__right">
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">ФИО</span>
                                <i class="fri fri_required"></i>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Иванов Иван Иванович">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Дата рождения</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select cabinet-employer-main__day select_hover-green mr10">
                                    <option disabled selected>день</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                                <span class="text-italic fz14 text-dark-dull-gray mr10 flex-align-center">ДД</span>
                                <select class="select cabinet-employer-main__month select_hover-green mr10">
                                    <option disabled selected>месяц</option>
                                    <option>Январь</option>
                                    <option>Февраль</option>
                                    <option>Март</option>
                                    <option>Апрель</option>
                                    <option>Май</option>
                                    <option>Июнь</option>
                                    <option>Июль</option>
                                    <option>Август</option>
                                    <option>Сентябрь</option>
                                    <option>Октябрь</option>
                                    <option>Ноябрь</option>
                                    <option>Декабрь</option>
                                </select>
                                <span class="text-italic fz14 text-dark-dull-gray mr10 flex-align-center">ММ</span>
                                <select class="cabinet-employer-main__year select select_hover-green mr10">
                                    <option disabled selected>год</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                </select>
                                <span class="text-italic fz14 text-dark-dull-gray flex-align-center">ГГГГ</span>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Пол</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <label class="radio-buttons radio_green-dot mr20">
                                    <input class="radio" type="radio" name="sex" id="men">
                                    <span class="text-italic fz14 cursor-pointer">Мужской</span>
                                </label>
                                <label class="radio-buttons radio_green-dot">
                                    <input class="radio" type="radio" name="sex" id="woman">
                                    <span class="text-italic fz14 cursor-pointer">Женский</span>
                                </label>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Город</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select">
                                    <option disabled selected>Выберите ваш город из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <p class="text-italic fz14 text-dark-dull-gray">Адрес проживания</p>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: ул. Абая, д. 50, кв. 11">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <p class="text-italic fz14 text-dark-dull-gray">Телефон</p>
                                <i class="fri fri_required"></i>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <div class="flex-grow-1 flex-shrink-0 mr20">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="+7(код города)ххххххх">
                                </div>
                                <div class="flex-grow-1 flex-shrink-0">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="+7(7хх)ххххххх">
                                </div>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <p class="text-italic fz14 text-dark-dull-gray">Email</p>
                                <i class="fri fri_required"></i>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: ivanov@mail.ru">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <p class="text-italic fz14 text-dark-dull-gray">Семейное положение</p>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select">
                                    <option disabled selected>Выберите из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb55">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25 flex-align-start">
                                <p class="text-italic fz14 text-dark-dull-gray">Дети</p>
                            </div>
                            <div class="cabinet-employer-main-grid__right flex-align-start">
                                <span class="pl20 text-italic fz14 text-dark-dull-gray mr15 flex-shrink-0 pt5">Количество детей</span>
                                <select class="select select__children-count mr20 jq-children-count">
                                    <option data-childrens="0" selected>Нет детей</option>
                                    <option data-childrens="1">Один ребёнок</option>
                                    <option data-childrens="2">Два ребёнка</option>
                                    <option data-childrens="3">Три ребёнка</option>
                                </select>
                                <span class="text-italic fz14 text-dark-dull-gray mr15 hidden jq-age-title pt5">Возраст</span>
                                <div class="grid grid_column jq-year-birth-child-wrapper flex-grow-1">
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt17 mb17">
                            <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                        </p>
                    </div>
                </form>
            </li>
            <li class="cabinet-tab">
                <form class="cabinet-applicant-education">
                    <p class="pl70 mb25">
                        <span class="cabinet-education-box-title cursor-pointer js-show-block">Начальное/школьное</span>
                    </p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box js-current-block mb50">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Страна</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Казахстан">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Город</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Алматы">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Школа номер</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: гимназия №113">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год начала</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 1994">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год окончания</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 2006">
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="pl70 mb25">
                        <span class="cabinet-education-box-title cursor-pointer js-show-block">Среднее/средне специальное</span>
                    </p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box mb15 js-current-block" data-block="vocational-education">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Страна</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Казахстан">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Город</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Алматы">
                                </div>
                            </div>

                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Учебное заведение</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <div class="mr10">
                                        <select class="select select__children-count">
                                            <option disabled selected>Колледж</option>
                                            <option>Пункт 1</option>
                                            <option>Пункт 2</option>
                                            <option>Пункт 3</option>
                                        </select>
                                    </div>
                                    <div class="flex-shrink-0 flex-grow-1">
                                        <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: при КБТУ">
                                    </div>
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год начала</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 1994">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год окончания</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 2006">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Специальность</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Журналистика">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title">Доп. сведения</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <textarea class="textarea" placeholder="Дополните информацию, если это необходимо"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered">
                        <div class="add-vacancy mb30 js-add-new-block" data-block-add="vocational-education">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Ещё одно образование?</span>
                        </div>
                    </div>

                    <p class="pl70 mb25">
                        <span class="cabinet-education-box-title cursor-pointer js-show-block">Высшее</span>
                    </p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box mb15 js-current-block" data-block="higher-education">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Страна</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Казахстан">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Город</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Алматы">
                                </div>
                            </div>

                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Учебное заведение</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <select class="select select__children-count mr10">
                                        <option disabled selected>Колледж</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: при КБТУ">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год начала</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 1994">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год окончания</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 2006">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Специальность</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Журналистика">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title">Доп. сведения</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <textarea class="textarea" placeholder="Дополните информацию, если это необходимо"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered">
                        <div class="add-vacancy js-add-new-block mb30" data-block-add="higher-education">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Ещё одно образование?</span>
                        </div>
                    </div>

                    <p class="pl70 mb10"><span class="cabinet-education-box-title">Дополнительное</span></p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box js-current-block mb15 hidden" data-block="additional-education">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Страна</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Казахстан">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Город</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Алматы">
                                </div>
                            </div>

                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Учебное заведение</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <select class="select select__children-count mr10">
                                        <option disabled selected>Колледж</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: при КБТУ">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год начала</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 1994">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год окончания</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 2006">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Специальность</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Журналистика">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-main-grid__left">
                                    <span class="cabinet-input-title">Доп. сведения</span>
                                </div>
                                <div class="cabinet-employer-main-grid__right">
                                    <textarea class="textarea" placeholder="Дополните информацию, если это необходимо"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb60">
                        <div class="add-vacancy js-add-new-block" data-block-add="additional-education">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Добавить образование?</span>
                        </div>
                    </div>
                    <p class="text-center mt17 mb17">
                        <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                    </p>
                </form>
            </li>
            <li class="cabinet-tab">
                <form class="cabinet-applicant-experience">
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-box mb15 js-current-block" data-block="experience">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Название компании</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Beeline">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Вид деятельности</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center mr10">Период работы</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <span class="text-italic fz14 mr10 flex-align-center">с</span>
                                    <div class="work-period-wrapper">
                                    <input class="input cabinet-employer-main__input input_work-period-input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="месяц">
                                    </div>
                                    <div class="work-period-wrapper">
                                        <input class="input cabinet-employer-main__input input_work-period-input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray " type="text" placeholder="год">
                                    </div>
                                    <span class="text-italic fz14 mr10 flex-align-center">по</span>
                                    <div class="work-period-wrapper">
                                        <input class="input cabinet-employer-main__input input_work-period-input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray " type="text" placeholder="месяц">
                                    </div>
                                    <div class="work-period-wrapper">
                                        <input class="input cabinet-employer-main__input input_work-period-input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="год">
                                    </div>
                                    <label class="grid green-checkbox cursor-pointer flex-shrink-0 flex-grow-1 flex-basis-0 flex-align-center">
                                        <input type="checkbox" class="flex-align-center mr10">
                                        <span class="text-italic fz14 text-dark-dull-gray flex-align-center">Работаю по сегодняшний день</span>
                                    </label>
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Должность</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: главный бухгалтер">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title">Краткое описание обязанностей</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <textarea class="textarea" placeholder="Чем вам приходилось заниматься на работе"></textarea>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title">Доп. сведения</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <textarea class="textarea" placeholder="Дополните информацию, если это необходимо"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered mb30">
                        <div class="add-vacancy js-add-new-block" data-block-add="experience">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Ещё одно место работы?</span>
                        </div>
                    </div>
                    <p class="text-center mt17 mb17">
                        <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                    </p>
                </form>
            </li>
            <li class="cabinet-tab">
                <form class="cabinet-applicant-skills">
                    <p class="pl70 mb25"><span class="cabinet-education-box-title cabinet-education-box-title_without-arrow">Языки</span></p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box mb15 js-current-block" data-block="language">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Язык</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Уровень владения</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered mb30">
                        <div class="add-vacancy js-add-new-block" data-block-add="language">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Ещё один язык?</span>
                        </div>
                    </div>

                    <p class="pl70 mb25"><span class="text-medium fz14 text-uppercase text-dark-dull-gray">Уровень владения ПК</span></p>
                    <div class="grid mb35">
                        <select class="select">
                            <option disabled selected>Выберите из списка</option>
                            <option>Пункт 1</option>
                            <option>Пункт 2</option>
                            <option>Пункт 3</option>
                        </select>
                    </div>

                    <p class="pl70 mb25"><span class="text-medium fz14 text-uppercase text-dark-dull-gray">Знание спец программ</span></p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box mb15 js-current-block" data-block="computer-skills">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Программа</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: 1С Бухгалтерия">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Уровень владения</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered mb30">
                        <div class="add-vacancy js-add-new-block" data-block-add="computer-skills">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Ещё одна программа?</span>
                        </div>
                    </div>

                    <p class="pl70 mb25"><span class="text-medium fz14 text-uppercase text-dark-dull-gray">Водительские права</span></p>

                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box cabinet-education-box_empty js-current-block" data-block="driver-license">
                            <div class="close-button-gray js-close-box close-button-gray_driver-license"></div>
                            <div class="grid mb15 js-current-block">
                                <select class="select mr25">
                                    <option disabled selected>Выберите из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="grid-inline flex-space-between">
                        <div class="add-vacancy mb30 js-add-new-block" data-block-add="driver-license">
                            <span class="add-vacancy__icon"></span>
                        </div>
                    </div>
                    <p class="pl70 mb25"><span class="text-medium fz14 text-uppercase text-dark-dull-gray">Стажировка/курсы</span></p>
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-education-box mb15 js-current-block" data-block="internship">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Страна</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Казахстан">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Город</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: Алматы">
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Год получения</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="cabinet-input-title flex-align-center">Наименование курса/сертификата</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Например: МСФО">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered mb50">
                        <div class="add-vacancy js-add-new-block" data-block-add="internship">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Ещё одна Стажировка?</span>
                        </div>
                    </div>
                    <p class="text-center mt17 mb17">
                        <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                    </p>
                </form>
            </li>
            <li class="cabinet-tab">
                <form class="cabinet-applicant-portfolio">
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-box cabinet-box_portfolio mb10 js-current-block" data-block="portfolio">
                            <div class="close-button-gray js-close-box"></div>
                            <div class="mb25">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border fz14 text-signal-black" type="text" placeholder="НАЗВАНИЕ АЛЬБОМА/ПОРТФОЛИО">
                            </div>
                            <textarea class="textarea text-italic text-signal-black mb20" placeholder="Краткое описание Вашей работы"></textarea>
                            <div class="grid">
                                <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                    <label class="cursor-pointer">
                                        <input class="js-destroy-form-styler hidden" type="file">
                                        <div class="thumbnail__round thumbnail_112">
                                            <img class="thumbnail__image_112" src="images/upload-image.jpg" alt="">
                                        </div>
                                    </label>
                                </div>
                                <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                    <div class="close-button-gray"></div>
                                    <div class="thumbnail__round thumbnail_112">
                                        <img class="thumbnail__image_112" src="images/upload-image1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                    <div class="close-button-gray"></div>
                                    <div class="thumbnail__round thumbnail_112">
                                        <img class="thumbnail__image_112" src="images/upload-image2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                    <div class="close-button-gray"></div>
                                    <div class="thumbnail__round thumbnail_112">
                                        <img class="thumbnail__image_112" src="images/upload-image3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                    <div class="close-button-gray"></div>
                                    <div class="thumbnail__round thumbnail_112">
                                        <img class="thumbnail__image_112" src="images/upload-image4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="thumbnail cursor-pointer portfolio_thumbnail mr20">
                                    <div class="close-button-gray"></div>
                                    <div class="thumbnail__round thumbnail_112">
                                        <img class="thumbnail__image_112" src="images/upload-image5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered mb30">
                        <div class="add-vacancy js-add-new-block" data-block-add="portfolio">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Нужен ещё один альбом?</span>
                        </div>
                    </div>
                    <p class="text-center mt17 mb17">
                        <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                    </p>
                </form>
            </li>
            <li class="cabinet-tab">
                <form class="cabinet-applicant-portfolio">
                    <div class="js-current-block-wrapper">
                        <div class="cabinet-box mb15 js-current-block" data-block="cabinet_applicant_vacancies">
                            <div class="close-button-gray js-open-popup" data-open-popup="delete-vacancy"></div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select select_hover-green">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid mb15">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="text-italic fz14 text-signal-black">Уровень зарплаты</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray cabinet-employer-vacancy__salary-input"
                                           type="text" placeholder="Введите число">
                                    <span class="text-italic fz14 text-signal-black mr5">валюта</span>
                                    <select class="select select_hover-green select_currency">
                                        <option disabled selected>KZT</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid mb25">
                                <div class="cabinet-employer-vacancy-grid__left">
                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                </div>
                                <div class="cabinet-employer-vacancy-grid__right">
                                    <select class="select select_hover-green">
                                        <option disabled selected>Выберите из списка</option>
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                <div class="checkbox-switcher-wrapper">
                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                        <input class="js-destroy-form-styler" type="checkbox">
                                        <i class="custom-checkbox__div"></i>
                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                    </label>
                                    <div class="cabinet-employer-hint js-hint">
                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                            вакансию, кликните по ползунку.</p>
                                    </div>
                                    <div class="cabinet-employer-activate-hint">
                                        <i class="fri fri_exclamation-green mr10"></i>
                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                            вакансию или выбрать другой абонентский пакет. </p>
                                    </div>
                                </div>
                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                    <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid flex-centered mb30">
                        <div class="add-vacancy js-add-new-block" data-block-add="cabinet_applicant_vacancies">
                            <span class="add-vacancy__icon mr20"></span>
                            <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Нужна ещё одна вакансия?</span>
                        </div>
                    </div>

                    <p class="text-center mt17 mb17">
                        <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                    </p>
                </form>
            </li>
        </ul>
    </div>

{% endblock %}