{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет работодателя | Общие сведения{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'false' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы начать поиск кадров вам
                        необходимо заполнить профиль вашей компании
                    </div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar tab-bar_employer" data-switcher="{target: 'employer-tabs'}">
                <li class="tab-bar__item">Общие сведения</li>
                <li class="tab-bar__item">Вакансии</li>
                <li class="tab-bar__item">Оплата</li>
                <li class="tab-bar__item tab-tab__item_small tab-bar__item_blue"><div class="tab-bar__item-wrapper"><i class="fri fri_practice"></i></div></li>
            </ul>
        </div>
    </div>

    <div class="section section__body-cabinet pt75 pb55">
        <ul class="container container_1140 unmarkered-list" data-switcher-target='employer-tabs'>
            <li class="cabinet-tab">
                <form class="cabinet-employer-main">
                    <div class="cabinet-employer-main__left">
                        <div class="cabinet-employer-main-logo">
                            <div class="cabinet-employer-main__image-wrapper thumbnail thumbnail_200">
                                <img class="thumbnail__image thumbnail__image_200" src="images/vacancy-view.jpg">
                                <div class="cabinet-employer-main__image-controls">
                                    <p class="fz14 text-white text-italic text-underline mb5 js-open-popup cursor-pointer"
                                       data-open-popup="upload-logo">Загрузить фото</p>
                                    <p class="fz14 text-white text-italic text-underline cursor-pointer">Удалить
                                        фото</p>
                                </div>
                            </div>
                            <div class="upload-popup js-popup js-small-popup" data-popup="upload-logo">
                                <div class="close-button-gray js-close-popup"></div>
                                <div class="grid grid_column">
                                    <label class="grid file-upload mb10">
                                        <div class="file-upload__label-wrapper mr10">
                                            <span class="file-upload__label js-file-upload__label">Загрузите фотографию с компьютера</span>
                                        </div>
                                        <span class="file-upload__overview-button button button_empty-green">Обзор</span>
                                        <input class="js-destroy-form-styler" type="file">
                                    </label>
                                    <div class="grid flex-centered">
                                        <span class="file-upload__upload-button button button_green mr30">Загрузить</span>
                                        <i class="fri fri_exclamation-green mr10"></i>
                                        <span class="text-italic fz12 text-dark-dull-gray">Вы можете загрузить изображение не более 200х200 пикселей и не более 100 кб</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet-employer-main__right">
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left">
                                <span class="text-italic fz14 text-dark-dull-gray">Название</span><i class="fri fri_required"></i></div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select cabinet-employer-main__select-small select_hover-green mr10">
                                    <option disabled selected>Пр-во</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14" type="text" placeholder="Наименование компании/ИП">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left">
                                <p class="text-italic fz14 text-dark-dull-gray">Реквизиты</p>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">БИН/ИИН</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input js-open-hint-small cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14"
                                       type="text" placeholder="Двенадцатизначный код">
                                <div class="hint-small js-hint-small">
                                    <i class="fri fri_exclamation-green mr10"></i>
                                    <p class="text-italic fz14 text-dark-dull-gray">Введенные вами данные будут содержаться в Акте выполненных работ и счете-фактуре.</p>
                                </div>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Город</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select">
                                    <option disabled selected>Выберите ваш город из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Адрес регистрации</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14" type="text" placeholder="Например: ул. Абая, д. 50, кв. 11">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Расчетный счет</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Введите данные">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Наименование банка</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select select_hover-green">
                                    <option disabled selected>Выберите из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">БИК банка</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" placeholder="Введите данные" type="text">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left">
                                <span class="text-italic fz14 text-dark-dull-gray mr5">Ответственное лицо</span>
                                <i class="fri fri_required"></i>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">ФИО</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Иванов Иван Иванович">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb15">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Телефон</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <div class="mr20 flex-grow-1 flex-shrink-0">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                           type="text" placeholder="+7(код города)ххххххх">
                                </div>
                                <div class="flex-grow-1 flex-shrink-0">
                                    <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                           type="text" placeholder="+7(7хх)ххххххх">
                                </div>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left cabinet-employer-main-grid__left_pl25">
                                <span class="text-italic fz14 text-dark-dull-gray">Email</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                       type="text" placeholder="ivanov@mail.ru">
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left">
                                <span class="text-italic fz14 text-dark-dull-gray mr5">Вид деятельности</span>
                                <i class="fri fri_required"></i>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <select class="select select_hover-green">
                                    <option disabled selected>Выберите из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="cabinet-employer-main-grid mb25">
                            <div class="cabinet-employer-main-grid__left">
                                <span class="text-italic fz14 text-dark-dull-gray">Веб-сайт</span>
                            </div>
                            <div class="cabinet-employer-main-grid__right">
                                <input class="input cabinet-employer-main__input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="moyafirma.kz">
                            </div>
                        </div>
                        <p class="text-center">
                            <button class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</button>
                        </p>
                    </div>
                </form>
            </li>
            <li class="cabinet-tab">
                <div class="vacancy-list jq-vacancy-list">
                    <div class="vacancy-list__item jq-vacancy-item hidden" data-block="vacancy">
                        <label class="custom-checkbox-switcher jq-checkbox-switcher mr25">
                            <input class="js-destroy-form-styler" checked type="checkbox">
                            <i class="custom-checkbox__div"></i>
                        </label>
                        <div class="mr10 checkbox-switcher__label"><span class="jq-vacancy-trigger cursor-pointer">Название вакансии</span></div>
                        <div class="vacancy-list__salary">200.000 тг</div>
                        <div class="mr10 grid"><i class="fri fri_edit jq-vacancy-trigger"></i></div>
                        <div class="mr45 grid"><i class="fri fri_remove js-open-popup" data-open-popup="delete-vacancy"></i></div>
                        <div class="vacancy-list__statistic">Статистика вакансии</div>
                        <div class="vacancy-list__statistic-count hidden"></div>
                        <form class="vacancy-list__vacancy jq-vacancy" action="#">
                            <div class="js-current-block-wrapper mb25">
                                <div class="js-current-block" data-block="vacancy">
                                    <div class="cabinet-employer-vacancy">
                                        <div class="close-button-gray js-close-box"></div>
                                        <div class="cabinet-employer-vacancy__grid">
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Уровень зарплаты</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray cabinet-employer-vacancy__salary-input" type="text" placeholder="Введите число">
                                                    <span class="text-italic fz14 text-signal-black mr5">валюта</span>
                                                    <select class="select select_hover-green select_currency">
                                                        <option disabled selected>KZT</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Опыт работы</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Город</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Образование</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Специальные знания и навыки</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите требования к кандидату на должность"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Условия труда/<br>Доп. сведения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите условия, на которых будет работать сотрудник"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                                <div class="checkbox-switcher-wrapper">
                                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                                        <input class="js-destroy-form-styler" checked type="checkbox">
                                                        <i class="custom-checkbox__div"></i>
                                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                                    </label>
                                                    <div class="cabinet-employer-hint js-hint">
                                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                                            вакансию, кликните по ползунку.</p>
                                                    </div>
                                                    <div class="cabinet-employer-activate-hint active">
                                                        <i class="fri fri_exclamation-green mr10"></i>
                                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                                            вакансию или выбрать другой абонентский пакет. </p>
                                                    </div>
                                                </div>
                                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                                    <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center mt17 mb17">
                                        <span class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="vacancy-list__item">
                        <label class="custom-checkbox-switcher jq-checkbox-switcher mr25">
                            <input class="js-destroy-form-styler" checked type="checkbox">
                            <i class="custom-checkbox__div"></i>
                        </label>
                        <div class="mr10 checkbox-switcher__label"><span class="jq-vacancy-trigger cursor-pointer">Название вакансии</span></div>
                        <div class="vacancy-list__salary">200.000 тг</div>
                        <div class="mr10 grid"><i class="fri fri_edit jq-vacancy-trigger"></i></div>
                        <div class="mr45 grid"><i class="fri fri_remove js-open-popup" data-open-popup="delete-vacancy"></i></div>
                        <div class="vacancy-list__statistic">Статистика вакансии</div>
                        <div class="vacancy-list__statistic-count">
                            <a href="#">5</a>
                        </div>
                        <form class="vacancy-list__vacancy jq-vacancy" action="#">
                            <div class="js-current-block-wrapper mb25">
                                <div class="js-current-block hidden" data-block="vacancy">
                                    <div class="cabinet-employer-vacancy">
                                        <div class="close-button-gray js-close-box"></div>
                                        <div class="cabinet-employer-vacancy__grid">
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Уровень зарплаты</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray cabinet-employer-vacancy__salary-input" type="text" placeholder="Введите число">
                                                    <span class="text-italic fz14 text-signal-black mr5">валюта</span>
                                                    <select class="select select_hover-green select_currency">
                                                        <option disabled selected>KZT</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Опыт работы</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Город</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Образование</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Специальные знания и навыки</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите требования к кандидату на должность"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Условия труда/<br>Доп. сведения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите условия, на которых будет работать сотрудник"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                                <div class="checkbox-switcher-wrapper">
                                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                                        <input class="js-destroy-form-styler" checked type="checkbox">
                                                        <i class="custom-checkbox__div"></i>
                                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                                    </label>
                                                    <div class="cabinet-employer-hint js-hint">
                                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                                            вакансию, кликните по ползунку.</p>
                                                    </div>
                                                    <div class="cabinet-employer-activate-hint active">
                                                        <i class="fri fri_exclamation-green mr10"></i>
                                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                                            вакансию или выбрать другой абонентский пакет. </p>
                                                    </div>
                                                </div>
                                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                                    <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center mt17 mb17">
                                        <span class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="vacancy-list__item">
                        <label class="custom-checkbox-switcher jq-checkbox-switcher mr25">
                            <input class="js-destroy-form-styler" type="checkbox">
                            <i class="custom-checkbox__div"></i>
                        </label>
                        <div class="mr10 checkbox-switcher__label"><span class="jq-vacancy-trigger cursor-pointer">Название вакансии</span></div>
                        <div class="vacancy-list__salary">210.000 тг</div>
                        <div class="mr10 grid"><i class="fri fri_edit jq-vacancy-trigger"></i></div>
                        <div class="mr45 grid"><i class="fri fri_remove js-open-popup" data-open-popup="delete-vacancy"></i></div>
                        <div class="vacancy-list__statistic">Статистика вакансии</div>
                        <form class="vacancy-list__vacancy jq-vacancy" action="#">
                            <div class="js-current-block-wrapper mb25">
                                <div class="js-current-block hidden" data-block="vacancy">
                                    <div class="cabinet-employer-vacancy">
                                        <div class="close-button-gray js-close-box"></div>
                                        <div class="cabinet-employer-vacancy__grid">
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Уровень зарплаты</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray cabinet-employer-vacancy__salary-input" type="text" placeholder="Введите число">
                                                    <span class="text-italic fz14 text-signal-black mr5">валюта</span>
                                                    <select class="select select_hover-green select_currency">
                                                        <option disabled selected>KZT</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Опыт работы</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Город</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Образование</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Специальные знания и навыки</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите требования к кандидату на должность"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Условия труда/<br>Доп. сведения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите условия, на которых будет работать сотрудник"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                                <div class="checkbox-switcher-wrapper">
                                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                                        <input class="js-destroy-form-styler" type="checkbox">
                                                        <i class="custom-checkbox__div"></i>
                                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                                    </label>
                                                    <div class="cabinet-employer-hint js-hint">
                                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                                            вакансию, кликните по ползунку.</p>
                                                    </div>
                                                    <div class="cabinet-employer-activate-hint active">
                                                        <i class="fri fri_exclamation-green mr10"></i>
                                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                                            вакансию или выбрать другой абонентский пакет. </p>
                                                    </div>
                                                </div>
                                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                                    <span class="cabinet-employer-vacancy-grid__statistic-count">
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center mt17 mb17">
                                        <span class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="grid flex-centered mb30">
                    <div class="add-vacancy jq-add-new-vacancy" data-block-add="vacancy">
                        <span class="add-vacancy__icon mr20"></span>
                        <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Добавить вакансию</span>
                    </div>
                </div>

                {#<div class="pagination text-center">
                    <a href="#" class="pagination__prev"></a>

                    <a href="#" class="pagination-items__item fz18 text-medium">1</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">2</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">3</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">4</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">5</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">6</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">7</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">8</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">9</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">10</a>

                    <a href="#" class="pagination__next"></a>
                </div>#}
            </li>
            <li class="cabinet-tab">
                <div class="cabinet-employer-payment">
                    <div class="grid mb35">

                        <ul class="cabinet-employer-payment-types unmarkered-list"
                            data-switcher="{target: 'payment-types'}">
                            <li class="cabinet-employer-payment-type mb10">
                                <div class="cabinet-employer-payment-type__wrapper">
                                    <i class="fri fri_non-cash-gray"></i>
                                </div>
                            </li>
                            <li class="cabinet-employer-payment-type">
                                <div class="cabinet-employer-payment-type__wrapper">
                                    <i class="fri fri_credit-card-gray"></i>
                                </div>
                            </li>
                        </ul>

                        <ul class="cabinet-employer-payment-types-descr unmarkered-list"
                            data-switcher-target="payment-types">
                            <li class="grid cabinet-employer-payment-types__tab grid_column">
                                <p class="text-center text-uppercase fz16 text-dark-dull-gray text-medium mb15">
                                    Безналичный расчет</p>
                                <div class="grid centered mb15">
                                    <i class="fri fri_non-cash-man-gray mr30"></i>
                                    <i class="fri fri_non-cash-terminal-gray mr30"></i>
                                    <i class="fri fri_non-cash-credit-card-gray"></i>
                                </div>
                                <p class="text-center text-uppercase fz16 text-dark-dull-gray text-medium">Генерация
                                    счета на оплату на сайте lablabor.kz</p>
                            </li>
                            <li class="grid cabinet-employer-payment-types__tab grid_column">
                                <p class="text-center text-uppercase fz16 text-dark-dull-gray text-medium mb30">
                                    Банковской картой</p>
                                <div class="grid flex-centered">
                                    <i class="fri fri_visa mr90 "></i>
                                    <i class="fri fri_american-express mr90"></i>
                                    <i class="fri fri_master-card"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subscriber-package">
                        <div class="subscriber-package__descr mr30">
                            <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет
                                «Basic»</p>
                            <p class="fz18 text-signal-black">
                                <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать от</span>
                                <span class="text-medium text-uppercase">1 </span>
                                <span class="text-italic">до </span>
                                <span class="text-medium text-uppercase">20 </span>
                                <span class="text-italic">вакансий сроком на </span>
                                <span class="text-medium">30 </span>
                                <span class="text-italic">(тридцать) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                            </p>
                        </div>
                        <div class="subscriber-package__box">
                            <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                            <div class="subscriber-package__price mb25">20000 тг.</div>
                            <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                        </div>
                    </div>
                    <div class="subscriber-package">
                        <div class="subscriber-package__box mr30">
                            <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                            <div class="subscriber-package__price mb25">40000 тг.</div>
                            <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                        </div>
                        <div class="subscriber-package__descr">
                            <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет
                                «Standard»</p>
                            <p class="fz18 text-signal-black">
                                <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать от</span>
                                <span class="text-medium text-uppercase">1 </span>
                                <span class="text-italic">до </span>
                                <span class="text-medium text-uppercase">40 </span>
                                <span class="text-italic">вакансий сроком на </span>
                                <span class="text-medium">30 </span>
                                <span class="text-italic">(тридцать) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                            </p>
                        </div>
                    </div>
                    <div class="subscriber-package">
                        <div class="subscriber-package__descr mr30">
                            <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет
                                «Expert»</p>
                            <p class="fz18 text-signal-black">
                                <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать от</span>
                                <span class="text-medium text-uppercase">1 </span>
                                <span class="text-italic">до </span>
                                <span class="text-medium text-uppercase">60 </span>
                                <span class="text-italic">вакансий сроком на </span>
                                <span class="text-medium">30 </span>
                                <span class="text-italic">(тридцать) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                            </p>
                        </div>
                        <div class="subscriber-package__box">
                            <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                            <div class="subscriber-package__price mb25">60000 тг.</div>
                            <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                        </div>
                    </div>
                    <div class="subscriber-package">
                        <div class="subscriber-package__box mr30">
                            <p class="text-green text-uppercase text-medium fz18 mb20">Стоимость</p>
                            <div class="subscriber-package__price mb25">40000 тг.</div>
                            <span class="button button_empty-green text-center subscriber-package__buy">Приобрести</span>
                        </div>
                        <div class="subscriber-package__descr">
                            <p class="pr30 mb20 fz18 text-dark-dull-gray text-uppercase text-medium">Абонентский пакет
                                «Premium»</p>
                            <p class="fz18 text-signal-black">
                                <span class="text-italic">Активируя данный пакет, на сайте Вы сможете размещать </span>
                                <span class="text-medium text-uppercase">неограниченное </span>
                                <span class="text-italic">вакансий сроком на </span>
                                <span class="text-medium">90 </span>
                                <span class="text-italic">(девяносто) календарных дней с момента поступления оплаты на счёт Lab labor.kz. Также Вам открывается полный доступ к базе резюме на тот же срок.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cabinet-tab">
                <div class="vacancy-list jq-vacancy-list">
                    <div class="vacancy-list__item jq-vacancy-item hidden" data-block="vacancy-practice">
                        <label class="custom-checkbox-switcher jq-checkbox-switcher mr25">
                            <input class="js-destroy-form-styler" checked type="checkbox">
                            <i class="custom-checkbox__div"></i>
                        </label>
                        <div class="mr10 checkbox-switcher__label"><span class="jq-vacancy-trigger cursor-pointer">Название вакансии</span></div>
                        <div class="mr10 grid"><i class="fri fri_edit jq-vacancy-trigger"></i></div>
                        <div class="mr45 grid"><i class="fri fri_remove js-open-popup" data-open-popup="delete-vacancy"></i></div>
                        <div class="vacancy-list__statistic">Статистика вакансии</div>
                        <div class="vacancy-list__statistic-count hidden">
                            <a href="#">5</a>
                        </div>
                        <form class="vacancy-list__vacancy jq-vacancy" action="#">
                            <div class="js-current-block-wrapper mb25">
                                <div class="js-current-block" data-block="vacancy">
                                    <div class="cabinet-employer-vacancy">
                                        <div class="close-button-gray js-close-box"></div>
                                        <div class="cabinet-employer-vacancy__grid">
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Период прохождения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Не имеет значения">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Город</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Пример: Алматы</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Учебное заведение</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: КазГУ">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Специальность</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: Журналистика">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: 3 часа в день">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Должностные обязанности</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите требования к кандидату на должность"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Дополнительные сведения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите условия, на которых будет работать сотрудник"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                                <div class="checkbox-switcher-wrapper">
                                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                                        <input class="js-destroy-form-styler" checked type="checkbox">
                                                        <i class="custom-checkbox__div"></i>
                                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                                    </label>
                                                    <div class="cabinet-employer-hint js-hint">
                                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                                            вакансию, кликните по ползунку.</p>
                                                    </div>
                                                    <div class="cabinet-employer-activate-hint active">
                                                        <i class="fri fri_exclamation-green mr10"></i>
                                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                                            вакансию или выбрать другой абонентский пакет. </p>
                                                    </div>
                                                </div>
                                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                                    <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center mt17 mb17">
                                        <span class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="vacancy-list__item">
                        <label class="custom-checkbox-switcher jq-checkbox-switcher mr25">
                            <input class="js-destroy-form-styler" checked type="checkbox">
                            <i class="custom-checkbox__div"></i>
                        </label>
                        <div class="mr10 checkbox-switcher__label"><span class="jq-vacancy-trigger cursor-pointer">Название вакансии</span></div>
                        <div class="mr10 grid"><i class="fri fri_edit jq-vacancy-trigger"></i></div>
                        <div class="mr45 grid"><i class="fri fri_remove js-open-popup" data-open-popup="delete-vacancy"></i></div>
                        <div class="vacancy-list__statistic">Статистика вакансии</div>
                        <div class="vacancy-list__statistic-count"><a href="#">5</a></div>
                        <form class="vacancy-list__vacancy jq-vacancy" action="#">
                            <div class="js-current-block-wrapper mb25">
                                <div class="js-current-block hidden" data-block="vacancy">
                                    <div class="cabinet-employer-vacancy">
                                        <div class="close-button-gray js-close-box"></div>
                                        <div class="cabinet-employer-vacancy__grid">
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Период прохождения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Не имеет значения">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Город</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Пример: Алматы</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Учебное заведение</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: КазГУ">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Специальность</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: Журналистика">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: 3 часа в день">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Должностные обязанности</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите требования к кандидату на должность"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Дополнительные сведения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите условия, на которых будет работать сотрудник"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                                <div class="checkbox-switcher-wrapper">
                                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                                        <input class="js-destroy-form-styler" checked type="checkbox">
                                                        <i class="custom-checkbox__div"></i>
                                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                                    </label>
                                                    <div class="cabinet-employer-hint js-hint">
                                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                                            вакансию, кликните по ползунку.</p>
                                                    </div>
                                                    <div class="cabinet-employer-activate-hint active">
                                                        <i class="fri fri_exclamation-green mr10"></i>
                                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                                            вакансию или выбрать другой абонентский пакет. </p>
                                                    </div>
                                                </div>
                                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                                    <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center mt17 mb17">
                                        <span class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="vacancy-list__item">
                        <label class="custom-checkbox-switcher jq-checkbox-switcher mr25">
                            <input class="js-destroy-form-styler" type="checkbox">
                            <i class="custom-checkbox__div"></i>
                        </label>
                        <div class="mr10 checkbox-switcher__label"><span class="jq-vacancy-trigger cursor-pointer">Другая вакансия</span></div>
                        <div class="mr10 grid"><i class="fri fri_edit jq-vacancy-trigger"></i></div>
                        <div class="mr45 grid"><i class="fri fri_remove js-open-popup" data-open-popup="delete-vacancy"></i></div>
                        <div class="vacancy-list__statistic">Статистика вакансии</div>
                        <form class="vacancy-list__vacancy jq-vacancy" action="#">
                            <div class="js-current-block-wrapper mb25">
                                <div class="js-current-block hidden" data-block="vacancy">
                                    <div class="cabinet-employer-vacancy">
                                        <div class="close-button-gray js-close-box"></div>
                                        <div class="cabinet-employer-vacancy__grid">
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Вакансия</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Выберите из списка</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Период прохождения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Не имеет значения">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Город</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <select class="select select_hover-green">
                                                        <option disabled selected>Пример: Алматы</option>
                                                        <option>Пункт 1</option>
                                                        <option>Пункт 2</option>
                                                        <option>Пункт 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Учебное заведение</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: КазГУ">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Специальность</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: Журналистика">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left">
                                                    <span class="text-italic fz14 text-signal-black">Тип занятости</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray"
                                                           type="text" placeholder="Например: 3 часа в день">
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Должностные обязанности</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите требования к кандидату на должность"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid">
                                                <div class="cabinet-employer-vacancy-grid__left flex-align-start">
                                                    <span class="text-italic fz14 text-signal-black">Дополнительные сведения</span>
                                                </div>
                                                <div class="cabinet-employer-vacancy-grid__right">
                                                    <textarea class="textarea" placeholder="Опишите условия, на которых будет работать сотрудник"></textarea>
                                                </div>
                                            </div>
                                            <div class="cabinet-employer-vacancy-grid flex-space-between">
                                                <div class="checkbox-switcher-wrapper">
                                                    <label class="custom-checkbox-switcher jq-checkbox-switcher js-open-hint mr25">
                                                        <input class="js-destroy-form-styler" checked type="checkbox">
                                                        <i class="custom-checkbox__div"></i>
                                                        <span class="fz12 text-light text-uppercase cursor-pointer">Вакансия активна</span>
                                                    </label>
                                                    <div class="cabinet-employer-hint js-hint">
                                                        <p class="text-white fz12 text-italic">Чтобы активировать или деактивировать
                                                            вакансию, кликните по ползунку.</p>
                                                    </div>
                                                    <div class="cabinet-employer-activate-hint active">
                                                        <i class="fri fri_exclamation-green mr10"></i>
                                                        <p class="fz12 text-italic">Превышено количество вакансий, доступных для
                                                            активации. Чтобы ее активировать, Вам нужно деактивировать другую
                                                            вакансию или выбрать другой абонентский пакет. </p>
                                                    </div>
                                                </div>
                                                <div class="grid cabinet-employer-vacancy-grid__statistic">
                                                    <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                                    <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center mt17 mb17">
                                        <span class="button button_green button_save-changes js-open-popup" data-open-popup="save-cabinet">Сохранить изменения</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="grid flex-centered mb30">
                    <div class="add-vacancy jq-add-new-vacancy" data-block-add="vacancy-practice">
                        <span class="add-vacancy__icon mr20"></span>
                        <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Добавить вакансию</span>
                    </div>
                </div>

                {#<div class="pagination text-center">
                    <a href="#" class="pagination__prev"></a>

                    <a href="#" class="pagination-items__item fz18 text-medium">1</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">2</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">3</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">4</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">5</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">6</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">7</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">8</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">9</a>
                    <a href="#" class="pagination-items__item fz18 text-medium">10</a>

                    <a href="#" class="pagination__next"></a>
                </div>#}
            </li>
        </ul>
    </div>

{% endblock %}