{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет соискателя | Вакансии{% endblock %}

{% set auth = 'true' %}

{% block content %}

    <div class="section section__subheader pt60 tab-pt15">
        <div class="container mb5">
            <ul class="breadcrumbs breadcrumbs_list mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Чтобы ваш профиль посмотрело больше работодателей, вам следует его заполнить</div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
        <div class="container container_1140">
            <ul class="tab-bar">
                <li class="tab-bar__item">Общие сведения</li>
                <li class="tab-bar__item">Образование</li>
                <li class="tab-bar__item">Опыт работы</li>
                <li class="tab-bar__item">Доп/спец навыки</li>
                <li class="tab-bar__item">Портфолио</li>
                <li class="tab-bar__item active">
                    Вакансии
                    <span class="tab-bar__item-count">5</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="section section__body-with-subheader pt75 pb55">
        <div class="container container_1140">
            <form class="cabinet-applicant-portfolio">
                <div class="js-current-block-wrapper">
                    <div class="cabinet-box mb15 js-current-block" block="cabinet_applicant_vacancies">
                        <div class="close-button-gray"></div>
                        <div class="grid mb15">
                            <div class="cabinet-employer-vacancy-grid__left">
                                <span class="text-italic fz14 text-signal-black">Вакансия</span>
                            </div>
                            <div class="cabinet-employer-vacancy-grid__right">
                                <select class="select  select_hover-green">
                                    <option disabled selected>Выберите из списка</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid mb25">
                            <div class="cabinet-employer-vacancy-grid__left">
                                <span class="text-italic fz14 text-signal-black">Уровень зарплаты</span>
                            </div>
                            <div class="cabinet-employer-vacancy-grid__right">
                                <input class="input input__gray-border input_hover-green input__active-green-border text-italic fz14 text-dark-dull-gray cabinet-employer-vacancy__salary-input"
                                       type="text" placeholder="Введите число">
                                <span class="text-italic fz14 text-signal-black mr5">валюта</span>
                                <select class="select select_hover-green select_currency">
                                    <option disabled selected>KZT</option>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                    <option>Пункт 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="cabinet-employer-vacancy-grid flex-space-between">
                            <div class="checkbox-switcher-wrapper">
                                <label>
                                    <div class="checkbox-switcher checkbox-switcher_span-switcher">
                                        <input class="mr10" type="checkbox" checked>
                                        <span class="checkbox-switcher_span fz12 text-light text-uppercase text-green">Вакансия активна</span>
                                    </div>
                                </label>
                            </div>
                            <div class="grid cabinet-employer-vacancy-grid__statistic">
                                <span class="cabinet-employer-vacancy-grid__statistic-text mr10">Статистика вакансии</span>
                                <span class="cabinet-employer-vacancy-grid__statistic-count">5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-vacancy flex-centered mb30 js-add-new-block" block-add="cabinet_applicant_vacancies">
                    <span class="add-vacancy__icon mr20"></span>
                    <span class="add-vacancy__text text-medium fz14 text-green text-uppercase">Нужен ещё один альбом?</span>
                </div>

                <p class="text-center mt17 mb17">
                    <button class="button button_green button_save-changes">Сохранить изменения</button>
                </p>
            </form>
        </div>
    </div>


{% endblock %}