{% extends "layouts/app.twig" %}

{% block pageTitle %}Резюме соискателя{% endblock %}

{% set auth = 'true' %}

{% block content %}

    <div class="section section__order-employer-header">
        <div class="container">
            <ul class="breadcrumbs pl265 mb10">
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
                </li>
                <li class="breadcrubmbs__item">
                    <a class="text-italic fz16 text-without-underline" href="#">Оплата заказа</a>
                </li>
            </ul>
            <div class="announce announce_backing">
                <div class="announce__content">
                    <div class="announce__text text-light fz13 text-uppercase text-white">Тариф такой-то такой-то активен еще 10 дней, не забывайте обновлять подписку</div>
                    <i class="fri fri_announce-content-close"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section section__cv-view-content">
        <div class="container container1140">
            <div class="summary">
                <div class="summary__left">
                    <div class="summary-left-section">
                        <div class="summary__image">
                            <div class="round-thumbnail round-thumbnail_150">
                                <img class="round-thumbnail__image round-thumbnail__image_150" src="images/default-vacancy.png" alt="">
                            </div>
                        </div>
                        <div class="summary-left-section__line mb10">
                            <button class="summary__button button button_gradient-green fz14">Пригласить на собеседование</button>
                        </div>
                        <div class="summary-left-section__line mb15">
                            <button class="summary__button button button_gradient-blue fz14"><i class="fri fri_print mr10"></i>Распечатать резюме</button>
                        </div>
                        <div class="summary-left-section__line grid mb10">
                            <span class="summary__icon mr10"><i class="fri fri_calendar"></i></span>
                            <span class="fz14">30.01.1989</span>
                        </div>
                        <div class="summary-left-section__line grid mb10">
                            <span class="summary__icon mr10"><i class="fri fri_place"></i></span>
                            <span class="fz14">Казахстан, г. Астана, ул. Первого президента РК, д., 26</span>
                        </div>
                        <div class="summary-left-section__line grid mb10">
                            <span class="summary__icon mr10"><i class="fri fri_sex"></i></span>
                            <span class="fz14">Мужской</span>
                        </div>

                        <div class="summary-left-section__line grid">
                            <span class="summary__icon mr10"><i class="fri fri_marital-status"></i></span>
                            <span class="fz14">Холост</span>
                        </div>
                    </div>
                    <div class="summary-left-section pl10">
                        <div class="summary-left-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri_skills"></i></span>
                            <span class="fz19 text-medium">Навыки</span>
                        </div>
                        <div class="summary-left-section__line mb10">
                            <span class="fz14 ">Языки</span>
                        </div>
                        <div class="summary-left-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>Русский - родной</li>
                                <li>Английский - свободно владею</li>
                            </ul>
                        </div>
                        <div class="summary-left-section__line mb10">
                            <span class="fz14">Владение ПК</span>
                        </div>
                        <div class="summary-left-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>Уверенный пользователь</li>
                            </ul>
                        </div>
                        <div class="summary-left-section__line mb10">
                            <span class="fz14">Знание спец программ</span>
                        </div>
                        <div class="summary-left-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>1С - не владею</li>
                                <li>Microsoft Word - свободно владею</li>
                            </ul>
                        </div>
                        <div class="summary-left-section__line mb10">
                            <p class="fz14">Водительские права</p>
                        </div>
                        <div class="summary-left-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>A1,A; B1,B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="summary-left-section pl10">
                        <div class="summary-left-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri_additional"></i></span>
                            <span class="fz19 text-medium">Доп. сведения</span>
                        </div>
                        <div class="summary-left-section__line">
                            <span class="fz14">Рисую, танцую Прошел курсы по танго Мастер спорта по плаванию в Зимбабве</span>
                        </div>
                    </div>
                </div>
                <div class="summary__right">
                    <div class="summary-right-section">
                        <div class="summary-right-section__line mb20">
                            <div class="summary__name fz24">Мельхиот Мейрбек Израилевич</div>
                        </div>
                        <div class="summary-right-section__line mb5">
                            <div class="summary-grid">
                                <div class="summary__speciality text-medium fz19">Инженер-строитель</div>
                                <div class="summary__salary fz19">120 000 KZT</div>
                            </div>
                        </div>
                        <div class="summary-right-section__line mb25">
                            <div class="summary__workday">Полный рабочий день</div>
                        </div>

                        {#  767 #}
                        <div class="summary-right-section__line mb10 desktop-hidden">
                            <div class="summary__image">
                                <div class="round-thumbnail round-thumbnail_150">
                                    <img class="round-thumbnail__image round-thumbnail__image_150" src="images/default-vacancy.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="summary-right-section__line mb10 desktop-hidden">
                            <button class="summary__button button button_gradient-green fz14">Пригласить на собеседование</button>
                        </div>
                        <div class="summary-right-section__line mb15 desktop-hidden">
                            <button class="summary__button button button_gradient-blue fz14"><i class="fri fri_print mr10"></i>Распечатать резюме</button>
                        </div>
                        {# //767 #}

                        <div class="summary-right-section__line">
                            <div class="summary-grid pl10">
                                <div class="summary__email">
                                    <span class="summary__icon mr10"><i class="fri fri_email"></i></span>
                                    <span><a class="fz15 text-without-underline" href="mailto:dsdrt12@mail.ru">dsdrt12@mail.ru</a></span>
                                </div>
                                <div class="summary__phones summary-phones">
                                    <span class="summary-phones__icon summary__icon mr10"><i class="fri fri_phone"></i></span>
                                    <div class="summary-phones__phones">
                                        <span><a class="fz15 text-without-underline" href="tel:+77478742265">+7 747 874 22 65</a></span>
                                        <span><a class="fz15 text-without-underline" href="tel:+77272562514">+7 727 256 25 14</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# 767 #}
                        <div class="summary-right-section__line mb10 desktop-hidden pl10">
                            <span class="summary__icon mr10"><i class="fri fri_calendar"></i></span>
                            <span class="fz14">30.01.1989</span>
                        </div>
                        <div class="summary-right-section__line mb10 desktop-hidden pl10">
                            <span class="summary__icon mr10"><i class="fri fri_place"></i></span>
                            <span class="fz14">Казахстан, г. Астана, ул. Первого президента РК, д., 26</span>
                        </div>
                        <div class="summary-right-section__line mb10 desktop-hidden pl10">
                            <span class="summary__icon mr10"><i class="fri fri_sex"></i></span>
                            <span class="fz14">Мужской</span>
                        </div>
                        <div class="summary-right-section__line mb10 desktop-hidden pl10">
                            <span class="summary__icon mr10"><i class="fri fri_marital-status"></i></span>
                            <span class="fz14">Холост</span>
                        </div>
                        {# //767 #}
                    </div>

                    {# 767 #}
                    <div class="summary-right-section desktop-hidden">
                        <div class="summary-right-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri_skills"></i></span>
                            <span class="fz19 text-medium">Навыки</span>
                        </div>
                        <div class="summary-right-section__line mb10">
                            <span class="fz14 ">Языки</span>
                        </div>
                        <div class="summary-right-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>Русский - родной</li>
                                <li>Английский - свободно владею</li>
                            </ul>
                        </div>
                        <div class="summary-right-section__line mb10">
                            <span class="fz14">Владение ПК</span>
                        </div>
                        <div class="summary-right-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>Уверенный пользователь</li>
                            </ul>
                        </div>
                        <div class="summary-right-section__line mb10">
                            <span class="fz14">Знание спец программ</span>
                        </div>
                        <div class="summary-right-section__line mb20 pl20">
                            <ul class="fz14">
                                <li>1С - не владею</li>
                                <li>Microsoft Word - свободно владею</li>
                            </ul>
                        </div>
                        <div class="summary-right-section__line mb10">
                            <p class="fz14">Водительские права</p>
                        </div>
                        <div class="summary-right-section__line pl20">
                            <ul class="fz14">
                                <li>A1,A; B1,B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="summary-right-section desktop-hidden">
                        <div class="summary-right-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri_additional"></i></span>
                            <span class="fz19 text-medium">Доп. сведения</span>
                        </div>
                        <div class="summary-right-section__line">
                            <span class="fz14">Рисую, танцую Прошел курсы по танго Мастер спорта по плаванию в Зимбабве</span>
                        </div>
                    </div>
                    {# //767 #}

                    <div class="summary-right-section">
                        <div class="summary-right-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri fri_education"></i></span>
                            <span class="text-medium fz19">Образование</span>
                        </div>
                        <div class="summary-right-section__line mb10">
                            <span class="fz14">Начальное</span>
                        </div>
                        <div class="summary-right-section__line mb20 pl35">
                            <ul class="fz14">
                                <li>
                                    <p>Казахстан, Алматы</p>
                                    <p>Школа №89</p>
                                    <p>1994-2005</p>
                                </li>
                            </ul>
                        </div>
                        <div class="summary-right-section__line mb10">
                            <span class="fz14">Высшее</span>
                        </div>
                        <div class="summary-right-section__line mb20 pl35">
                            <ul class="fz14">
                                <li>
                                    <p>Казахстан, Алматы</p>
                                    <p>КазНТУ: 2005-2009</p>
                                    <p><strong>Факультет: </strong>Строительства</p>
                                    <p><strong>Специальность: </strong>Инженер-строитель</p>
                                    <p><strong>Доп. сведения:</strong> Бакалавр, красный диплом. Участник олимпиад. Победитель конкурса «Озеленитель Года»</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="summary-right-section">
                        <div class="summary-right-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri fri_experience"></i></span>
                            <span class="text-medium fz19">Опыт работы</span>
                        </div>
                        <div class="summary-right-section__line pl35">
                            <ul>
                                <li class="summary-grid mb5">
                                    <div class="summary-grid__left-item grid">
                                        <div class="summary-grid__marker"></div>
                                        <span class="fz14">Январь 2013 - Февраль 2016</span>
                                    </div>
                                    <div class="summary-grid__right-item">
                                        <p class="fz14">АО “КазТрава”.</p>
                                        <p class="fz10">Проектирование, дизайн</p>
                                        <p class="fz14">Младший инженер</p>
                                        <p class="fz10">Выносил мусор, изучал фитодизайн, спал.</p>
                                        <p class="fz10 text-dull-gray">Полюбил дизайн, дополнительно работал на мусоровозе</p>
                                    </div>
                                </li>
                                <li class="summary-grid mb5">
                                    <div class="summary-grid__left-item grid">
                                        <div class="summary-grid__marker"></div>
                                        <span class="fz14">Январь 2013 - Февраль 2015</span>
                                    </div>
                                    <div class="summary-grid__right-item">
                                        <p class="fz14">АО “Казкоммерцбанк”.</p>
                                        <p class="fz10">Банк</p>
                                        <p class="fz14">Менеджер по инженерии</p>
                                        <p class="fz10">Выносил мусор, изучал фитодизайн, спал.</p>
                                        <p class="fz10 text-dull-gray">Полюбил дизайн, дополнительно работал на мусоровозе</p>
                                    </div>
                                </li>
                                <li class="summary-grid">
                                    <div class="summary-grid__left-item grid">
                                        <div class="summary-grid__marker"></div>
                                        <span class="fz14">Январь 2013 - Февраль 2015</span>
                                    </div>
                                    <div class="summary-grid__right-item">
                                        <p class="fz14">АО “Казкоммерцбанксовкомпотреб”.</p>
                                        <p class="fz10">Бане</p>
                                        <p class="fz14">Менеджер по инженерии</p>
                                        <p class="fz10">Выносил мусор, изучал фитодизайн, спал.</p>
                                        <p class="fz10 text-dull-gray">Полюбил дизайн, дополнительно работал на мусоровозе</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="summary-right-section">
                        <div class="summary-right-section__line mb20">
                            <span class="summary__icon mr10"><i class="fri fri_probation"></i></span>
                            <span class="text-medium fz19">Стажировка / курсы</span>
                        </div>
                        <div class="summary-right-section__line pl35">
                            <ul>
                                <li class="summary-grid mb5">
                                    <div class="summary-grid__left-item grid">
                                        <div class="summary-grid__marker"></div>
                                        <span class="fz14">Россия, Москва. 2009</span>
                                    </div>
                                    <div class="summary-grid__right-item">
                                        <p class="fz14">"Международный тренинг по водному плаванию"</p>
                                        <p class="fz10">тренинг по водному плаванию и не только по водному имеется сертификат</p>
                                    </div>
                                </li>
                                <li class="summary-grid mb5">
                                    <div class="summary-grid__left-item grid">
                                        <div class="summary-grid__marker"></div>
                                        <span class="fz14">Россия, Архангельск. 2014</span>
                                    </div>
                                    <div class="summary-grid__right-item">
                                        <p class="fz14">"Центр строительных мастеров"</p>
                                        <p class="fz10">тренинг по водному плаванию и не только по водному имеется сертификат</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}