{% extends "layouts/app.twig" %}

{% block pageTitle %}Профиль работодателя | Просмотр{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section section__body-without-subheader pt75 pb110 tab-pt15 tab-pb15">
        <div class="container container1140">
            <div class="employer-view">
                <div class="employer-view__left">
                    <div class="employer-view__line tab-mb20 desktop-hidden">
                        <p class="text-uppercase fz18 text-medium text-center">АО “АлматыИнженерПром”</p>
                    </div>
                    <div class="employer-view__line mb10">
                        <div class="thumbnail">
                            <div class="thumbnail__rectangle thumbnail_200 centered">
                                <img class="thumbnail__image_200" src="images/vacancy-view.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="employer-view__line">
                        <p class="text-center fz16 text-italic">Здесь будет город</p>
                    </div>
                    <div class="employer-view__line mb15">
                        <p class="text-center"><a class="text-italic text-underline green-text" href="#">www.website.kz</a></p>
                    </div>
                    <div class="employer-view__line">
                        <p class="text-uppercase text-center text-light fz16">Сфера деятельности:</p>
                    </div>
                    <div class="employer-view__line">
                        <p class="text-italic text-center fz16">Сфера такая-то такая-то</p>
                    </div>
                </div>
                <div class="employer-view__right">
                    <div class="employer-view__line mb40 tab-mb20 tab-hidden">
                        <p class="text-uppercase fz18 text-medium">АО “АлматыИнженерПром”</p>
                    </div>
                    <div class="employer-view__line">
                        <a class="employer-view-grid" href="#">
                            <div class="employer-view-grid__vacancy text-uppercase"><span class="employer-view-grid__vacancy_underline">Менеджер по подбору персонала</span></div>
                            <div class="employer-view-grid__salary text-uppercase">260.000 тг.</div>
                            <div class="employer-view-grid__data text-uppercase">17 января 2017</div>
                        </a>
                        <a class="employer-view-grid" href="#">
                            <div class="employer-view-grid__vacancy text-uppercase"><span class="employer-view-grid__vacancy_underline">Название вакансии</span></div>
                            <div class="employer-view-grid__salary text-uppercase">280.000 тг.</div>
                            <div class="employer-view-grid__data text-uppercase">17 января 2017</div>
                        </a>
                        <a class="employer-view-grid" href="#">
                            <div class="employer-view-grid__vacancy text-uppercase"><span class="employer-view-grid__vacancy_underline">Название вакансии</span></div>
                            <div class="employer-view-grid__salary text-uppercase">360.000 тг.</div>
                            <div class="employer-view-grid__data text-uppercase">17 января 2017</div>
                        </a>
                        <a class="employer-view-grid" href="#">
                            <div class="employer-view-grid__vacancy text-uppercase"><span class="employer-view-grid__vacancy_underline">Название вакансии</span></div>
                            <div class="employer-view-grid__salary text-uppercase">560.000 тг.</div>
                            <div class="employer-view-grid__data text-uppercase">17 января 2017</div>
                        </a>
                        <a class="employer-view-grid" href="#">
                            <div class="employer-view-grid__vacancy text-uppercase"><span class="employer-view-grid__vacancy_underline">Название вакансии</span></div>
                            <div class="employer-view-grid__salary text-uppercase">160.000 тг.</div>
                            <div class="employer-view-grid__data text-uppercase">17 января 2017</div>
                        </a>
                        <a class="employer-view-grid" href="#">
                            <div class="employer-view-grid__vacancy text-uppercase"><span class="employer-view-grid__vacancy_underline">Название вакансии</span></div>
                            <div class="employer-view-grid__salary text-uppercase">860.000 тг.</div>
                            <div class="employer-view-grid__data text-uppercase">17 января 2017</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}