{% extends "layouts/app.twig" %}

{% block pageTitle %}Страница не найдена{% endblock %}
{% set mobile = 'true' %}
{% set page_clear = 'true' %}

{% block content %}

    <div class="not-found-wrapper">
        <div class="container">
            <div class="not-found">
                <i class="fri fri_logo-new mb25"></i>
                <p class="fz18 text-uppercase text-light mb25 text-center">Ошибка <strong>404</strong></p>
                <p class="text-italic fz18 mb10 text-center">Запрашиваемая Вами страница не найдена</p>
                <p class="text-center"><a class="fz14 link-standard text-italic" href="/">Вернуться на главную?</a></p>
            </div>
        </div>
    </div>

{% endblock %}
