{% extends "layouts/app.twig" %}

{% block pageTitle %}Помощь{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section section__body-without-subheader pt80 pb120 tab-pb15 tab-pt15">
        <div class="container container1140">
            <div class="help">
                <p class="help__title pl160 fz24 text-medium text-uppercase text-dull-gray mb30 mob-pl0 mob-text-center mob-fz20 text-dark-dull-gray">Часто задаваемые вопросы</p>
                <div class="help__section mb30">
                    <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase mb15 mob-fz16">регистрация и оформление профиля соискателя</p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#job-seeker-how-register">Как зарегистрироваться?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#job-seeker-why-phone">Зачем мне нужно указывать номер телефона?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#job-seeker-why-not-come-email">Почему мне не пришло активационное письмо?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#job-seeker-how-find-work">Как начать искать работу?</a></p>
                </div>
                <div class="help__section mb30">
                    <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase mb15 mob-fz16">регистрация и оформление профиля работодателя</p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#employer-how-register">Как зарегистрироваться?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#employer-why-phone">Зачем мне нужно указывать номер телефона?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#employer-why-not-come-email">Почему регистрация для соискателя и работодателя одинаковые?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#employer-how-find-work">Как начать искать холопов для рабского труда?</a></p>
                </div>
                <div class="help__section mb30">
                    <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase mb15 mob-fz16">Письма и оповещения</p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#emails-job-inventation">Как я могу узнать, что меня пригласили на работу/откликнулся соискатель?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#emails-notification">Мне надоели письма об обновлениях, как их отключить?</a></p>
                </div>
                <div class="help__section mb40">
                    <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase mb15 mob-fz16">Услуги и оплата</p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#payment-how">Как оплачивать услуги соискателю?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#payment-validity">Как узнать, сколько осталось до окончания действия моего тарифа?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#payment-tariff-change">Я облажался с подсчетом вакансий, мне нужно разместить больше, могу ли я сменить тариф, не переплачивая?</a></p>
                    <p class="pl40 mob-pl10"><a class="help__link fz18 text-italic text-green text-underline mob-fz14" href="#payment-services-problem">Я оплатил услугу, а услуга так и не активизировалась. Что делать?</a></p>
                </div>
                <p class="help__title pl160 fz24 text-medium text-uppercase text-dull-gray mb30 mob-pl0 mob-text-center mob-fz20">Развернутые ответы</p>
                <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase mb15 mob-fz16">Регистрация и оформление профиля соискателя</p>
                <div class="help__section mb20">
                    <p class="pl40 mob-pl10"><a class="fz18 text-italic text-pigeon-blue" name="job-seeker-how-register">Как зарегистрироваться?</a></p>
                    <p class="fz14 text-italic text-dark-dull-gray">Просто возьмите и зарегистрируйтесь, наверху есть такая зелененькая кнопочка, дальше пойдет какой-то рандомный текст. Политический плюрализм — это принцип, содействующий существованию многообразия политических сил с конкуренцией между ними за представительство в органах государственной власти. Он предполагает легальное столкновение интересов, дискуссии между сторонниками различных точек зрения. Другими словами — многопартийность.<br>
                    Необходимыми, но недостаточными условиями для существования политического плюрализма являются свобода слова и свобода массовой информации, многопартийная система, политическая оппозиция, свободные выборы, парламентаризм, независимые от государства общественные организации.</p>
                </div>
                <div class="help__section mb20">
                    <p class="pl40 mob-pl10"><a class="fz18 text-italic text-pigeon-blue" name="job-seeker-why-phone">Зачем мне нужно указывать номер телефона?</a></p>
                    <p class="fz14 text-italic text-dark-dull-gray">Просто возьмите и зарегистрируйтесь, наверху есть такая зелененькая кнопочка, дальше пойдет какой-то рандомный текст. Политический плюрализм — это принцип, содействующий существованию многообразия политических сил с конкуренцией между ними за представительство в органах государственной власти. Он предполагает легальное столкновение интересов, дискуссии между сторонниками различных точек зрения. Другими словами — многопартийность.<br>
                        Необходимыми, но недостаточными условиями для существования политического плюрализма являются свобода слова и свобода массовой информации, многопартийная система, политическая оппозиция, свободные выборы, парламентаризм, независимые от государства общественные организации.</p>
                </div>
                <div class="help__section mb20">
                    <p class="pl40 mob-pl10"><a class="fz18 text-italic text-pigeon-blue" name="job-seeker-why-not-come-email">Почему мне не пришло активационное письмо?</a></p>
                    <p class="fz14 text-italic text-dark-dull-gray">Просто возьмите и зарегистрируйтесь, наверху есть такая зелененькая кнопочка, дальше пойдет какой-то рандомный текст. Политический плюрализм — это принцип, содействующий существованию многообразия политических сил с конкуренцией между ними за представительство в органах государственной власти. Он предполагает легальное столкновение интересов, дискуссии между сторонниками различных точек зрения. Другими словами — многопартийность.<br>
                        Необходимыми, но недостаточными условиями для существования политического плюрализма являются свобода слова и свобода массовой информации, многопартийная система, политическая оппозиция, свободные выборы, парламентаризм, независимые от государства общественные организации.</p>
                </div>
                <div class="help__section mb20">
                    <p class="pl40 mob-pl10"><a class="fz18 text-italic text-pigeon-blue" name="job-seeker-how-find-work">Как начать искать работу?</a></p>
                    <p class="fz14 text-italic text-dark-dull-gray">Просто возьмите и зарегистрируйтесь, наверху есть такая зелененькая кнопочка, дальше пойдет какой-то рандомный текст. Политический плюрализм — это принцип, содействующий существованию многообразия политических сил с конкуренцией между ними за представительство в органах государственной власти. Он предполагает легальное столкновение интересов, дискуссии между сторонниками различных точек зрения. Другими словами — многопартийность.<br>
                        Необходимыми, но недостаточными условиями для существования политического плюрализма являются свобода слова и свобода массовой информации, многопартийная система, политическая оппозиция, свободные выборы, парламентаризм, независимые от государства общественные организации.</p>
                </div>
                <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase mb15 mob-fz16">Регистрация и оформление профиля исполнителя</p>
                <div class="help__section mb20">
                    <p class="pl40 mob-pl10"><a class="fz18 text-italic text-pigeon-blue" name="employer-how-find-work">Как начать искать холопов для рабского труда?</a></p>
                    <p class="fz14 text-italic text-dark-dull-gray">Просто возьмите и зарегистрируйтесь, наверху есть такая зелененькая кнопочка, дальше пойдет какой-то рандомный текст. Политический плюрализм — это принцип, содействующий существованию многообразия политических сил с конкуренцией между ними за представительство в органах государственной власти. Он предполагает легальное столкновение интересов, дискуссии между сторонниками различных точек зрения. Другими словами — многопартийность.<br>
                        Необходимыми, но недостаточными условиями для существования политического плюрализма являются свобода слова и свобода массовой информации, многопартийная система, политическая оппозиция, свободные выборы, парламентаризм, независимые от государства общественные организации.</p>
                </div>
                <p class="help__subtitle fz18 text-light text-dull-gray text-uppercase text-center">Не нашли здесь ответа на свой вопрос? Обратитесь к онлайн-консультанту на сайте</p>
            </div>
        </div>
    </div>


{% endblock %}