{% extends "layouts/app.twig" %}

{% block pageTitle %}Lablabor | Главная страница{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="main-auth-content-area mb25">
        <div class="auth-slider owl-carousel">
            <div class="auth-slider__first-slide" style="background-image: url('images/auth-slide-1.jpg')">
                <div class="auth-slider__first-slide-top">
                    <div class="auth-slider__first-slide-top-content text-center text-white">
                        <p class="medium-title fz36">21.01.2017</p>
                        <p class="text-italic fz30">Старт проекта</p>
                    </div>
                </div>
                <div class="auth-slider__first-slide-bottom">
                    <div class="auth-slider__first-slide-bottom-content text-center text-white">
                        <p class="medium-title fz36">Какой-то текст о студенческой практике</p>
                        <p class="text-italic fz30">Подзаголовок, немного рассказывающий о проекте</p>
                    </div>
                </div>
            </div>
            <div class="auth-slider__second-slide" style="background-image: url('images/auth-slide-2.jpg')">
                <div class="auth-slider__second-slide-wrapper">
                    <div class="auth-slider__second-slide-title mb15"><p class="text-medium text-center text-white text-uppercase fz36">Разместите свою первую вакансию уже сейчас</p></div>
                    <div class="auth-slider__second-slide-subtitle mb15"><p class="text-italic text-center text-white fz30">Первые 10 дней она будет отображаться на сайте абсолютно </p></div>
                    <div class="auth-slider__second-slide-announce-backing">
                        <div class="auth-slider__second-slide-announce-content"><p class="text-light text-uppercase text-center text-white fz30">Бесплатно</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_main-content-auth pb50">
        <div class="container">
            <div class="main-content main-content_auth_page">
                <div class="main-content-banner">
                    <div class="main-content__banner owl-carousel">
                        <div class="main-content__banner_wrapper"><img src="images/banner-right.jpg" alt=""></div>
                        <div class="main-content__banner_wrapper"><img src="images/banner-left.jpg" alt=""></div>
                    </div>
                </div>
                <div class="main-content__content">
                    <div class="main-content-vacancies">
                        <div class="medium-title fz18 text-dark-dull-gray text-uppercase mb35 text-center">Актуальные
                            вакансии
                        </div>
                        <div class="main-vacancies-top mb30">
                            <div class="main-vacancies-top__item">
                                <div class="company-vacancies">
                                    <div class="light-title fz14 text-dark-dull-gray text-uppercase mb15">Вакансии
                                        компаний
                                    </div>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания раз</p>
                                        <p class="company-vacancies__count">20</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания номер
                                            два</p>
                                        <p class="company-vacancies__count">40</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания номер
                                            3</p>
                                        <p class="company-vacancies__count">51</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания номер
                                            н</p>
                                        <p class="company-vacancies__count">33</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компаниия еще
                                            какая-то</p>
                                        <p class="company-vacancies__count">75</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания с
                                            длинным названием</p>
                                        <p class="company-vacancies__count">4</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания
                                            такая</p>
                                        <p class="company-vacancies__count">15</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания
                                            сякая</p>
                                        <p class="company-vacancies__count">17</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                        <p class="company-vacancies__company green-text">Компания
                                            предпоследняя</p>
                                        <p class="company-vacancies__count">28</p>
                                    </a>
                                    <a class="main-vacancy text-italic fz14 text-dark-dull-gray" href="#">
                                        <p class="company-vacancies__company green-text">Компания
                                            последняя</p>
                                        <p class="company-vacancies__count">33</p>
                                    </a>
                                </div>
                            </div>
                            <div class="main-vacancies-top__item">
                                <div class="light-title fz14 text-dark-dull-gray text-uppercase mb15">Самые
                                    высокооплачиваемые
                                </div>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Какая-то вакансия номер один</p>
                                    <p class="company-vacancies__count">100.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Другая вакансия</p>
                                    <p class="company-vacancies__count">90.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Третье предложение места</p>
                                    <p class="company-vacancies__count">80.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Третье предложение места</p>
                                    <p class="company-vacancies__count">70.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Какая-то вакансия номер один</p>
                                    <p class="company-vacancies__count">60.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Другая вакансия</p>
                                    <p class="company-vacancies__count">50.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Третье предложение места</p>
                                    <p class="company-vacancies__count">40.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Какая-то вакансия номер один</p>
                                    <p class="company-vacancies__count">30.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                                   href="#">
                                    <p class="company-vacancies__company">Другая вакансия</p>
                                    <p class="company-vacancies__count">20.000.000 тг</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray "
                                   href="#">
                                    <p class="company-vacancies__company">Последнее место</p>
                                    <p class="company-vacancies__count">10.000.000 тг</p>
                                </a>
                            </div>
                        </div>
                        <div class="light-title fz14 text-dark-dull-gray text-uppercase mb15 text-center">Свежие
                            вакансии
                        </div>
                        <div class="main-vacancies-bottom mb30">
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Какая-то вакансия номер один</p>
                                <p class="main-vacancies__company">Компания 1</p>
                                <p class="main-vacancies__salary">100.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Другая вакансия</p>
                                <p class="main-vacancies__company">Компания 2</p>
                                <p class="main-vacancies__salary">90.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Третье предложение места работы</p>
                                <p class="main-vacancies__company">Компания 3</p>
                                <p class="main-vacancies__salary">80.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Какая-то вакансия номер один</p>
                                <p class="main-vacancies__company">Компания4</p>
                                <p class="main-vacancies__salary">70.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Другая вакансия</p>
                                <p class="main-vacancies__company">Компания 5</p>
                                <p class="main-vacancies__salary">60.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Третье предложение места работы</p>
                                <p class="main-vacancies__company">Компания 6</p>
                                <p class="main-vacancies__salary">50.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Какая-то вакансия номер один</p>
                                <p class="main-vacancies__company">Компания 7</p>
                                <p class="main-vacancies__salary">40.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Другая вакансия</p>
                                <p class="main-vacancies__company">Компания 8</p>
                                <p class="main-vacancies__salary">30.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Третье предложение места работы</p>
                                <p class="main-vacancies__company">Компания 9</p>
                                <p class="main-vacancies__salary">20.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray  mb15"
                               href="#">
                                <p class="main-vacancies__name">Другая вакансия</p>
                                <p class="main-vacancies__company">Компания 10</p>
                                <p class="main-vacancies__salary">10.000.000 тг</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main-content-banner">
                    <div class="main-content__banner owl-carousel">
                        <div class="main-content__banner_wrapper"><img src="images/banner-left.jpg" alt=""></div>
                        <div class="main-content__banner_wrapper"><img src="images/banner-right.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="main-articles">
                <div class="medium-title text-center text-dark-dull-gray mb20 lts2">Полезные статьи</div>
                <div class="main-articles-grid">
                    <div class="main-articles-grid__item-large">
                        <div class="main-article">
                            <div class="main-article__image-wrap">
                                <img class="main-article__image" src="images/article-1.jpg" alt=""
                                     class="main-article__image">
                            </div>
                            <div class="main-article__descr">
                                <div class="main-article__title light-title text-white fz12 text-center">Работать руками
                                    тоже надо уметь
                                </div>
                                <div class="main-article__text text-italic fz12">
                                    <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда
                                        появляется ОН - ваш босс в плохом настроении...</p>
                                    <p class="main-article__link"><a class="text-without-underline" href="#">Читать
                                            далее</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-articles-grid__item-small">
                        <div class="main-article">
                            <div class="main-article__image-wrap">
                                <img class="main-article__image" src="images/article-2.jpg" alt="">
                            </div>
                            <div class="main-article__descr">
                                <div class="main-article__title light-title text-white fz12 text-center">как понравиться
                                    начальнику?
                                </div>
                                <div class="main-article__text text-italic fz12">
                                    <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда
                                        появляется ОН - ваш босс в плохом настроении...</p>
                                    <p class="main-article__link"><a class="text-without-underline" href="#">Читать
                                            далее</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-articles-grid__item-small">
                        <div class="main-article">
                            <div class="main-article__image-wrap">
                                <img class="main-article__image" src="images/article-3.jpg" alt="">
                            </div>
                            <div class="main-article__descr">
                                <div class="main-article__title light-title text-white fz12 text-center">технологии и
                                    мы
                                </div>
                                <div class="main-article__text text-italic fz12">
                                    <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда
                                        появляется ОН - ваш босс в плохом настроении...</p>
                                    <p class="main-article__link"><a class="text-without-underline" href="#">Читать
                                            далее</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-articles-grid__item-large">
                        <div class="main-article">
                            <div class="main-article__image-wrap">
                                <img class="main-article__image" src="images/article-4.jpg" alt="">
                            </div>
                            <div class="main-article__descr">
                                <div class="main-article__title light-title text-white fz12 text-center">Вливаемся в
                                    новый коллектив. Вредные советы
                                </div>
                                <div class="main-article__text text-italic fz12">
                                    <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда
                                        появляется ОН - ваш босс в плохом настроении...</p>
                                    <p class="main-article__link"><a class="text-without-underline" href="#">Читать
                                            далее</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <button class="main-content__button button button_empty-green" type="submit">Загрузить ещё статьи
                </button>
            </p>
        </div>
    </div>

{% endblock %}