{% extends "layouts/app.twig" %}

{% block pageTitle %}Lablabor | Главная страница{% endblock %}

{% set auth = 'true' %}

{% block content %}
    
<div class="main-auth-content-area mb30">
        <div class="auth-slider owl-carousel">
            <div class="auth-slider__slide" style="background-image: url('../images/auth-slide-1.jpg')">
                <div class="auth-slider__top">
                    <div class="auth-slider__top-content text-center text-white">
                        <p class="medium-title fz36">21.01.2017</p>
                        <p class="text-italic fz30">Старт проекта</p>
                    </div>
                </div>
                <div class="auth-slider__bottom">
                    <div class="auth-slider__bottom-content text-center text-white">
                        <p class="medium-title fz36">Какой-то текст о студенческой практике</p>
                        <p class="text-italic fz30">Подзаголовок, немного рассказывающий о проекте</p>
                    </div>
                </div>
            </div>
            <div class="auth-slider__slide" style="background-image: url('../images/auth-slide-1.jpg')">
                <div class="auth-slider__top">
                    <div class="auth-slider__top-content text-center text-white">
                        <p class="medium-title fz36">21.01.2017</p>
                        <p class="text-italic fz30">Старт проекта</p>
                    </div>
                </div>
                <div class="auth-slider__bottom">
                    <div class="auth-slider__bottom-content text-center text-white">
                        <p class="medium-title fz36 crop-text">Какой-то текст о студенческой практике</p>
                        <p class="text-italic fz30 crop-text">Подзаголовок, немного рассказывающий о проекте</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section_main-content-auth">
    <div class="container">
        <div class="main-content main-content_auth_page">
            <div class="main-content__banner owl-carousel">
                <div class="main-content__banner_wrapper"><img src="/images/banner-right.jpg" alt=""></div>
                <div class="main-content__banner_wrapper"><img src="/images/banner-left.jpg" alt=""></div>
            </div>
            <div class="main-content__content">
                <div class="main-content-vacancies">
                    <div class="medium-title fz18 text-dark-dull-gray text-uppercase mb45 text-center">Актуальные вакансии</div>
                    <div class="main-vacancies-grid">
                        <div class="main-vacancies-grid__item">
                            <div class="company-vacancies">
                                <div class="light-title fz14 text-dark-dull-gray text-uppercase mb20">Вакансии компаний</div>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="company-vacancies__company float-left green-text text-underline">Компания раз</p>
                                    <p class="company-vacancies__count float-right">20</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания номер два</p>
                                    <p class="float-right">40</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания номер 3</p>
                                    <p class="float-right">51</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания номер н</p>
                                    <p class="float-right">33</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компаниия еще какая-то</p>
                                    <p class="float-right">75</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания с длинным названием</p>
                                    <p class="float-right">4</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания такая</p>
                                    <p class="float-right">15</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания сякая</p>
                                    <p class="float-right">17</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания предпоследняя</p>
                                    <p class="float-right">28</p>
                                </a>
                                <a class="main-vacancy text-italic fz14 text-dark-dull-gray mb15" href="#">
                                    <p class="float-left green-text text-underline">Компания последняя</p>
                                    <p class="float-right">33</p>
                                </a>
                            </div>
                        </div>
                        <div class="main-vacancies-grid__item">
                            <div class="light-title fz14 text-dark-dull-gray text-uppercase mb20">Самые высокооплачиваемые</div>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Какая-то вакансия номер один</p>
                                <p class="float-right">100.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Другая вакансия</p>
                                <p class="float-right">90.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Третье предложение места</p>
                                <p class="float-right">80.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Третье предложение места</p>
                                <p class="float-right">70.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Какая-то вакансия номер один</p>
                                <p class="float-right">60.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Другая вакансия</p>
                                <p class="float-right">50.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Третье предложение места</p>
                                <p class="float-right">40.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Какая-то вакансия номер один</p>
                                <p class="float-right">30.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Другая вакансия</p>
                                <p class="float-right">20.000.000 тг</p>
                            </a>
                            <a class="main-vacancy text-italic fz14 text-dark-dull-gray text-without-underline mb15" href="#">
                                <p class="float-left">Последнее место</p>
                                <p class="float-right">10.000.000 тг</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content__banner owl-carousel">
                <div class="main-content__banner_wrapper"><img src="/images/banner-left.jpg" alt=""></div>
                <div class="main-content__banner_wrapper"><img src="/images/banner-right.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}