{% extends "layouts/app.twig" %}

{% block pageTitle %}Lablabor | Главная страница{% endblock %}

{% set auth = 'true' %}

{% block content %}
    
<div class="main-auth-content-area pb30">
        <div class="auth-slider owl-carousel">
            <div class="auth-slider__slide" style="background-image: url('../images/auth-slide-1.jpg')">
                <div class="auth-slider__top">
                    <div class="auth-slider__top-content text-center text-white">
                        <p class="medium-title fz36">21.01.2017</p>
                        <p class="text-italic fz30">Старт проекта</p>
                    </div>
                </div>
                <div class="auth-slider__bottom">
                    <div class="auth-slider__bottom-content text-center text-white">
                        <p class="medium-title fz36">Какой-то текст о студенческой практике</p>
                        <p class="text-italic fz30">Подзаголовок, немного рассказывающий о проекте</p>
                    </div>
                </div>
            </div>
            <div class="auth-slider__slide" style="background-image: url('../images/auth-slide-1.jpg')">
                <div class="auth-slider__top">
                    <div class="auth-slider__top-content text-center text-white">
                        <p class="medium-title fz36">21.01.2017</p>
                        <p class="text-italic fz30">Старт проекта</p>
                    </div>
                </div>
                <div class="auth-slider__bottom">
                    <div class="auth-slider__bottom-content text-center text-white">
                        <p class="medium-title fz36 crop-text">Какой-то текст о студенческой практике</p>
                        <p class="text-italic fz30 crop-text">Подзаголовок, немного рассказывающий о проекте</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section_main-content-auth">
    <div class="container">
        <div class="main-content main-content_middle">
            <div class="main-content__banner owl-carousel">
                <div class="main-content__banner_wrapper"><img src="/images/banner-right.jpg" alt=""></div>
                <div class="main-content__banner_wrapper"><img src="/images/banner-left.jpg" alt=""></div>
            </div>
            <div class="main-content__content">
                <div class="medium-title text-center text-dark-dull-gray fz18 mb45">Актуальные вакансии</div>
                <div class="grid-home-vacancies mb30">
                    <div class="grid-home-vacancies__item">
                        <div class="light-title fz14 text-dark-dull-gray mb20">Вакансии компаний</div>
                        <div class="grid-home-company-vacancies">
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания раз</a></p>
                            <p class="grid-home-company-vacancies__count">20</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания два</a></p>
                            <p class="grid-home-company-vacancies__count">40</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания номер 3</a></p>
                            <p class="grid-home-company-vacancies__count">51</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания номер н</a></p>
                            <p class="grid-home-company-vacancies__count">33</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компаниия еще какая-то</a></p>
                            <p class="grid-home-company-vacancies__count">75</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания с длинным названием</a></p>
                            <p class="grid-home-company-vacancies__count">4</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания такая</a></p>
                            <p class="grid-home-company-vacancies__count">15</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания сякая</a></p>
                            <p class="grid-home-company-vacancies__count">17</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания предпоследняя</a></p>
                            <p class="grid-home-company-vacancies__count">28</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания последняя</a></p>
                            <p class="grid-home-company-vacancies__count">33</p>
                        </div>
                    </div>
                    <div class="grid-home-vacancies__item">
                        <div class="light-title fz14 text-dark-dull-gray mb20">Вакансии компаний</div>
                        <div class="grid-home-company-vacancies">
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания раз</a></p>
                            <p class="grid-home-company-vacancies__count">20</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания два</a></p>
                            <p class="grid-home-company-vacancies__count">40</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания номер 3</a></p>
                            <p class="grid-home-company-vacancies__count">51</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания номер н</a></p>
                            <p class="grid-home-company-vacancies__count">33</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компаниия еще какая-то</a></p>
                            <p class="grid-home-company-vacancies__count">75</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания с длинным названием</a></p>
                            <p class="grid-home-company-vacancies__count">4</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания такая</a></p>
                            <p class="grid-home-company-vacancies__count">15</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания сякая</a></p>
                            <p class="grid-home-company-vacancies__count">17</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания предпоследняя</a></p>
                            <p class="grid-home-company-vacancies__count">28</p>
                            <p class="grid-home-company-vacancies__companies mb15"><a class="green-text fz14 text-italic text-underline" href="#">Компания последняя</a></p>
                            <p class="grid-home-company-vacancies__count">33</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content__banner owl-carousel">
                <div class="main-content__banner_wrapper"><img src="/images/banner-left.jpg" alt=""></div>
                <div class="main-content__banner_wrapper"><img src="/images/banner-right.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}