{% extends "layouts/app.twig" %}

{% block pageTitle %}Lablabor | Главная страница{% endblock %}

{% set auth = 'false' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="main-guest-content-area">
        <div class="container">
            <div class="dashboard">
                <div class="dashboard__title">Ищите работу и персонал с нами!</div>
                <div class="dashboard__buttons">
                    <div><a href="#" class="dashboard__button button button_green js-open-popup" data-open-popup="competitor-registration">Соискатель</a></div>
                    <div><a href="#" class="dashboard__button button button_blue js-open-popup" data-open-popup="employer-registration">Работодатель</a></div>
                </div>
                <div class="dashboard__form-wrapper dashboard-form">
                    <div class="dashboard__form-header">
                        <div class="dashboard-form__title fz18 light-title">войти при помощи</div>
                    </div>
                    <div class="dashboard-form__body">
                        <div class="dashboard-form__social">
                            <a class="dashboard-form__social-link" href="#"><i class="fri fri_facebook"></i></a>
                            <a class="dashboard-form__social-link" href="#"><i class="fri fri_google"></i></a>
                            <a class="dashboard-form__social-link" href="#"><i class="fri fri_instagram"></i></a>
                            <a class="dashboard-form__social-link" href="#"><i class="fri fri_twitter"></i></a>
                            <a class="dashboard-form__social-link" href="#"><i class="fri fri_vkontakte"></i></a>
                        </div>
                        <form class="dashboard-form">
                            <p class="text-center mb10">
                                <input class="dashboard-form__input input text-italic"
                                       placeholder="Email или номер телефона"
                                       type="text">
                            </p>
                            <p class="text-center mb10">
                                <input class="dashboard-form__input input text-italic"
                                       placeholder="Пароль"
                                       type="text">
                            </p>
                            <p class="mb10">
                                <button class="dashboard-form__button button button_empty-white text-center">Вход</button>
                            </p>
                            <div class="dashboard-form__remember-me remember-me">
                                <div class="checkbox">
                                    <input class="mr5" type="checkbox" id="remember-me">
                                    <label class="checkbox__label text-italic" for="remember-me">Запомнить меня</label>
                                </div>
                                <div><a class="remember-me__forgot-pass text-italic js-open-popup" href="#" data-open-popup="reset-password">Забыл(а) пароль</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_main-content pb65">
        <div class="container">
            <div class="main-content">
                <div class="main-content-banner">
                    <div class="main-content__banner owl-carousel">
                        <div class="main-content__banner_wrapper"><img src="images/banner-right.jpg" alt=""></div>
                        <div class="main-content__banner_wrapper"><img src="images/banner-left.jpg" alt=""></div>
                    </div>
                </div>
                <div class="main-content__content">
                    <div class="main-features">
                        <div class="medium-title text-center fz16 text-dark-dull-gray lts2 mb30">В чём особенности проекта</div>
                        <div class="grid grid_4-items">
                            <div class="grid__item feautures-item">
                                <div class="mb10"><i class="fri fri_resume"></i></div>
                                <div class="light-title text-dark-dull-gray fz14 text-center mb10">Что-то про резюме</div>
                                <div class="feautures-item__descr fz14 text-italic">Недлинное описание того, в чем здесь особенность резюме, как здесь с этим помогают</div>
                            </div>
                            <div class="grid__item">
                                <div class="mb10"><i class="fri fri_target"></i></div>
                                <div class="light-title text-dark-dull-gray fz14 text-center mb10">О целях и задачах</div>
                                <div class="feautures-item__descr fz14 text-italic">О поддержке клиента, о сервисе, о призвании сайта помочь найти работу</div>
                            </div>
                            <div class="grid__item">
                                <div class="mb10"><i class="fri fri_cooperation"></i></div>
                                <div class="light-title text-dark-dull-gray fz14 text-center mb10">О сотрудничестве</div>
                                <div class="feautures-item__descr fz14 text-italic">О том, что сайт дружит с  крупными компаниями в нашей стране</div>
                            </div>
                            <div class="grid__item">
                                <div class="mb10"><i class="fri fri_dream-work"></i></div>
                                <div class="light-title text-dark-dull-gray fz14 text-center mb10">О работе мечты</div>
                                <div class="feautures-item__descr fz14 text-italic">Здесь можно найти работу своей мечты, и сайт будет всецело этому помогать</div>
                            </div>
                        </div>
                    </div>
                    <div class="main-articles mb30">
                        <div class="medium-title text-center text-dark-dull-gray mb20 lts2">Полезные статьи</div>
                        <div class="main-articles-grid">
                            <div class="main-articles-grid__item-large">
                                <div class="main-article">
                                    <div class="main-article__image-wrap">
                                        <img class="main-article__image" src="images/article-1.jpg" alt="">
                                    </div>
                                    <div class="main-article__descr">
                                        <div class="main-article__title light-title text-white fz12 text-center">Работать руками тоже надо уметь</div>
                                        <div class="main-article__text text-italic fz12">
                                            <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда появляется ОН - ваш босс в плохом настроении...</p>
                                            <p class="main-article__link"><a class="text-without-underline" href="#">Читать далее</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-articles-grid__item-small">
                                <div class="main-article">
                                    <div class="main-article__image-wrap">
                                        <img class="main-article__image" src="images/article-2.jpg" alt="">
                                    </div>
                                    <div class="main-article__descr">
                                        <div class="main-article__title light-title text-white fz12 text-center">как понравиться начальнику?</div>
                                        <div class="main-article__text text-italic fz12">
                                            <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда появляется ОН - ваш босс в плохом настроении...</p>
                                            <p class="main-article__link"><a class="text-without-underline" href="#">Читать далее</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-articles-grid__item-small">
                                <div class="main-article">
                                    <div class="main-article__image-wrap">
                                        <img class="main-article__image" src="images/article-3.jpg" alt="">
                                    </div>
                                    <div class="main-article__descr">
                                        <div class="main-article__title light-title text-white fz12 text-center">технологии и мы</div>
                                        <div class="main-article__text text-italic fz12">
                                            <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда появляется ОН - ваш босс в плохом настроении...</p>
                                            <p class="main-article__link"><a class="text-without-underline" href="#">Читать далее</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-articles-grid__item-large">
                                <div class="main-article">
                                    <div class="main-article__image-wrap">
                                        <img class="main-article__image" src="images/article-4.jpg" alt="">
                                    </div>
                                    <div class="main-article__descr">
                                        <div class="main-article__title light-title text-white fz12 text-center">Вливаемся в новый коллектив. Вредные советы </div>
                                        <div class="main-article__text text-italic fz12">
                                            <p class="pt10">Вот вы начинаете осваиваться на новом месте, и как из ниоткуда появляется ОН - ваш босс в плохом настроении...</p>
                                            <p class="main-article__link"><a class="text-without-underline" href="#">Читать далее</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center"><button class="main-content__button button button_empty-green" type="submit">Загрузить ещё статьи</button></p>
                </div>
                <div class="main-content-banner">
                    <div class="main-content__banner owl-carousel">
                        <div class="main-content__banner_wrapper"><img src="images/banner-left.jpg" alt=""></div>
                        <div class="main-content__banner_wrapper"><img src="images/banner-right.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}