{% extends "layouts/app.twig" %}

{% block pageTitle %}Договор-оферта{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section section__body-without-subheader pt80 pb120 tab-pb15 tab-pt15">
        <div class="container container1140">
            <div class="offer">
                <div class="offer__section mb70 tab-mb30">
                    <h1 class="offer__title fz24 text-medium text-uppercase text-dark-dull-gray pl160 mb40 mob-pl0 mob-text-center mob-fz20 tab-mb20">Публичная оферта</h1>
                    <p class="text-italic fz18 text-dark-dull-gray mob-fz14">Интернет-магазин «название», расположенный на доменном имени www.lablabor.kz, организационно-правовая форма,полное наименование организации, ИП), и юридическим адресом юридический адрес, в лице должность уполномоченного лица, ФИО, действующего (- ей) на основании указать документ, удостоверяющий полномочия и его реквизиты, именуемое в дальнейшем «Продавец», публикует Публичную оферту о продаже Товара дистанционным способом.</p>
                </div>
                <div class="offer__section">
                    <ol class="text-italic fz18 text-dark-dull-gray mob-fz14">
                        <li>
                            <span class="text-uppercase">Определение терминов</span>
                            <ol>
                                <li>
                                    Публичная оферта (далее – «Оферта») - публичное предложение Продавца, адресованное неопределенному кругу лиц, заключить с Продавцом договор купли-продажи товара дистанционным способом (далее - «Договор») на условиях, содержащихся в настоящей Оферте, включая все Приложения.
                                </li>
                                <li>
                                    Заказ Товара на сайте Интернет-магазина – позиции указанные Покупателем из ассортимента Товара, предложенного к продаже, при оформлении заявки на приобретение Товара на сайте Интернет-магазина или через Оператора.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <span class="text-uppercase">Общие положения</span>
                            <ol>
                                <li>
                                    Заказ Покупателем Товара, размещенного на сайте Интернет-магазина означает, что Покупатель согласен со всеми условиями настоящей Оферты.
                                </li>
                                <li>
                                    Администрация сайта Интернет-магазина имеет право вносить изменения в Оферту без уведомления Покупателя.
                                </li>
                                <li>
                                    Срок действия Оферты не ограничен, если иное не указано на сайте Интернет-магазина.
                                </li>
                                <li>
                                    Продавец предоставляет Покупателю полную и достоверную информацию о Товаре, включая информацию об основных потребительских свойствах Товара, месте изготовления, а также информацию о гарантийном сроке и сроке годности Товара на сайте Интернет магазина, в разделе название раздела.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <span class="text-uppercase">Цена товара</span>
                            <ol>
                                <li>
                                    Цена на каждую позицию Товара указана на сайте Интернет-магазина.
                                </li>
                                <li>
                                    Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара.
                                </li>
                                <li>
                                    В случае изменения цены на заказанный Товар Продавец обязуется в течение количество дней проинформировать Покупателя об изменении цены Товара.
                                </li>
                                <li>
                                    Покупатель вправе подтвердить либо аннулировать Заказ на приобретение Товара, если цена изменена Продавцом после оформления Заказа.
                                </li>
                                <li>
                                    Изменение Продавцом цены на оплаченный Покупателем Товар не допускается.
                                </li>
                                <li>
                                    Продавец указывает стоимость доставки Товара на сайте Интернет-магазина либо сообщает Покупателю при оформлении заказа Оператором.
                                </li>
                                <li>
                                    Обязательства Покупателя по оплате Товара считаются исполненными с момента поступления Продавцом денежных средств.
                                </li>
                                <li>
                                    Расчеты между Продавцом и Покупателем за Товар производятся способами, указанными на сайте Интернет-магазина в разделеназвание раздела
                                </li>
                            </ol>
                        </li>
                            <li>
                                <span class="text-uppercase">Оформление заказа</span>
                                <ol>
                                    <li>
                                        Заказ Товара осуществляется Покупателем через Оператора по телефону номер телефонаили через сервис сайта Интернет-магазина www. адрес раздела.
                                    </li>
                                    <li>
                                        При регистрации на сайте Интернет-магазина Покупатель обязуется предоставить следующую регистрационную информацию:
                                    </li>
                                </ol>
                            </li>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}