{% extends "layouts/app.twig" %}

{% block pageTitle %}Работодатель | Страница заказа{% endblock %}

{% set auth = 'true' %}

{% block content %}

<div class="section section__order-employer-header">
    <div class="container">
        <ul class="breadcrumbs pl265 mb10">
            <li class="breadcrubmbs__item">
                <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
            </li>
            <li class="breadcrubmbs__item">
                <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
            </li>
            <li class="breadcrubmbs__item">
                <a class="text-italic fz16 text-without-underline" href="#">Оплата заказа</a>
            </li>
        </ul>
        <div class="announce announce_backing">
            <div class="announce__content">
                <div class="announce__text text-light fz13 text-uppercase text-white">Тариф такой-то такой-то активен еще 10 дней, не забывайте обновлять подписку</div>
                <i class="announce__content-close"></i>
            </div>
        </div>
    </div>
</div>

<div class="section section__order-employer-content">
    <div class="container container_860">
        <div class="order-employer-content-grid">
            <div class="order-employer-content-grid__item">
                <div class="order-employer-content-grid__item-title mb15">Безналичный расчет</div>
                <div class="order-employer-content-inner-grid mb15">
                    <div class="order-employer-content-inner-grid__item mr25">
                        <i class="non-cash-man"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item mr25">
                        <i class="non-cash-terminal"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item">
                        <i class="non-cash-credit-card"></i>
                    </div>
                </div>
                <p class="text-light fz16 text-uppercase text-pigeon-blue text-center">Генерация счета на оплату</p>
                <p class="text-light fz20 text-uppercase text-pigeon-blue text-center">на сайте lablador.kz</p>
            </div>
            <div class="order-employer-content-grid__item">
                <div class="order-employer-content-grid__item-title mb15">Банковской картой</div>
                <div class="order-employer-content-inner-grid mb15">
                    <div class="order-employer-content-inner-grid__item mr25">
                        <i class="visa"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item mr25">
                        <i class="american-express"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item">
                        <i class="master-card"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}