{% extends "layouts/app.twig" %}

{% block pageTitle %}Страница заказа | Работодатель{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

<div class="section section__subheader pt60 pb15 tab-pt15">
    <div class="container">
        <ul class="breadcrumbs breadcrumbs_list mb10">
            <li class="breadcrubmbs__item">
                <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
            </li>
            <li class="breadcrubmbs__item">
                <a class="text-italic fz16 text-without-underline" href="#">Личный кабинет</a>
            </li>
            <li class="breadcrubmbs__item">
                <a class="text-italic fz16 text-without-underline" href="#">Оплата заказа</a>
            </li>
        </ul>
        <div class="announce announce_backing">
            <div class="announce__content">
                <div class="announce__text text-light fz13 text-uppercase text-white">Тариф такой-то такой-то активен еще 10 дней, не забывайте обновлять подписку</div>
                <i class="fri fri_announce-content-close"></i>
            </div>
        </div>
    </div>
</div>

<div class="section section__body-with-subheader pt90 pb195 tab-pt15 tab-pb15">
    <div class="container container_860">
        <div class="order-employer-content-grid">
            <a class="order-employer-content-grid__item order-employer-content-grid__item_non-cache mr55 tab-mr0 tab-mb20" href="#">
                <div class="order-employer-content-grid__item-title mob-fz16 mb15">Безналичный расчет</div>
                <div class="order-employer-content-inner-grid mb15">
                    <div class="order-employer-content-inner-grid__item">
                        <i class="fri fri_non-cash-man"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item">
                        <i class="fri fri_non-cash-terminal"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item">
                        <i class="fri fri_non-cash-credit-card"></i>
                    </div>
                </div>
                <p class="text-light fz16 text-uppercase text-pigeon-blue text-center mob-fz14">Генерация счета на оплату</p>
                <p class="text-light fz20 text-uppercase text-pigeon-blue text-center mob-fz14">на сайте lablabor.kz</p>
            </a>
            <a class="order-employer-content-grid__item order-employer-content-grid__item_bank-card js-open-popup" href="#" data-open-popup="order-form">
                <div class="order-employer-content-grid__item-title mob-fz16 mb15">Банковской картой</div>
                <div class="order-employer-content-inner-grid">
                    <div class="order-employer-content-inner-grid__item">
                        <i class="fri fri_visa"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item">
                        <i class="fri fri_american-express"></i>
                    </div>
                    <div class="order-employer-content-inner-grid__item">
                        <i class="fri fri_master-card"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}