{% extends "layouts/app.twig" %}

{% block pageTitle %}Результаты поиска | Вакансии{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'false' %}

{% block content %}

    <div class="section section__body-without-subheader pt60 pb50 tab-pt15 tab-pb15">
        <div class="container container_1280">
            <div class="banner pb20">
                <img src="images/banner-top-760x90.jpg" alt="">
            </div>
            <div class="search-vacancies">
                <p class="search-vacancies__filter-button text-center"><button class="popup__button button button_green fz15 text-light js-open-popup" data-open-popup="search-vacancies">Фильтр</button></p>
                <div class="filter hidden-mobile">
                    <div class="filter__section mb15">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Вакансии</div>
                        </div>
                        <div class="filter__line">
                            <input class="js-autocomplete-input filter__input text-italic" data-source="json/vacancies.json">
                        </div>
                        <div class="filter__inputs"></div>
                    </div>
                    <div class="filter__section mb15">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Город</div>
                        </div>
                        <div class="filter__line">
                            <input class="js-autocomplete-input filter__input text-italic" data-source="json/cities.json">
                        </div>
                        <div class="filter__inputs"></div>
                    </div>
                    <div class="filter__section mb15">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Образование</div>
                        </div>
                        <div class="filter__line">
                            <select class="js-select-education select select__search text-italic">
                                <option disabled selected>Выберите образование</option>
                                <option>Высшее</option>
                                <option>Среднее</option>
                                <option>Нет</option>
                            </select>
                        </div>
                        <div class="filter__inputs"></div>
                    </div>

                    <div class="filter__section mb15">
                        <div class="filter__line filter__line_justify-start filter__line_align-baseline mb15">
                            <div class="text-italic fz18 mr5">Зарплата</div>
                            <span><i class="fri fri_filter-show-input"></i></span>
                        </div>
                    </div>

                    <div class="filter__section mb15">
                        <div class="filter__line filter__line_justify-start mb7">
                            <input class="filter__input filter__input_salary text-italic mr5" type="text" placeholder="100.000">
                            <span class="mr5 text-dark-dull-gray">-</span>
                            <input class="filter__input filter__input_salary text-italic" type="text" placeholder="150.000">
                        </div>
                        <div class="filter__line filter__line_currency filter__line_justify-start">
                            <select class="filter__select-currency text-dull-gray text-italic select select__search">
                                <option>KZT</option>
                                <option>USD</option>
                            </select>
                            <i class="fri fri_filter-add-input js-add-filter-select-currency"></i>
                        </div>
                    </div>

                    <div class="filter__section mb15">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Вид деятельности</div>
                        </div>
                        <div class="filter__line">
                            <input class="js-autocomplete-input filter__input text-italic" data-source="json/activities.json">
                        </div>
                        <div class="filter__inputs"></div>
                    </div>

                    <div class="filter__section mb15">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Тип занятости</div>
                        </div>
                        <div class="filter__line">
                            <select class="js-select-education select select__search text-italic">
                                <option disabled selected>Выберите тип занятости</option>
                                <option>Полный рабочий день (5/2)</option>
                                <option>Полный рабочий день (6/1)</option>
                                <option>Частичная занятость</option>
                                <option>Временная работа</option>
                                <option>Волонтёрство</option>
                                <option>Стажировка</option>
                            </select>
                        </div>
                        <div class="filter__inputs"></div>
                    </div>

                    <div class="filter__section">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Опыт работы</div>
                        </div>
                        <div class="filter__line">
                            <select class="js-select-education select select__search text-italic">
                                <option disabled selected>Выберите опыт работы</option>
                                <option>Не имеет значение</option>
                                <option>До 1 года</option>
                                <option>1-3 года</option>
                                <option>3-5 лет</option>
                                <option>5-10 лет</option>
                                <option>Более 10 лет</option>
                            </select>
                        </div>
                        <div class="filter__inputs"></div>
                    </div>

                    <p class="filter__search-button text-center hidden"><button class="popup__button button button_green fz15 text-light">Поиск</button></p>
                </div>
                <div class="results pl40">
                    <ul class="breadcrumbs breadcrumbs_non-margin mb25">
                        <li class="breadcrubmbs__item">
                            <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                        </li>
                        <li class="breadcrubmbs__item">
                            <a class="text-italic fz16 text-without-underline" href="#">Раширенный поиск</a>
                        </li>
                        <li class="breadcrubmbs__item">
                            <a class="text-italic fz16 text-without-underline" href="#">Результаты поиска</a>
                        </li>
                    </ul>
                    <p class="search__results medium-title fz24 text-uppercase mb30">Результаты поиска</p>
                    <div class="search-wrapper mb45">
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image_125" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid" href="#">
                            <div class="search-grid__item-image">
                                <div class="round-thumbnail round-thumbnail_125">
                                    <img class="round-thumbnail__image round-thumbnail__image" src="images/default-logo.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">АО "K-Cell"</div>
                                    <div class="search-description__description text-italic fz14 ">Мы ищем идеального сотрудника, которого нет</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                    </div>
                    <div class="interesting pl150">
                        <div class="interesting__title text-uppercase text-light fz18 lts2 mb40">Возможно, вас заинтересует также</div>
                        <div class="interesting__grid interesting-grid">
                            <div class="interesting-grid__item">
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Технолог (15)</a></p>
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Слесарь (4)</a></p>
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Сантеник (43)</a></p>
                            </div>
                            <div class="interesting-grid__item">
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Программист (8)</a></p>
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Верстальщик (14)</a></p>
                                <p class="text-italic fz14"><a class="text-without-underline" href="#"></a>Лесоруб (13)</p>
                            </div>
                            <div class="interesting-grid__item">
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Юрист (8)</a></p>
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Коллектор (14)</a></p>
                                <p class="text-italic fz14"><a class="text-without-underline" href="#">Судебный пристав (13)</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination text-center">
                <a href="#" class="pagination__prev"></a>

                <a href="#" class="pagination-items__item fz18 text-medium">1</a>
                <a href="#" class="pagination-items__item fz18 text-medium">2</a>
                <a href="#" class="pagination-items__item fz18 text-medium">3</a>
                <a href="#" class="pagination-items__item fz18 text-medium">4</a>
                <a href="#" class="pagination-items__item fz18 text-medium">5</a>
                <a href="#" class="pagination-items__item fz18 text-medium">6</a>
                <a href="#" class="pagination-items__item fz18 text-medium">7</a>
                <a href="#" class="pagination-items__item fz18 text-medium">8</a>
                <a href="#" class="pagination-items__item fz18 text-medium">9</a>
                <a href="#" class="pagination-items__item fz18 text-medium">10</a>

                <a href="#" class="pagination__next"></a>
            </div>
        </div>
    </div>

{% endblock %}