{% extends "layouts/app.twig" %}

{% block pageTitle %}Результаты поиска | Вакансии{% endblock %}

{% set auth = 'true' %}

{% block content %}

    <div class="section section__content-search">
        <div class="container container_1280">
            <div class="banner pb20">
                <img src="images/banner-top-760x90.jpg" alt="">
            </div>
            <div class="search-vacancies">
                <p class="search-vacancies__filter-button text-center"><button class="popup__button button button_green fz15 text-light js-open-popup" data-open-popup="search-vacancies">Фильтр</button></p>
                <div class="filter hidden-mobile">
                    <div class="filter__section">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Вакансии</div>
                        </div>
                        <div class="filter__line">
                            <input class="js-autocomplete-input filter__input text-italic" data-source="json/vacancies.json">
                        </div>
                        <div class="filter__inputs"></div>
                    </div>
                    <div class="filter__section">
                        <div class="filter__line mb15">
                            <div class="text-italic fz18">Город</div>
                        </div>
                        <div class="filter__line">
                            <input id="cities" class="js-autocomplete-input filter__input text-italic" data-source="json/cities.json">
                        </div>
                        <div class="filter__inputs"></div>
                    </div>

                    <div class="filter__section">
                        <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                            <div class="text-italic fz18 mr5">Образование</div>
                            <i class="filter-show-input"></i>
                        </div>

                        <div class="filter__line cursor-pointer mb7 pl20">
                            <div class="text-italic fz14 text-dark-dull-gray">Высшее</div>
                            <i class="filter-remove-input"></i>
                        </div>

                        <div class="filter__line pl20">
                            <i class="filter-add-input"></i>
                        </div>
                    </div>


                    <div class="filter__section">
                        <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                            <div class="text-italic fz18 mr5">Зарплата</div>
                            <i class="filter-show-input"></i>
                        </div>

                        <div class="filter__line mb7">
                            <div class="filter__line filter__line_justify-start">
                                <input class="filter__input filter__input_salary text-italic mr5" type="text" placeholder="100.000">
                                <span class="mr5 text-dark-dull-gray">-</span>
                                <input class="filter__input filter__input_salary text-italic" type="text" placeholder="150.000">
                            </div>
                            <i class="filter-remove-input"></i>
                        </div>

                        <div class="filter__line filter__line_justify-start">
                            <div class="filter__select-currency text-italic mr5">
                                <select class="text-dull-gray text-italic">
                                    <option>KZT</option>
                                    <option>USD</option>
                                </select>
                            </div>
                            <i class="filter-add-input"></i>
                        </div>
                    </div>

                    <div class="filter__section">
                        <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                            <div class="text-italic fz18 mr5">Тип занятости</div>
                            <i class="filter-show-input"></i>
                        </div>

                        <div class="filter__line cursor-pointer mb5 pl20">
                            <div class="text-italic fz14 text-dark-dull-gray">Полный рабочий день (5/2)</div>
                            <i class="filter-remove-input"></i>
                        </div>

                        <div class="filter__line cursor-pointer mb5 pl20">
                            <div class="text-italic fz14 text-dark-dull-gray">Полный рабочий день (6/1)</div>
                            <i class="filter-remove-input"></i>
                        </div>
                        <div class="filter__line pl20">
                            <i class="filter-add-input"></i>
                        </div>
                    </div>

                    <div class="filter__section">
                        <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                            <div class="text-italic fz18 mr5">Опыт работы</div>
                            <i class="filter-show-input"></i>
                        </div>
                        <div class="filter__line cursor-pointer mb7 pl20">
                            <div class="text-italic fz14 text-dark-dull-gray">3-5 лет</div>
                            <i class="filter-remove-input"></i>
                        </div>
                        <div class="filter__line pl20">
                            <i class="filter-add-input"></i>
                        </div>
                    </div>
                    <p class="filter__search-button text-center hidden"><button class="popup__button button button_green fz15 text-light">Поиск</button></p>
                </div>
                <div class="results pl40">
                    <ul class="breadcrumbs mb25">
                        <li class="breadcrubmbs__item">
                            <a class="text-italic fz16 text-without-underline" href="#">Главная</a>
                        </li>
                        <li class="breadcrubmbs__item">
                            <a class="text-italic fz16 text-without-underline" href="#">Раширенный поиск</a>
                        </li>
                        <li class="breadcrubmbs__item">
                            <a class="text-italic fz16 text-without-underline" href="#">Результаты поиска</a>
                        </li>
                    </ul>
                    <p class="search__results medium-title fz24 text-uppercase mb30">Результаты поиска</p>
                    <div class="search-wrapper mb45">
                        <a class="search-grid search-grid__cv search-grid_premium" href="#">
                            <div class="search-grid__item-image">
                                <div class="search-grid__image-wrapper">
                                    <img class="search-grid__image" src="images/default-vacancy.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">Арманов Арман Арманович</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                        <a class="search-grid search-grid__cv" href="#">
                            <div class="search-grid__item-image">
                                <div class="search-grid__image-wrapper">
                                    <img class="search-grid__image" src="images/default-vacancy.png" alt="">
                                </div>
                            </div>
                            <div class="search-grid__item-description">
                                <div class="search-description">
                                    <div class="search-description__name text-medium fz18 text-uppercase text-signal-black mb5">Инженер-технолог</div>
                                    <div class="search-description__company text-light fz16 text-uppercase text-signal-black mb7">Арманов Арман Арманович</div>
                                </div>
                            </div>
                            <div class="search-grid__item-salary text-light fz18 text-uppercase lts1">100 000 KZT</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination text-center">
                <a href="#" class="pagination__prev"></a>

                <a href="#" class="pagination-items__item fz18 text-medium">1</a>
                <a href="#" class="pagination-items__item fz18 text-medium">2</a>
                <a href="#" class="pagination-items__item fz18 text-medium">3</a>
                <a href="#" class="pagination-items__item fz18 text-medium">4</a>
                <a href="#" class="pagination-items__item fz18 text-medium">5</a>
                <a href="#" class="pagination-items__item fz18 text-medium">6</a>
                <a href="#" class="pagination-items__item fz18 text-medium">7</a>
                <a href="#" class="pagination-items__item fz18 text-medium">8</a>
                <a href="#" class="pagination-items__item fz18 text-medium">9</a>
                <a href="#" class="pagination-items__item fz18 text-medium">10</a>

                <a href="#" class="pagination__next"></a>
            </div>
        </div>
    </div>

{% endblock %}