{% extends "layouts/app.twig" %}

{% block pageTitle %}Авторизация через соцсети{% endblock %}

{% set auth = 'true' %}
{% set mobile = 'true' %}
{% set page_clear = 'true' %}

{% block content %}

    <div class="gray-wrapper">
        <div class="container">
            <div class="social-auth">
                <div class="social-auth__image-wrapper thumbnail thumbnail__round thumbnail_125">
                    <img class="thumbnail__image_125" src="images/pdf-person-photo.jpg" alt="">
                </div>
                <div class="social-auth__right">
                    <p class="fz16 text-uppercase mb25">Вы впервые вошли как <strong>Нэлли Ортабаева</strong></p>
                    <p class="text-italic fz18 mb20">Выберите цель регистрации на сайте</p>
                    <div class="social-auth-buttons">
                        <span class="social-auth__button button button_green text-center">Я СОИСКАТЕЛЬ</span>
                        <span class="social-auth__button button button_blue text-center js-close-popup">Я РАБОТОДАТЕЛЬ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}