{% extends "layouts/app.twig" %}

{% block pageTitle %}Функция сайта не доступна на мобильной версии{% endblock %}

{% set mobile = 'true' %}
{% set page_clear = 'true' %}

{% block content %}

    <div class="gray-wrapper">
        <div class="container">
            <div class="stub">
                <i class="fri fri_warning mb15"></i>
                <p class="text-white fz15 text-center">К сожалению данная функция <strong>недоступна</strong> на мобильной версии, пожалуйста, перейдите на версию <strong>desktop.</strong></p>
            </div>
        </div>
    </div>

{% endblock %}
