<footer class="section section_footer">
    <div class="container container_1160">
       <div class="footer-head">
           <a class="footer-head__logo" href="/">
               <div><i class="logo-footer"></i></div>
               <div class="footer-head__logo-text">Lab Labour</div>
           </a>
           <ul class="footer-head__nav footer-nav">
               <li class="footer-nav__item"><a href="#">Меню 1</a></li>
               <li class="footer-nav__item"><a href="#">Меню 2</a></li>
               <li class="footer-nav__item"><a href="#">Меню 3</a></li>
           </ul>
           <div class="footer-head__site">
               <span class="mr15"><a href="/">ll.kz</a></span>
               <span>2016</span>
           </div>
       </div>
        <div class="footer-bottom">
            <div class="footer-bottom__grid footer-bottom-grid">
                <div class="footer-bottom-grid__item">
                    <div class="medium-title up-case mb30"><a href="#">Категория раз</a></div>
                    <div class="mb20"><a href="#">Подпункт один</a></div>
                    <div class="mb20"><a href="#">Подпункт два</a></div>
                    <div class="mb20"><a href="#">Подпункт три</a></div>
                </div>
                <div class="footer-bottom-grid__item">
                    <div class="medium-title up-case mb30"><a href="#">Категория два</a></div>
                    <div class="mb20"><a href="#">Подпункт один</a></div>
                    <div class="mb20"><a href="#">Подпункт два</a></div>
                    <div class="mb20"><a href="#">Подпункт три</a></div>
                </div>
                <div class="footer-bottom-grid__item">
                    <div class="medium-title up-case mb30"><a href="#">Категория три</a></div>
                    <div class="mb20"><a href="#">Подпункт один</a></div>
                    <div class="mb20"><a href="#">Подпункт два</a></div>
                    <div class="mb20"><a href="#">Подпункт три</a></div>
                </div>
                <div class="footer-bottom-grid__item">
                    <div class="medium-title up-case mb30">Подписывайтесь на</div>
                    <div class="footer-social">
                        <div class="footer-social__item"><a href="#"><i class="facebook-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="google-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="instagram-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="twitter-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="vkontakte-green"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
