<footer class="footer section section_footer">
    <div class="container container_1160">
       <div class="footer-top text-medium text-dark-dull-gray text-uppercase">
           <a class="footer-head__logo text-without-underline" href="/">
               <div><i class="logo-new"></i></div>
               <div><i class="logo-text"></i></div>
           </a>
           <ul class="footer-head__nav footer-nav ">
               <li class="footer-nav__item"><a class="text-without-underline" href="#">Меню 1</a></li>
               <li class="footer-nav__item"><a class="text-without-underline" href="#">Меню 2</a></li>
               <li class="footer-nav__item"><a class="text-without-underline" href="#">Меню 3</a></li>
           </ul>
           <div class="footer-head__site">
               <span class="mr15"><a class="text-without-underline" href="/">ll.kz (C)</a></span>
               <span>2016</span>
           </div>
       </div>
        <div class="footer-bottom text-dark-dull-gray fz16">
            <div class="footer-bottom__grid footer-bottom-grid">
                <div class="footer-bottom-grid__item">
                    <div class="medium-title lts2 text-uppercase mb25"><a class="footer-bottom-grid__item-link text-without-underline" href="#">Полезные ссылки</a></div>
                    <div class="mb10 fz16 text-italic"><a class="text-without-underline" href="#">Политика конфиденциальности</a></div>
                    <div class="mb10 fz16 text-italic"><a class="text-without-underline" href="#">Разместить рекламу у нас</a></div>
                    <div class="mb10 fz16 text-italic"><a class="text-without-underline" href="#">Архив статей</a></div>
                </div>
                <div class="footer-bottom-grid__item">
                    <div class="medium-title lts2 text-uppercase mb25">
                        <a class="footer-bottom-grid__item-link text-without-underline" href="#">Контакты</a>
                    </div>
                    <div class="mb20 fz16 text-italic">
                        <p class="mb10"><a class="text-without-underline" href="tel:+7-777-777-77-77">+7-777-777-77-77</a>;
                        <a class="text-without-underline" href="tel:+7-701-777-77-77">+7-701-777-77-77</a></p>
                        <p class="mb10">Улица такая-то, дом ?, офис ?</p>
                        <p><a class="text-without-underline" href="mailto:sample@lab-labour.kz">sample@lab-labour.kz</a></p>
                    </div>
                </div>
                <div class="footer-bottom-grid__item">
                    <div class="medium-title lts2 text-uppercase text-center mb25">Подписывайтесь на</div>
                    <div class="footer-social">
                        <div class="footer-social__item"><a href="#"><i class="facebook-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="google-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="instagram-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="twitter-green"></i></a></div>
                        <div class="footer-social__item"><a href="#"><i class="vkontakte-green"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="mobile-menu js-popup" data-popup="mobile-menu">
    <div class="mobile-menu__header mb20">
        {% if auth == 'false' %}
            <span class="header-login__button-login button button_green js-change-popup" data-closing-popup="mobile-menu" data-opening-popup="login-bar">Войти</span>
        {% else %}
            <span class="js-open-popup-header-avatar header-avatar" data-open-popup="user-menu">
                <i class="header-avatar__avatar"></i>
                <div class="header-avatar__count">5</div>
            </span>
        {% endif %}
        <a class="mobile-menu__close js-close-popup" href="#"></a>
    </div>
    <ul class="main-menu mb30">
        <li class="main-menu__item">
            <a class="main-menu__item-link text-without-underline" href="#">Прайс-лист</a>
        </li>
        <li class="main-menu__item">
            <a class="main-menu__item-link text-without-underline" href="#">Помощь</a>
        </li>
        <li class="main-menu__item">
            <a class="main-menu__item-link text-without-underline" href="#">Договор-оферта</a>
        </li>
    </ul>
    <div class="mobile-search">
        <form class="mobile-search-form">
            <div class="mobile-search-form__line mb10">
                <input class="inputs-header__input text-dull-gray text-italic" type="text" placeholder="Введите запрос">
            </div>
            <div class="mobile-search-form__line mb10">
                <div class="inputs-header__select">
                    <select class="text-dull-gray text-italic">
                        <option>Вакансии</option>
                        <option>Работодатели</option>
                    </select>
                </div>
                <div class="inputs-header__search-button button button_green">
                    <i class="inputs-header__search-button-loupe"></i>
                </div>
            </div>
        </form>
        <a class="fz14 text-dull-gray text-italic text-without-underline" href="#">Расширенный поиск</a>
    </div>
</div>

