<header class="section">
    <div class="container">
        <div class="logo">

        </div>
        <div class="main-menu">
            <ul class="main-menu"></ul>
        </div>
        <div class="search">
            <input type="text" class="search__text-query">
            <input type="text" class="search__select-query">
        </div>
        <div class="login">
            <span class="button"></span>
        </div>
    </div>
</header>