<header class="header pt15 pb15">
    <div class="container">
        <div class="header-inner">
            <div class="header-inner__left mr30">
                <div class="logo mr30">
                    <a class="logo__link" href="/"><i class="fri_logo-new"></i></a>
                </div>
                <div class="desktop-main-menu">
                    <ul class="main-menu">
                        <li class="main-menu__item"><a class="main-menu__item-link text-without-underline" href="#">Прайс-лист</a></li>
                        <li class="main-menu__item"><a class="main-menu__item-link text-without-underline" href="#">Помощь</a></li>
                        <li class="main-menu__item"><a class="main-menu__item-link text-without-underline" href="#">Договор-оферта</a></li>
                    </ul>
                </div>
                <div class="main-header__menu-button">
                    <button class="button-hamburger js-open-popup" data-open-popup="mobile-menu" type="button">
                        <span class="button-hamburger__line"></span>
                        <span class="button-hamburger__line"></span>
                        <span class="button-hamburger__line"></span>
                    </button>
                </div>
            </div>
            <div class="header-inner__right">
                <div class="header-search mr30">
                    <div class="header-search__left">
                        <form class="inputs-header">
                            <input class="inputs-header__input text-dull-gray text-italic" type="text" placeholder="Введите запрос">
                            <div class="inputs-header__select">
                                <select class="text-dull-gray text-italic">
                                    <option>Вакансии</option>
                                    <option>Работодатели</option>
                                </select>
                            </div>
                            <button class="inputs-header__search-button button button_green">
                                <i class="fri fri_search-button-loupe"></i>
                            </button>
                        </form>
                    </div>
                    <div class="header-search__right">
                        <a class="fz14 text-dull-gray text-italic text-without-underline" href="#">Расширенный поиск</a>
                    </div>
                </div>
                <div class="header-login">
                    {% if auth == 'false' %}
                        <span class="header-login__button-login button button_green js-open-popup" data-open-popup="login-bar">Войти</span>
                        <div class="header-login__dropdown js-popup js-small-popup" data-popup="login-bar">
                            <form class="header-login__form header-login-form">
                                <div class="mb10">
                                    <input placeholder="Email или тел. номер"
                                           class="header-login-form__input input text-light-gray text-italic"
                                           type="text">
                                </div>
                                <div class="mb15">
                                    <input placeholder="Пароль"
                                           class="header-login-form__input input text-light-gray text-italic"
                                           type="text">
                                </div>
                                <div>
                                    <button class="header-login-form__button button button_empty-green" type="submit">Вход
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <span class="header-avatar js-open-popup" data-open-popup="user-menu">
                            <div class="header-avatar__wrapper">
                                <img src="images/default-avatar.jpg" class="header-avatar__image">
                            </div>
                            <div class="header-avatar__count">5</div>
                        </span>
                        <div class="user-menu__dropdown js-popup js-small-popup" data-popup="user-menu">
                            <ul class="user-menu">
                                <li class="user-menu__item"><a class="fz14 text-italic" href="#">Личный кабинет</a></li>
                                <li class="user-menu__item"><a class="fz14 text-italic" href="#">Настройки</a></li>
                                <li class="user-menu__item"><a class="fz14 text-italic" href="#">Статистика<div class="user-menu__item-statistic">+5</div></a></li>
                                <li class="user-menu__item"><a class="fz14 text-italic" href="#">Выход</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>