<header class="section">
    <div class="container">
        <div class="logo">
            <img class="logo__image" src="" alt="">
        </div>
        <div class="main-menu">
            <ul class="main-menu">
                <li class="main-menu__item"></li>
                <li class="main-menu__item"></li>
                <li class="main-menu__item"></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" class="search__text-query">
            <input type="text" class="search__select-query">
            <i class="search__loupe"></i>
        </div>
        <div class="login">
            <span class="login__button button"></span>
        </div>
    </div>
</header>