<header class="section">
    <div class="container">
        <div class="header">
            <div class="logo mr30">
                <a href="/"><img class="logo__image" src="images/logo.png" alt=""></a>
            </div>
            <ul class="main-menu mr30">
                <li class="main-menu__item"><a href="#" class="">Прайс-лист</a></li>
                <li class="main-menu__item"><a href="#" class="">Помощь</a></li>
                <li class="main-menu__item"><a href="#" class="">Договор-оферта</a></li>
            </ul>
            <div class="search mr30">
                <div class="input input__header">
                    <input class="light-gray-text italic" type="text" placeholder="Введите запрос">
                </div>
                <div class="selectbox selectbox__header">
                    <select class="light-gray-text italic">
                        <option>Вакансии</option>
                        <option>Работодатели</option>
                    </select>
                </div>
                <div class="search__button button button_green mr10">
                    <i class="search__loupe"></i>
                </div>
                <p class="search__advanced-search light-gray-text italic"><a href="#">Расширенный поиск</a></p>
            </div>
            <div class="header-login">
                <p><span class="header__button-login button button_green">Войти</span></p>
                <form class="header-login__form header-login-form">
                    <div class="mb10"><input class="header-login-form__input input light-gray-text italic" type="text"></div>
                    <div class="mb15"><input class="header-login-form__input input light-gray-text italic" type="text"></div>
                    <div><button class="header-login-form__button button button_empty-green" type="submit">Вход</button></div>
                </form>
            </div>
        </div>
    </div>
</header>