<header class="header pt15 pb15">
    <div class="container">
        <div class="header__inner">
            <div class="logo mr30">
                <a class="logo__link" href="/"><i class="logo-new"></i></a>
            </div>
            <ul class="main-menu mr30">
                <li class="main-menu__item"><a class="main-menu__item-link text-without-underline" href="#">Прайс-лист</a></li>
                <li class="main-menu__item"><a class="main-menu__item-link text-without-underline" href="#">Помощь</a></li>
                <li class="main-menu__item"><a class="main-menu__item-link text-without-underline" href="#">Договор-оферта</a></li>
            </ul>
            <form action="#" class="header-search mr30">
                <div class="input input__header">
                    <input class="input__header-query text-dull-gray text-italic" type="text" placeholder="Введите запрос">
                </div>
                <div class="selectbox selectbox__header">
                    <select class="text-dull-gray text-italic">
                        <option>Вакансии</option>
                        <option>Работодатели</option>
                    </select>
                </div>
                <div class="search__button button button_green mr10">
                    <i class="search__loupe"></i>
                </div>
                <p class="search__advanced-search text-dull-gray text-italic">
                    <a class="text-without-underline" href="#">Расширенный поиск</a>
                </p>
            </form>
            {% if auth == 'false' %}
            <div class="header-login">
                <span class="js-open-popup header__button-login button button_green" data-open-popup="login-bar">Войти</span>
                <div class="js-popup header-login__dropdown" data-popup="login-bar">
                    <form class="header-login__form header-login-form">
                        <div class="mb10">
                            <input placeholder="Email или тел. номер"
                                   class="header-login-form__input input text-light-gray text-italic"
                                   type="text">
                        </div>
                        <div class="mb15">
                            <input placeholder="Пароль"
                                   class="header-login-form__input input text-light-gray text-italic"
                                   type="text">
                        </div>
                        <div>
                            <button class="header-login-form__button button button_empty-green" type="submit">Вход
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="header-login">
                <span class="js-open-popup header-login__avatar" data-open-popup="user-menu">
                    <i class="user-avatar"></i>
                    <div class="header-login__avatar-statistic">5</div>
                </span>
                <div class="js-popup header-login__dropdown" data-popup="user-menu">
                    <ul class="user-menu">
                        <li class="user-menu__item"><a class="fz14 text-italic" href="#">Личный кабинет</a></li>
                        <li class="user-menu__item"><a class="fz14 text-italic" href="#">Настройки</a></li>
                        <li class="user-menu__item"><a class="fz14 text-italic" href="#">Статистика<div class="user-menu__item-statistic">+5</div></a></li>
                        <li class="user-menu__item"><a class="fz14 text-italic" href="#">Выход</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>