<div class="section section_main mb25">
        <div class="container">
            <div class="dashboard">
                <div class="dashboard__title">Ищите работу и персонал с нами!</div>
                <div class="dashboard__subtitle italic">Подзаголовок, призывающий присоединиться как</div>
                <div class="dashboard__buttons">
                    <div><button class="dashboard__button button button_green" type="submit">Соискатель</button></div>
                    <div><button class="dashboard__button button button_blue" type="submit">Работодатель</button></div>
                </div>
                <div class="dashboard__form-wrapper dashboard-form">
                    <div class="dashboard__form-header">
                        <div class="dashboard-form__title">войти при помощи</div>
                    </div>
                    <div class="dashboard-form__body">
                        <div class="dashboard-form__social">
                            <p><a href="#"><i class="facebook"></i></a></p>
                            <p><a href="#"><i class="google"></i></a></p>
                            <p><a href="#"><i class="instagram"></i></a></p>
                            <p><a href="#"><i class="twitter"></i></a></p>
                            <p><a href="#"><i class="vkontakte"></i></a></p>
                        </div>
                        <form class="dashboard-form">
                            <p class="tac mb10"><input class="dashboard-form__input input" type="text"></p>
                            <p class="tac mb10"><input class="dashboard-form__input input " type="text"></p>
                            <p class="mb10"><button class="dashboard-form__button tac button">Вход</button></p>
                        </form>
                        <div class="dashboard-form__remember-me remember-me">
                            <div class="checkbox">
                                <input class="mr5" type="checkbox" id="remember-me">
                                <label class="checkbox__label italic" for="remember-me">Запомнить меня</label>
                            </div>
                            <p><a class="remember-me__forgot-pass italic" href="#">Забыл(а) пароль</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="main-content">
            <div class="main-content__banner"><img src="/images/banner-left.jpg" alt=""></div>
            <div class="main-content__content">
                <div class="main-features mb60">
                    <div class="main-features__title tac mb30">В чём особенности проекта</div>
                    <div class="grid grid_4-items">
                        <div class="grid__item feautures-item">
                            <div class="mb10"><i class="resume"></i></div>
                            <div class="feautures-item__title tac mb5">Что-то про резюме</div>
                            <div class="feautures-item__descr italic">Недлинное описание того, в чем здесь особенность резюме, как здесь с этим помогают</div>
                        </div>
                        <div class="grid__item">
                            <div class="mb10"><i class="target"></i></div>
                            <div class="feautures-item__title tac mb5">О целях и задачах</div>
                            <div class="feautures-item__descr italic">О поддержке клиента, о сервисе, о призвании сайта помочь найти работу</div>
                        </div>
                        <div class="grid__item">
                            <div class="mb10"><i class="cooperation"></i></div>
                            <div class="feautures-item__title tac mb5">О сотрудничестве</div>
                            <div class="feautures-item__descr italic">О том, что сайт дружит с  крупными компаниями в нашей стране</div>
                        </div>
                        <div class="grid__item">
                            <div class="mb10"><i class="dream-work"></i></div>
                            <div class="feautures-item__title tac mb5">О работе мечты</div>
                            <div class="feautures-item__descr italic">Здесь можно найти работу своей мечты, и сайт будет всецело этому помогать</div>
                        </div>
                    </div>
                </div>
                <div class="main-articles">
                    <div class="main-articles__title"></div>
                    <div class="grid grid_2-items">
                        <div class="grid__item grid__item_large"></div>
                        <div class="grid__item grid__item_small"></div>
                        <div class="grid__item grid__item_small"></div>
                        <div class="grid__item grid__item_large"></div>
                    </div>
                    <p class="tac"><button class="button button_empty"></button></p>
                </div>
            </div>
            <div class="main-content__banner"><img src="/images/banner-right.jpg" alt=""></div>
        </div>
    </div>
</div>