<div class="mobile-menu-popup js-popup" data-popup="mobile-menu">
    <div class="mobile-menu">
        <div class="mobile-menu__header mb20">
            {% if auth == 'false' %}
                <span class="header-login__button-login button button_green js-change-popup" data-closing-popup="mobile-menu" data-opening-popup="login-bar">Войти</span>
            {% else %}
                <span class="header-avatar">
                    <i class="fri_avatar"></i>
                    <div class="header-avatar__count">5</div>
                </span>
            {% endif %}
            <a class="mobile-menu__close js-close-popup" href="#"></a>
        </div>
        <ul class="main-menu mb30">
            {% if auth == 'true' %}
                <li class="main-menu__item">
                    <a class="main-menu__item-link text-without-underline" href="#">Личный кабинет</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__item-link text-without-underline" href="#">Настройки</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__item-link text-without-underline" href="#">Статистика</a><div class="user-menu__item-statistic">+5</div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__item-link text-without-underline" href="#">Выход</a>
                </li>
            {% endif %}
            <li class="main-menu__item">
                <a class="main-menu__item-link text-without-underline" href="#">Прайс-лист</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__item-link text-without-underline" href="#">Помощь</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__item-link text-without-underline" href="#">Договор-оферта</a>
            </li>
        </ul>
        <div class="mobile-search">
            <form class="mobile-search-form">
                <div class="mobile-search-form__line mb10">
                    <input class="inputs-header__input text-dull-gray text-italic" type="text" placeholder="Введите запрос">
                </div>
                <div class="mobile-search-form__line mb10">
                    <div class="inputs-header__select">
                        <select class="text-dull-gray text-italic">
                            <option>Вакансии</option>
                            <option>Работодатели</option>
                        </select>
                    </div>
                    <div class="inputs-header__search-button button button_green">
                        <i class="fri fri_search-button-loupe"></i>
                    </div>
                </div>
            </form>
            <a class="fz14 text-dull-gray text-italic text-without-underline" href="#">Расширенный поиск</a>
        </div>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="reset-password">
    <div class="popup">
        <div class="close-popup popup__close js-close-popup" ></div>
        <div class="popup__header">
            <div class="popup__title text-medium fz22 text-uppercase text-signal-black">Восстановление пароля</div>
        </div>
        <form class="popup__body">
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Номер телефона (+7707*******)/E-mail"></p>
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Выберите контрольный вопрос из списка"></p>
            <p class="mb30"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Ответ на контрольный вопрос"></p>
            <p class="text-center"><button class="popup__button button button_green fz15 text-light">Восстановить</button></p>
        </form>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="employer-registration">
    <div class="popup">
        <div class="close-popup popup__close js-close-popup" ></div>
        <div class="popup__header">
            <div class="popup__title text-medium fz22 text-uppercase text-signal-black">Регистрация работодателя</div>
        </div>
        <form class="popup__body">
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Номер телефона (+7707*******)/E-mail"></p>
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="password" placeholder="Пароль от 8 до 20 (строчные буквы латинского алфавита и цифры)"></p>
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="password" placeholder="Повторите пароль"></p>
            <p class="mb15">
                <select class="select" type="text" placeholder="Выберите контрольный вопрос из списка">
                    <option>Девичья фамилия матери</option>
                    <option>Кличка вашего первого домашнего животного</option>
                    <option>Первый пляж, который вы посетили</option>
                </select>
            </p>
            <p class="mb25"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Ответ на контрольный вопрос"></p>
            <p class="text-italic fz14 text-dark-dull-gray mb45">Регистрируясь на сайте, вы подтверждаете, что ознакомлены и согласны с
                <a href="#">условиями оказания услуг</a> сайта llab.kz</p>
            <p class="text-center"><button class="popup__button button button_green fz15 text-light">Зарегистрироваться</button></p>
        </form>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="competitor-registration">
    <div class="popup">
        <div class="close-popup popup__close js-close-popup" ></div>
        <div class="popup__header">
            <div class="popup__title text-medium fz22 text-uppercase text-signal-black">Регистрация соискателя</div>
        </div>
        <form class="popup__body">
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Номер телефона (+7707*******)/E-mail"></p>
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="password" placeholder="Пароль от 8 до 20 (строчные буквы латинского алфавита и цифры)"></p>
            <p class="mb15"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="password" placeholder="Повторите пароль"></p>
            <p class="mb15">
                <select class="select" type="text" placeholder="Выберите контрольный вопрос из списка">
                    <option>Девичья фамилия матери</option>
                    <option>Кличка вашего первого домашнего животного</option>
                    <option>Первый пляж, который вы посетили</option>
                </select>
            </p>
            <p class="mb25"><input class="input input__gray-border input__active-green-border text-italic fz14 text-dark-dull-gray" type="text" placeholder="Ответ на контрольный вопрос"></p>
            <p class="text-italic fz14 text-dark-dull-gray mb45">Регистрируясь на сайте, вы подтверждаете, что ознакомлены и согласны с
                <a class="link-standard" href="#">условиями оказания услуг</a> сайта llab.kz</p>
            <p class="text-center"><button class="popup__button button button_green fz15 text-light">Зарегистрироваться</button></p>
        </form>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="search-vacancies">
    <div class="filter">
        <div class="close-popup popup__close js-close-popup" ></div>
        <div class="filter__section">
            <div class="filter__line mb15">
                <div class="text-italic fz18">Вакансии</div>
            </div>
            <div class="filter__line">
                <input class="js-autocomplete-input filter__input text-italic" data-source="json/vacancies.json">
            </div>
            <div class="filter__inputs"></div>
        </div>
        <div class="filter__section">
            <div class="filter__line mb15">
                <div class="text-italic fz18">Город</div>
            </div>
            <div class="filter__line">
                <input id="cities" class="js-autocomplete-input filter__input text-italic" data-source="json/cities.json">
            </div>
            <div class="filter__inputs"></div>
        </div>
        
        <div class="filter__section">
            <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                <div class="text-italic fz18 mr5">Образование</div>
                <i class="fri fri_filter-show-input"></i>
            </div>

            <div class="filter__line cursor-pointer mb7 pl20">
                <div class="text-italic fz14 text-dark-dull-gray">Высшее</div>
                <i class="fri fri_filter-remove-input"></i>
            </div>

            <div class="filter__line pl20">
                <i class="fri fri_filter-add-input"></i>
            </div>
        </div>


        <div class="filter__section">
            <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                <div class="text-italic fz18 mr5">Зарплата</div>
                <i class="fri fri_filter-show-input"></i>
            </div>

            <div class="filter__line mb7">
                <div class="filter__line filter__line_justify-start">
                    <input class="filter__input filter__input_salary text-italic mr5" type="text" placeholder="100.000">
                    <span class="mr5 text-dark-dull-gray">-</span>
                    <input class="filter__input filter__input_salary text-italic" type="text" placeholder="150.000">
                </div>
                <i class="fri fri_filter-remove-input"></i>
            </div>

            <div class="filter__line filter__line_justify-start">
                <div class="filter__select-currency text-italic mr5">
                    <select class="text-dull-gray text-italic">
                        <option>KZT</option>
                        <option>USD</option>
                    </select>
                </div>
                <i class="fri fri_filter-add-input"></i>
            </div>
        </div>

        <div class="filter__section">
            <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                <div class="text-italic fz18 mr5">Вид деятельности</div>
                <i class="fri fri_filter-show-input"></i>
            </div>

            <div class="filter__line">
                <input class="filter__input text-italic" type="text" placeholder="Программирование">
            </div>
        </div>

        <div class="filter__section">
            <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                <div class="text-italic fz18 mr5">Тип занятости</div>
                <i class="fri fri_filter-show-input"></i>
            </div>

            <div class="filter__line cursor-pointer mb5 pl20">
                <div class="text-italic fz14 text-dark-dull-gray">Полный рабочий день (5/2)</div>
                <i class="fri fri_filter-remove-input"></i>
            </div>

            <div class="filter__line cursor-pointer mb5 pl20">
                <div class="text-italic fz14 text-dark-dull-gray">Полный рабочий день (6/1)</div>
                <i class="fri fri_filter-remove-input"></i>
            </div>
            <div class="filter__line pl20">
                <i class="fri fri_filter-add-input"></i>
            </div>
        </div>

        <div class="filter__section">
            <div class="filter__line filter__line_justify-start filter__line_align-baseline cursor-pointer mb15">
                <div class="text-italic fz18 mr5">Опыт работы</div>
                <i class="fri fri_filter-show-input"></i>
            </div>
            <div class="filter__line cursor-pointer mb7 pl20">
                <div class="text-italic fz14 text-dark-dull-gray">3-5 лет</div>
                <i class="fri fri_filter-remove-input"></i>
            </div>
            <div class="filter__line pl20">
                <i class="fri fri_filter-add-input"></i>
            </div>
        </div>
        <p class="filter__search-button text-center hidden"><button class="popup__button button button_green fz15 text-light">Поиск</button></p>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="order-form">
    <form class="order-form">
        <div class="close-popup popup__close order-form__close js-close-popup"></div>
        <div class="order-form__title text-center fz16 text-uppercase mb45">Форма заказа</div>
        <div class="order-form__grid order-form-grid mb15">
            <div class="order-form-grid__name text-light fz15 text-uppercase">Номер заказа:</div>
            <div class="order-form-grid__param fz15 text-uppercase"><strong>0000005566</strong></div>
        </div>
        <div class="order-form__grid order-form-grid mb15">
            <div class="order-form-grid__name text-light fz15 text-uppercase">Продукт:</div>
            <div class="order-form-grid__param fz15 text-uppercase"><strong>Абонентский пакет "Standard"</strong></div>
        </div>
        <div class="order-form__grid order-form-grid mb15">
            <div class="order-form-grid__name text-light fz15 text-uppercase">Сумма заказа:</div>
            <div class="order-form-grid__param fz15 text-uppercase"><strong>50 000 KZT</strong></div>
        </div>
        <div class="order-form__grid order-form-grid mb45">
            <div class="order-form-grid__name text-light fz15 text-uppercase">Ваш email:</div>
            <div class="order-form-grid__param fz15 text-uppercase"><input class="input default-input default-input_h20" type="text"></div>
        </div>
        <p class="text-center"><button class="order-form__button popup__button button button_green fz15 text-light">Оформить</button></p>
    </form>
</div>

<div class="popup-wrapper js-popup" data-popup="response">
    <div class="response">
        <div class="close-popup popup__close response__close js-close-popup"></div>
        <div class="response__text fz18">Ваш отклик <span class="text-green">успешно</span> отправлен работодателю!</div>
    </div>
</div>